<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" ng-controller="sidebarController">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-user">
                <div class="image">
                    <img src="../assets/img/user_profile.jpg" alt="" />
                </div>
                <div class="info">
                    <div class="name dropdown">
                        <a href="javascript:;" data-toggle="dropdown">Thomas Evans <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Edit Profile</a></li>
                            <li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
                            <li><a href="javascript:;">Calendar</a></li>
                            <li><a href="javascript:;">Setting</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;">Log Out</a></li>
                        </ul>
                    </div>
                    <div class="position">Front End Designer</div>
                </div>
            </li>
            <li class="nav-header">Navigation</li>
            <li class="has-sub" ng-class="{active:$state.includes('app.dashboard')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-home"></i>
                    <span>Dashboard <span class="label label-theme m-l-3">NEW</span></span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.dashboard.v1">Dashboard v1</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.dashboard.v2">Dashboard v2</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.dashboard.v3">Dashboard v3</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.dashboard.v4">Dashboard v4 <i class="fa fa-paper-plane text-theme m-l-3"></i></a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.bootstrap4">
					<div class="icon-img"><img src="../assets/img/bootstrap-4.png" alt="" /></div>
                    <span>Bootstrap 4</span>
                </a>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.email')}">
                <a href="javascript:;">
                    <span class="badge pull-right">10</span>
                    <i class="fa fa-inbox"></i> 
                    <span>Email</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.email.inbox">Inbox</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.email.compose">Compose</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.email.detail">Detail</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.widget">
                    <i class="fa fa-gem"></i>
                    <span>Widgets</span>
                </a>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.ui')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-suitcase"></i>
                    <span>UI Elements</span> 
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.ui.general">General</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.ui.typography">Typography</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.ui.tabsAccordions">Tabs & Accordions</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.ui.modalNotification">Modal & Notification</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.ui.widgetBoxes">Widget Boxes</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.ui.mediaObject">Media Object</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.ui.buttons">Buttons</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.ui.fontAwesome">Font Awesome</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.ui.simpleLineIcons">Simple Line Icons</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.ui.ionicons">Ionicons</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.form')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-file"></i>
                    <span>Form Stuff</span> 
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.form.elements">Form Elements</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.form.plugins">Form Plugins</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.form.sliderSwitcher">Form Slider + Switcher</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.form.validation">Form Validation</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.form.wysiwyg">WYSIWYG</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.table')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-th"></i>
                    <span>Tables</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.table.basic">Basic Tables</a></li>
                    <li class="has-sub" ng-class="{active:$state.includes('app.table.manage')}">
                        <a href="javascript:;"><b class="caret pull-right"></b> Managed Tables</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.default">Default</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.autofill">Autofill</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.buttons">Buttons</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.colReorder">ColReorder</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.fixedColumn">Fixed Column</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.fixedHeader">Fixed Header</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.keyTable">KeyTable</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.responsive">Responsive</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.rowReorder">RowReorder</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.scroller">Scroller</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.select">Select</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.combine">Extension Combination</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-envelope"></i>
                    <span>Email Template <span class="label label-theme m-l-3">NEW</span></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="views/email_newsletter.html" target="_blank">Newsletter Template <i class="fa fa-paper-plane text-theme m-l-3"></i></a></li>
                    <li><a href="views/email_system.html" target="_blank">System Template <i class="fa fa-paper-plane text-theme m-l-3"></i></a></li>
                    <li><a href="views/email_billing.html" target="_blank">Billing Template <i class="fa fa-paper-plane text-theme m-l-3"></i></a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.map')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-map-marker"></i>
                    <span>Maps</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.map.vector">Vector Map</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.map.google">Google Map</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.chart')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-chart-area"></i>
                    <span>Chart</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.chart.flot">Flot Chart</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.morris">Morris Chart</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.chartjs">Chart JS</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a href="calendar.html" ui-sref="app.calendar">
                    <i class="fa fa-calendar"></i>
                    <span>Calendar</span>
                </a>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.page')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-file"></i>
                    <span>Pages</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.page.gallery">Gallery</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.page.timeline">Timeline</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.page.searchResults">Search Results</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.page.invoice">Invoice</a></li>
                    <li ui-sref-active="active"><a ui-sref="comingSoon">Coming Soon Page</a></li>
                    <li ui-sref-active="active"><a ui-sref="error">404 Error Page</a></li>
                    <li ui-sref-active="active"><a ui-sref="login">Login Page</a></li>
                    <li ui-sref-active="active"><a ui-sref="register">Register Page</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.layout')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-cogs"></i>
                    <span>Layout Options</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.layout.pageBlank">Blank Page</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.layout.pageFixedFooter">Page with Fixed Footer</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.layout.pageRightSidebar">Page with Right Sidebar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.layout.pageMinifiedSidebar">Page with Minified Sidebar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.layout.pageTwoSidebar">Page with Two Sidebar</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.layout.pageTopMenu">Page with Top Menu</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.layout.pageMixedMenu">Page with Mixed Menu</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.layout.pageBoxedLayout">Page with Boxed Layout</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.layout.pageBoxedMixedMenu">Boxed Layout with Mixed Menu</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.layout.pageWithoutSidebar">Page without Sidebar</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-cubes"></i>
                    <span>Version</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="../../html/template_content/index_v2.html">HTML</a></li>
                    <li><a href="javascript:;">Angular JS</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.helper')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-medkit"></i>
                    <span>Helper</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a href="helper_css.html" ui-sref="app.helper.css">Predefined CSS Classes</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-align-left"></i> 
                    <span>Menu Level</span>
                </a>
                <ul class="sub-menu">
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            Menu 1.1
                        </a>
                        <ul class="sub-menu">
                            <li class="has-sub">
                                <a href="javascript:;">
                                    <b class="caret pull-right"></b>
                                    Menu 2.1
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="javascript:;">Menu 3.1</a></li>
                                    <li><a href="javascript:;">Menu 3.2</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;">Menu 2.2</a></li>
                            <li><a href="javascript:;">Menu 2.3</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">Menu 1.2</a></li>
                    <li><a href="javascript:;">Menu 1.3</a></li>
                </ul>
            </li>
            <li class="divider has-minify-btn">
                <!-- begin sidebar minify button -->
                <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                <!-- end sidebar minify button -->
            </li>
            <li class="nav-header">Projects</li>
            <li class="nav-project">
                <ul class="project-list">
                    <li>
                        <div class="icon"><i class="far fa-circle text-success"></i></div>
                        <div class="info">
                            <div class="title"><a href="javascript:;">iPhone Apps Development</a></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: 60%"></div>
                            </div>
                            <div class="desc">Donec tristique malesuada nibh quis lobortis. Quisque viverra faucibus hendrerit.</div>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><i class="far fa-circle text-danger"></i></div>
                        <div class="info">
                            <div class="title"><a href="javascript:;">Website Redesign</a></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" style="width: 30%"></div>
                            </div>
                            <div class="desc">Integer fermentum arcu et dolor sodales, quis laoreet justo aliquam.</div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->

