<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
	<li class="breadcrumb-item active">Bootstrap 4</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Bootstrap 4 <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row">
	<!-- begin col-4 -->
	<div class="col-lg-4">
		<img src="../assets/img/bootstrap-4-lg.png" class="img-landscape" alt="" />
	</div>
	<!-- end col-4 -->
	<!-- begin col-8 -->
	<div class="col-lg-8">
		<h1>Bootstrap 4</h1>
		<p class="lead">
			Build responsive, mobile-first projects on the web with the world's most popular front-end component library.
		</p>
		<p class="lead">
			Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.
		</p>
	</div>
	<!-- end col-8 -->
</div>
<!-- end row -->
<hr />
<!-- begin row -->
<div class="row m-b-30">
	<!-- begin col-4 -->
	<div class="col-lg-4">
		<h5 class="m-t-15 f-s-12 m-b-15 text-muted">BOOTSTRAP CARDS</h5>
		<!-- begin card -->
		<div class="card">
			<img class="card-img-top" src="../assets/img/card-8.jpg" alt="" />
			<div class="card-body">
				<h4 class="card-title">Card title</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-purple">Go somewhere</a>
			</div>
		</div>
		<!-- end card -->
		
		<h5 class="m-t-30 f-s-12 m-b-15 text-muted">NAVIGATION</h5>
		<!-- begin card -->
		<div class="card text-center">
			<div class="card-header">
				<ul class="nav nav-pills card-header-pills nav-pills-purple">
					<li class="nav-item">
						<a class="nav-link active" href="#">Active</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</div>
			<div class="card-body">
				<h4 class="card-title">Special title treatment</h4>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#" class="btn btn-purple">Go somewhere</a>
			</div>
		</div>
		<!-- end card -->
	</div>
	<!-- end col-4 -->
	<!-- begin col-4 -->
	<div class="col-lg-4">
		<h5 class="m-t-15 f-s-12 m-b-15 text-muted">BLOCKS</h5>
		<!-- begin card -->
		<div class="card">
			<div class="card-body">
				This is some text within a card block.
			</div>
		</div>
		<!-- end card -->
		
		<h5 class="m-t-30 f-s-12 m-b-15 text-muted">TITLES, TEXT, and LINKS</h5>
		<!-- begin card -->
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Card title</h4>
				<h6 class="card-subtitle m-b-10 text-muted">Card subtitle</h6>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="card-link">Card link</a>
				<a href="#" class="card-link">Another link</a>
			</div>
		</div>
		<!-- end card -->
		
		<h5 class="m-t-30 f-s-12 m-b-15 text-muted">LIST GROUPS</h5>
		<!-- begin card -->
		<div class="card">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
		<!-- end card -->
		
		<h5 class="m-t-30 f-s-12 m-b-15 text-muted">HEADER AND FOOTER</h5>
		<!-- begin card -->
		<div class="card">
			<div class="card-header">
				Featured
			</div>
			<div class="card-body">
				<h4 class="card-title">Special title treatment</h4>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#" class="btn btn-purple">Go somewhere</a>
			</div>
		</div>
		<!-- end card -->
	</div>
	<!-- end col-4 -->
	<!-- begin col-4 -->
	<div class="col-lg-4">
		<h5 class="m-t-15 f-s-12 m-b-15 text-muted">IMAGES</h5>
		<!-- begin card -->
		<div class="card">
			<img class="card-img-top" src="../assets/img/card-7.jpg" alt="" />
			<div class="card-body">
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
		<!-- end card -->
		
		<h5 class="m-t-30 f-s-12 m-b-15 text-muted">IMAGE OVERLAY</h5>
		<!-- begin card -->
		<div class="card bg-dark text-white">
			<img class="card-img" src="../assets/img/card-9.jpg" alt="">
			<div class="card-img-overlay">
				<h4 class="card-title text-white">Card title</h4>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				<p class="card-text">Last updated 3 mins ago</p>
			</div>
		</div>
		<!-- end card -->
	</div>
	<!-- end col-4 -->
</div>
<!-- end row -->
<hr />

<h5 class="m-t-30 f-s-12 m-b-15 text-muted">BACKGFROUND & COLORS</h5>
<!-- begin row -->
<div class="row m-b-30">
	<!-- begin col-3 -->
	<div class="col-lg-3">
		<div class="card text-white bg-primary m-b-20">
			<div class="card-header">Header</div>
				<div class="card-body">
				<h4 class="card-title m-t-5 text-white">Primary card title</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
	</div>
	<!-- end col-3 -->
	<!-- begin col-3 -->
	<div class="col-lg-3">
		<div class="card text-white bg-secondary m-b-20">
			<div class="card-header">Header</div>
			<div class="card-body">
				<h4 class="card-title m-t-5 text-white">Secondary card title</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
	</div>
	<!-- end col-3 -->
	<!-- begin col-3 -->
	<div class="col-lg-3">
		<div class="card text-white bg-success m-b-20">
			<div class="card-header">Header</div>
			<div class="card-body">
				<h4 class="card-title m-t-5 text-white">Success card title</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
	</div>
	<!-- end col-3 -->
	<!-- begin col-3 -->
	<div class="col-lg-3">
		<div class="card text-white bg-danger m-b-20">
			<div class="card-header">Header</div>
			<div class="card-body">
				<h4 class="card-title m-t-5 text-white">Danger card title</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
	</div>
	<!-- end col-3 -->
	<!-- begin col-3 -->
	<div class="col-lg-3">
		<div class="card bg-warning m-b-20">
			<div class="card-header">Header</div>
			<div class="card-body">
				<h4 class="card-title m-t-5">Warning card title</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
	</div>
	<!-- end col-3 -->
	<!-- begin col-3 -->
	<div class="col-lg-3">
		<div class="card text-white bg-info m-b-20">
			<div class="card-header">Header</div>
			<div class="card-body">
				<h4 class="card-title m-t-5 text-white">Info card title</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
	</div>
	<!-- end col-3 -->
	<!-- begin col-3 -->
	<div class="col-lg-3">
		<div class="card bg-light m-b-20">
			<div class="card-header">Header</div>
			<div class="card-body">
				<h4 class="card-title m-t-5">Light card title</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
	</div>
	<!-- end col-3 -->
	<!-- begin col-3 -->
	<div class="col-lg-3">
		<div class="card text-white bg-dark m-b-20">
			<div class="card-header">Header</div>
			<div class="card-body">
				<h4 class="card-title m-t-5 text-white">Dark card title</h4>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
	</div>
	<!-- end col-3 -->
</div>
<!-- end row -->
<hr />

<h5 class="m-t-30 f-s-12 m-b-15 text-muted">CARD GROUP</h5>
<!-- begin card-group -->
<div class="card-group m-b-20">
	<!-- begin card -->
	<div class="card m-b-10">
		<img class="card-img-top" src="../assets/img/card-5.jpg" alt="" />
		<div class="card-body">
			<h4 class="card-title">Card title</h4>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
	<!-- end card -->
	<!-- begin card -->
	<div class="card m-b-10">
		<img class="card-img-top" src="../assets/img/card-4.jpg" alt="" />
		<div class="card-body">
			<h4 class="card-title">Card title</h4>
			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
	<!-- end card -->
	<!-- begin card -->
	<div class="card m-b-10">
		<img class="card-img-top" src="../assets/img/card-3.jpg" alt="" />
		<div class="card-body">
			<h4 class="card-title">Card title</h4>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
	<!-- end card -->
	<!-- begin card -->
	<div class="card m-b-10">
		<img class="card-img-top" src="../assets/img/card-2.jpg" alt="" />
		<div class="card-body">
			<h4 class="card-title">Card title</h4>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
		</div>
		<div class="card-footer">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
	<!-- end card -->
</div>
<!-- end card-group -->

<!-- begin #footer -->
<div id="footer" class="footer">
	<span class="pull-right">
		<a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
			<i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
		</a>
	</span>
	&copy; 2018 <b>Source Admin</b> All Right Reserved
</div>
<!-- end #footer -->