<div ng-controller="morrisChartController">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Chart</a></li>
        <li class="breadcrumb-item active">Morris Chart</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Morris Chart <small>header small text goes here...</small></h1>
    <!-- end page-header -->
    
    <!-- begin section-container -->
    <div class="section-container section-with-top-border">
        <p class="m-b-15">
            <a href="https://github.com/morrisjs/morris.js" target="_blank">Morris.js</a> is the library that powers the graphs on <a href="http://howmanyleft.co.uk/" target="_blank">http://howmanyleft.co.uk/</a>. It's a very simple API for drawing line, bar, area and donut charts.
        </p>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-lg-6">
                <!-- begin panel -->
                <div class="panel p-20">
                    <h5 class="m-t-0 m-b-15">Line Chart</h5>
                    <div id="line-chart" style="height: 230px"></div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-lg-6">
                <!-- begin panel -->
                <div class="panel p-20">
                    <h5 class="m-t-0 m-b-15">Bar Chart</h5>
                    <div id="bar-chart" style="height: 230px"></div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-lg-6">
                <!-- begin panel -->
                <div class="panel p-20">
                    <h5 class="m-t-0 m-b-15">Area Chart</h5>
                    <div id="area-chart" style="height: 230px"></div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-lg-6">
                <!-- begin panel -->
                <div class="panel p-20">
                    <h5 class="m-t-0 m-b-15">Donut Chart</h5>
                    <div id="donut-chart" style="height: 230px"></div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-6 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end section-container -->

    <!-- begin #footer -->
    <div id="footer" class="footer">
        <span class="pull-right">
            <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
                <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
            </a>
        </span>
        &copy; 2015 <b>Source Admin</b> All Right Reserved
    </div>
    <!-- end #footer -->
</div>