<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">Extra</a></li>
    <li class="breadcrumb-item active">Timeline</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Timeline <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin section-container -->
<div class="section-container section-with-top-border">
    <!-- begin timeline -->
    <ul class="timeline">
        <li>
            <!-- begin timeline-title -->
            <div class="timeline-title">August 2015</div>
            <!-- end timeline-title -->
        </li>
        <li>
            <!-- begin timeline-time -->
            <div class="timeline-time">
                <span class="date">today</span>
                <span class="time">08:53</span>
            </div>
            <!-- end timeline-time -->
            <!-- begin timeline-icon -->
            <div class="timeline-icon">
                <a href="javascript:;"><i class="fa fa-comments"></i></a>
            </div>
            <!-- end timeline-icon -->
            <!-- begin timeline-body -->
            <div class="timeline-body">
                <!-- begin timeline-header -->
                <div class="timeline-header">
                    <div class="pull-right dropdown">
                        <a href="#" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Setting</a></li>
                            <li><a href="#">Remove</a></li>
                        </ul>
                    </div>
                    <span class="userimage"><img src="../assets/img/user_1.jpg" alt="" /></span>
                    <span class="username">
                        <a href="javascript:;">John Smith</a> 
                        <small>Today at 8:53am, London</small>
                    </span>
                </div>
                <!-- end timeline-header -->
                <!-- begin timeline-content -->
                <div class="timeline-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis tincidunt luctus.
                        Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.
                    </p>
                </div>
                <!-- end timeline-content -->
                <!-- begin timeline-footer -->
                <div class="timeline-footer">
                    <a href="javascript:;" class="m-r-25"><i class="fa fa-thumbs-up fa-fw"></i> Like</a>
                    <a href="javascript:;" class="m-r-25"><i class="fa fa-comments fa-fw"></i> Comment</a>
                    <a href="javascript:;"><i class="fa fa-share fa-fw"></i> Share</a>
                </div>
                <!-- end timeline-footer -->
            </div>
            <!-- end timeline-body -->
        </li>
        <li>
            <!-- begin timeline-time -->
            <div class="timeline-time">
                <span class="date">yesterday</span>
                <span class="time">20:17</span>
            </div>
            <!-- end timeline-time -->
            <!-- begin timeline-icon -->
            <div class="timeline-icon">
                <a href="javascript:;"><i class="fa fa-film"></i></a>
            </div>
            <!-- end timeline-icon -->
            <!-- begin timeline-body -->
            <div class="timeline-body">
                <!-- begin timeline-header -->
                <div class="timeline-header">
                    <div class="pull-right dropdown">
                        <a href="#" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Setting</a></li>
                            <li><a href="#">Remove</a></li>
                        </ul>
                    </div>
                    <span class="userimage"><img src="../assets/img/user_4.jpg" alt="" /></span>
                    <span class="username">
                        <a href="javascript:;">Silvestr Velibor</a>
                        <small>yesterday at 8:17pm, San Francisco</small>
                    </span>
                </div>
                <!-- end timeline-header -->
                <!-- begin timeline-content -->
                <div class="timeline-content">
                    <div class="row row-space-2 m-b-15">
                        <div class="col-xs-8">
                            <div class="timeline-main-image">
                                <img src="../assets/img/timeline-pic-1.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="timeline-sub-image">
                                <img src="../assets/img/timeline-pic-2.jpg" alt="" />
                            </div>
                            <div class="timeline-sub-image">
                                <img src="../assets/img/timeline-pic-3.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <h4 class="m-b-5">
                        795 Folsom Ave, Suite 600 San Francisco, CA 94107
                    </h4>
                    <p>In hac habitasse platea dictumst. Pellentesque bibendum id sem nec faucibus. Maecenas molestie, augue vel accumsan rutrum, massa mi rutrum odio, id luctus mauris nibh ut leo.</p>
                </div>
                <!-- end timeline-content -->
                <!-- begin timeline-footer -->
                <div class="timeline-footer">
                    <a href="javascript:;" class="m-r-25"><i class="fa fa-thumbs-up fa-fw"></i> Like</a>
                    <a href="javascript:;" class="m-r-25"><i class="fa fa-comments fa-fw"></i> Comment</a>
                    <a href="javascript:;"><i class="fa fa-share fa-fw"></i> Share</a>
                </div>
                <!-- end timeline-footer -->
            </div>
            <!-- end timeline-body -->
        </li>
        <li>
            <!-- begin timeline-time -->
            <div class="timeline-time">
                <span class="date">24 February 2014</span>
                <span class="time">12:30</span>
            </div>
            <!-- end timeline-time -->
            <!-- begin timeline-icon -->
            <div class="timeline-icon">
                <a href="javascript:;"><i class="fa fa-sticky-note"></i></a>
            </div>
            <!-- end timeline-icon -->
            <!-- begin timeline-body -->
            <div class="timeline-body">
                <!-- begin timeline-header -->
                <div class="timeline-header">
                    <div class="pull-right dropdown">
                        <a href="#" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Setting</a></li>
                            <li><a href="#">Remove</a></li>
                        </ul>
                    </div>
                    <span class="userimage"><img src="../assets/img/user_3.jpg" alt="" /></span>
                    <span class="username">
                        <a href="javascript:;">Festus Glenn</a>
                        <small>24-Feb at 12:30pm, Alaska</small>
                    </span>
                </div>
                <!-- end timeline-header -->
                <!-- begin timeline-content -->
                <div class="timeline-content">
                    <p class="lead">
                        <i class="fa fa-quote-left fa-fw pull-left"></i>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        <i class="fa fa-quote-right fa-fw"></i>
                    </p>
                    <p>
                        Vestibulum sodales magna felis, at laoreet nulla aliquet non. Aliquam ac ligula eu est convallis convallis. Cras eu arcu quis justo dictum fermentum id ac leo. Vestibulum ut velit lorem. Nullam vel ultricies elit. Vestibulum egestas placerat purus, ut molestie quam finibus eu.
                    </p>
                </div>
                <!-- end timeline-content -->
                <!-- begin timeline-footer -->
                <div class="timeline-footer">
                    <a href="javascript:;" class="m-r-25"><i class="fa fa-thumbs-up fa-fw"></i> Like</a>
                    <a href="javascript:;" class="m-r-25"><i class="fa fa-comments fa-fw"></i> Comment</a>
                    <a href="javascript:;"><i class="fa fa-share fa-fw"></i> Share</a>
                </div>
                <!-- end timeline-footer -->
            </div>
            <!-- end timeline-body -->
        </li>
        <li>
            <!-- begin timeline-time -->
            <div class="timeline-time">
                <span class="date">10 January 2014</span>
                <span class="time">20:45</span>
            </div>
            <!-- end timeline-time -->
            <!-- begin timeline-icon -->
            <div class="timeline-icon">
                <a href="javascript:;"><i class="fa fa-map"></i></a>
            </div>
            <!-- end timeline-icon -->
            <!-- begin timeline-body -->
            <div class="timeline-body">
                <!-- begin timeline-header -->
                <div class="timeline-header">
                    <div class="pull-right dropdown">
                        <a href="#" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Setting</a></li>
                            <li><a href="#">Remove</a></li>
                        </ul>
                    </div>
                    <span class="userimage"><img src="../assets/img/user_2.jpg" alt="" /></span>
                    <span class="username">
                        <a href="javascript:;">Jochen Radomir</a>
                        <small>10-Jan at 8:45pm, United State</small>
                    </span>
                </div>
                <!-- end timeline-header -->
                <!-- begin timeline-content -->
                <div class="timeline-content">
                    <div id="google-map" class="height-sm m-b-10" style="position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 92px; top: -184px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 92px; top: 72px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 348px; top: -184px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 348px; top: 72px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: -164px; top: -184px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: -164px; top: 72px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 604px; top: -184px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 604px; top: 72px;"></div></div></div></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"></div><div style="position: absolute; z-index: 0; transform: translateZ(0px); left: 0px; top: 0px;"><div style="overflow: hidden;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="transform: translateZ(0px); position: absolute; left: 348px; top: -184px; width: 256px; height: 256px; transition: opacity 200ms ease-out;"><img src="https://mts0.googleapis.com/vt?pb=!1m4!1m3!1i6!2i58!3i37!2m3!1e0!2sm!3i317172965!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5pbDp0cnVlfHAuczoxMHxwLmw6MTB8cC5nOjAuOHxwLmg6IzI5MzAzNixzLnQ6NnxwLnY6b258cC5jOiNmZjI5MzAzNg!4e0" draggable="false" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px;"></div><div style="transform: translateZ(0px); position: absolute; left: -164px; top: -184px; width: 256px; height: 256px; transition: opacity 200ms ease-out;"><img src="https://mts0.googleapis.com/vt?pb=!1m4!1m3!1i6!2i56!3i37!2m3!1e0!2sm!3i317172965!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5pbDp0cnVlfHAuczoxMHxwLmw6MTB8cC5nOjAuOHxwLmg6IzI5MzAzNixzLnQ6NnxwLnY6b258cC5jOiNmZjI5MzAzNg!4e0" draggable="false" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px;"></div><div style="transform: translateZ(0px); position: absolute; left: -164px; top: 72px; width: 256px; height: 256px; transition: opacity 200ms ease-out;"><img src="https://mts0.googleapis.com/vt?pb=!1m4!1m3!1i6!2i56!3i38!2m3!1e0!2sm!3i317172965!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5pbDp0cnVlfHAuczoxMHxwLmw6MTB8cC5nOjAuOHxwLmg6IzI5MzAzNixzLnQ6NnxwLnY6b258cC5jOiNmZjI5MzAzNg!4e0" draggable="false" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px;"></div><div style="transform: translateZ(0px); position: absolute; left: 604px; top: 72px; width: 256px; height: 256px; transition: opacity 200ms ease-out;"><img src="https://mts1.googleapis.com/vt?pb=!1m4!1m3!1i6!2i59!3i38!2m3!1e0!2sm!3i317172965!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5pbDp0cnVlfHAuczoxMHxwLmw6MTB8cC5nOjAuOHxwLmg6IzI5MzAzNixzLnQ6NnxwLnY6b258cC5jOiNmZjI5MzAzNg!4e0" draggable="false" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px;"></div><div style="transform: translateZ(0px); position: absolute; left: 92px; top: -184px; width: 256px; height: 256px; transition: opacity 200ms ease-out;"><img src="https://mts1.googleapis.com/vt?pb=!1m4!1m3!1i6!2i57!3i37!2m3!1e0!2sm!3i317172965!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5pbDp0cnVlfHAuczoxMHxwLmw6MTB8cC5nOjAuOHxwLmg6IzI5MzAzNixzLnQ6NnxwLnY6b258cC5jOiNmZjI5MzAzNg!4e0" draggable="false" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px;"></div><div style="transform: translateZ(0px); position: absolute; left: 348px; top: 72px; width: 256px; height: 256px; transition: opacity 200ms ease-out;"><img src="https://mts0.googleapis.com/vt?pb=!1m4!1m3!1i6!2i58!3i38!2m3!1e0!2sm!3i317172965!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5pbDp0cnVlfHAuczoxMHxwLmw6MTB8cC5nOjAuOHxwLmg6IzI5MzAzNixzLnQ6NnxwLnY6b258cC5jOiNmZjI5MzAzNg!4e0" draggable="false" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px;"></div><div style="transform: translateZ(0px); position: absolute; left: 604px; top: -184px; width: 256px; height: 256px; transition: opacity 200ms ease-out;"><img src="https://mts1.googleapis.com/vt?pb=!1m4!1m3!1i6!2i59!3i37!2m3!1e0!2sm!3i317172965!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5pbDp0cnVlfHAuczoxMHxwLmw6MTB8cC5nOjAuOHxwLmg6IzI5MzAzNixzLnQ6NnxwLnY6b258cC5jOiNmZjI5MzAzNg!4e0" draggable="false" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px;"></div><div style="transform: translateZ(0px); position: absolute; left: 92px; top: 72px; width: 256px; height: 256px; transition: opacity 200ms ease-out;"><img src="https://mts1.googleapis.com/vt?pb=!1m4!1m3!1i6!2i57!3i38!2m3!1e0!2sm!3i317172965!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5pbDp0cnVlfHAuczoxMHxwLmw6MTB8cC5nOjAuOHxwLmg6IzI5MzAzNixzLnQ6NnxwLnY6b258cC5jOiNmZjI5MzAzNg!4e0" draggable="false" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 2; width: 100%; height: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="https://maps.google.com/maps?ll=-33.397,145.644&amp;z=6&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 62px; height: 26px; cursor: pointer;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/google_white2.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 62px; height: 26px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div><div style="padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 171px; top: 60px; background-color: white;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Map data ©2015 GBRMPA, Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 167px; bottom: 0px; width: 167px;"><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Map Data</a><span style="">Map data ©2015 GBRMPA, Google</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2015 GBRMPA, Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; -webkit-user-select: none; position: absolute; right: 95px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div></div><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@-33.397,145.644,6z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div></div></div></div>
                </div>
                <!-- end timeline-content -->
                <!-- begin timeline-footer -->
                <div class="timeline-footer">
                    <a href="javascript:;" class="m-r-25"><i class="fa fa-thumbs-up fa-fw"></i> Like</a>
                    <a href="javascript:;" class="m-r-25"><i class="fa fa-comments fa-fw"></i> Comment</a>
                    <a href="javascript:;"><i class="fa fa-share fa-fw"></i> Share</a>
                </div>
                <!-- end timeline-footer -->
            </div>
            <!-- end timeline-body -->
        </li>
        <li>
            <!-- begin timeline-icon -->
            <div class="timeline-icon">
                <a href="javascript:;"><i class="fa fa-spinner fa-pulse"></i></a>
            </div>
            <!-- end timeline-icon -->
            <!-- begin timeline-body -->
            <div class="timeline-body">
                Loading...
            </div>
            <!-- begin timeline-body -->
        </li>
    </ul>
    <!-- end timeline -->
</div>
<!-- end section-container -->

<!-- begin #footer -->
<div id="footer" class="footer">
    <span class="pull-right">
        <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
            <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
        </a>
    </span>
    &copy; 2015 <b>Source Admin</b> All Right Reserved
</div>
<!-- end #footer -->