<div class="container" ng-controller="comingSoonController">
    <!-- begin bg-cover -->
    <div class="bg-cover">
        <img src="../assets/img/coming-soon-cover.jpg" alt="" />
    </div>
    <!-- end bg-cover -->
    <!-- begin coming-soon -->
    <div class="coming-soon">
        <!-- begin coming-soon-header -->
        <div class="coming-soon-header">
            <div class="brand"><img src="../assets/img/logo.png" height="45" alt="" /><br /> Source Admin</div>
            <div class="desc">
                We're building something awesome from scratch! <br />A lot of new features are coming soon.
            </div>
            <div id="countdown" class="countdown col-4"></div>
        </div>
        <!-- end coming-soon-header -->
        <!-- begin coming-soon-content -->
        <div class="coming-soon-content">
            <div class="desc">
                We're almost ready to launch. Subscribe and get notified!
            </div>
            <div class="coming-soon-form">
                <form class="form-input-flat">
                    <div class="input-group m-b-10">
                        <input type="text" class="form-control" placeholder="Email Address">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-danger">Subscribe</button>
                        </div>
                    </div>
                </form>
                <p class="help-block"><i>We don't spam. Your email address is secure with us.</i></p>
            </div>
            <p>
                Follow us on
            </p>
            <p>
                <a href="#" class="btn btn-inverse btn-rounded width-100 m-b-5 m-r-5"><i class="fa fa-twitter"></i> Twitter</a> 
                <a href="#" class="btn btn-inverse btn-rounded width-100 m-b-5 m-r-5"><i class="fa fa-facebook-square"></i> Facebook</a>
                <a href="#" class="btn btn-inverse btn-rounded width-100 m-b-5"><i class="fa fa-google-plus"></i> Google</a>
            </p>
        </div>
        <!-- end coming-soon-content -->
    </div>
    <!-- end coming-soon -->
</div>
