<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">Extra</a></li>
    <li class="breadcrumb-item active">Search Results</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Search Results <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin search-container -->
<div class="search-container">
    <!-- begin search-icon -->
    <div class="search-icon">
        <i class="fa fa-search"></i>
    </div>
    <!-- end search-icon -->
    <!-- begin search-input -->
    <div class="search-input">
        <input type="text" class="form-control" placeholder="Search Files, Video, Article, Image..." />
    </div>
    <!-- end search-input -->
    <!-- begin search-item -->
    <div class="search-item">
        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-lg-4">
                <a href="#" class="search-item-link" data-toggle="dropdown">Newest <i class="fa fa-chevron-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Newest</a></li>
                    <li><a href="#">Oldest</a></li>
                </ul>
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-lg-4">
                <a href="#" class="search-item-link" data-toggle="dropdown">All Type <i class="fa fa-chevron-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Video</a></li>
                    <li><a href="#">Movie</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Image</a></li>
                    <li><a href="#">Article</a></li>
                </ul>
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-lg-4">
                <a href="#" class="search-item-link" data-toggle="dropdown">List View <i class="fa fa-chevron-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Grid View</a></li>
                    <li><a href="#">List View</a></li>
                </ul>
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end search-item -->
</div>
<!-- end search-container -->

<!-- begin search-result-container -->
<div class="search-result-container">
    <!-- begin search-result-header -->
    <div class="search-result-header">
        <div class="search-result-total"><b class="f-s-16">32</b> Results Found</div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#"><i class="fa fa-fw fa-file"></i> Post</a></li>
            <li class=""><a href="#"><i class="fa fa-fw fa-globe"></i> Pages</a></li>
            <li class=""><a href="#"><i class="fa fa-fw fa-comments"></i> Comments</a></li>
            <li class=""><a href="#"><i class="fa fa-fw fa-comment"></i> Feedback</a></li>
        </ul>
    </div>
    <!-- end search-result-header -->
    <!-- begin search-result-content -->
    <div class="search-result-content">
        <div class="table-responsive">
            <table class="table table-bordered m-b-0">
                <thead>
                    <tr>
                        <th>Primary Image</th>
                        <th>Title</th>
                        <th>Snippet</th>
                        <th class="text-center">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="thumbnail width-xs">
                                <img src="../assets/img/media-1.jpg" alt="" />
                            </div>
                        </td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td>
                            Praesent rhoncus mi ac risus luctus, nec pretium erat sagittis. Praesent aliquet semper erat quis fermentum. Donec eleifend tortor vitae mattis lacinia. Suspendisse vel justo non purus imperdiet feugiat. Etiam vitae dolor eget enim gravida dapibus ut ac odio.
                            <div class="m-t-10">
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-eye"></i> View Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default p-l-10 p-r-10"><i class="fa fa-trash"></i> Trash</a>
                            </div>
                        </td>
                        <td class="text-center"><div class="m-b-5">2015/06/20</div> <span class="text-success-light">Published</span></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="thumbnail width-xs">
                                <img src="../assets/img/media-2.jpg" alt="" />
                            </div>
                        </td>
                        <td>Duis erat orci, malesuada nec vulputate eu, tincidunt sed tortor.</td>
                        <td>
                            Cras quis risus volutpat, tristique arcu quis, efficitur purus. Phasellus vulputate pellentesque ligula vitae efficitur. Suspendisse suscipit libero risus, ut convallis eros congue ut. Pellentesque mauris est, tincidunt quis vestibulum in, porttitor vel risus.
                            <div class="m-t-10">
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-eye"></i> View Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default p-l-10 p-r-10"><i class="fa fa-trash"></i> Trash</a>
                            </div>
                        </td>
                        <td class="text-center"><div class="m-b-5">2015/06/20</div> <span class="text-success-light">Published</span></td>
                   </tr>
                   <tr>
                        <td>
                            <div class="thumbnail width-xs">
                                <img src="../assets/img/media-3.jpg" alt="" />
                            </div>
                        </td>
                        <td>Suspendisse nisi sapien, scelerisque ac maximus id, tempus sed nisi. Donec sed rutrum ex.</td>
                        <td>
                            Nullam ornare nibh eu mauris sollicitudin vehicula. Nam fringilla augue in odio aliquet, sed maximus nulla convallis. Donec nec massa sed velit fringilla pulvinar at eu nibh. Aliquam vehicula pulvinar mollis. 
                            <div class="m-t-10">
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-eye"></i> View Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default p-l-10 p-r-10"><i class="fa fa-trash"></i> Trash</a>
                            </div>
                        </td>
                        <td class="text-center"><div class="m-b-5">2015/06/20</div> <span class="text-success-light">Published</span></td>
                   </tr>
                   <tr>
                        <td>
                            <div class="thumbnail width-xs">
                                <img src="../assets/img/media-4.jpg" alt="" />
                            </div>
                        </td>
                        <td>Pellentesque mauris est, tincidunt quis vestibulum in, porttitor vel risus.</td>
                        <td>
                            Nunc venenatis odio ut ex tincidunt rhoncus. Sed congue lacus mattis ornare fringilla. Vivamus vitae feugiat neque. Fusce eu metus vel odio ultricies dignissim et at libero. Nam euismod posuere augue, ut congue nibh consequat nec.
                            <div class="m-t-10">
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-eye"></i> View Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default p-l-10 p-r-10"><i class="fa fa-trash"></i> Trash</a>
                            </div>
                        </td>
                        <td class="text-center"><div class="m-b-5">2015/06/20</div> <span class="text-success-light">Published</span></td>
                   </tr>
                   <tr>
                        <td>
                            <div class="thumbnail width-xs">
                                <img src="../assets/img/media-5.jpg" alt="" />
                            </div>
                        </td>
                        <td>Morbi ac lectus dui. Curabitur odio nibh, suscipit ut arcu non, imperdiet aliquet elit.</td>
                        <td>
                            Nullam fringilla felis et ullamcorper eleifend. Duis erat orci, malesuada nec vulputate eu, tincidunt sed tortor. Cras quis risus volutpat, tristique arcu quis, efficitur purus.
                            <div class="m-t-10">
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-eye"></i> View Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default p-l-10 p-r-10"><i class="fa fa-trash"></i> Trash</a>
                            </div>
                        </td>
                        <td class="text-center"><div class="m-b-5">2015/06/20</div> <span class="text-success-light">Published</span></td>
                   </tr>
                   <tr>
                        <td>
                            <div class="thumbnail width-xs">
                                <img src="../assets/img/media-6.jpg" alt="" />
                            </div>
                        </td>
                        <td>Proin fermentum risus eu mauris tempus placerat.</td>
                        <td>
                            Aliquam facilisis odio vel velit gravida, pretium elementum neque aliquet. Suspendisse cursus efficitur quam ac ullamcorper. Phasellus tincidunt, elit eu dictum luctus, nisl urna posuere ex, et dignissim dolor libero in dui.
                            <div class="m-t-10">
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-eye"></i> View Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default p-l-10 p-r-10"><i class="fa fa-trash"></i> Trash</a>
                            </div>
                        </td>
                        <td class="text-center"><div class="m-b-5">2015/06/20</div> <span class="text-success-light">Published</span></td>
                   </tr>
                   <tr>
                        <td>
                            <div class="thumbnail width-xs">
                                <img src="../assets/img/media-7.jpg" alt="" />
                            </div>
                        </td>
                        <td>Nullam porttitor vel mauris id ornare. Vivamus ac gravida tellus.</td>
                        <td>
                            Pellentesque feugiat nibh at suscipit maximus. Ut scelerisque magna leo, at pulvinar est tristique et. Duis molestie elit vitae leo faucibus commodo. Praesent et magna tincidunt, maximus sapien quis, ultrices quam.
                            <div class="m-t-10">
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-eye"></i> View Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default p-l-10 p-r-10"><i class="fa fa-trash"></i> Trash</a>
                            </div>
                        </td>
                        <td class="text-center"><div class="m-b-5">2015/06/20</div> <span class="text-success-light">Published</span></td>
                   </tr>
                   <tr>
                        <td>
                            <div class="thumbnail width-xs">
                                <img src="../assets/img/media-8.jpg" alt="" />
                            </div>
                        </td>
                        <td>Donec sed rutrum ex. Nullam ornare nibh eu mauris sollicitudin vehicula.</td>
                        <td>
                            Nam fringilla augue in odio aliquet, sed maximus nulla convallis. Donec nec massa sed velit fringilla pulvinar at eu nibh. Aliquam vehicula pulvinar mollis. Donec turpis magna, accumsan vel libero non, laoreet hendrerit nisi. Aliquam in orci lobortis, vestibulum est sodales, molestie odio.
                            <div class="m-t-10">
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-eye"></i> View Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default p-l-10 p-r-10"><i class="fa fa-trash"></i> Trash</a>
                            </div>
                        </td>
                        <td class="text-center"><div class="m-b-5">2015/06/20</div> <span class="text-success-light">Published</span></td>
                   </tr>
                   <tr>
                        <td>
                            <div class="thumbnail width-xs">
                                <img src="../assets/img/media-9.jpg" alt="" />
                            </div>
                        </td>
                        <td>Sed tristique sagittis nunc, at iaculis purus tempor in. </td>
                        <td>
                             Vivamus vitae feugiat neque. Fusce eu metus vel odio ultricies dignissim et at libero. Nam euismod posuere augue, ut congue nibh consequat nec. Sed tristique sagittis nunc, at iaculis purus tempor in. Suspendisse pharetra et nibh in tincidunt.
                            <div class="m-t-10">
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-eye"></i> View Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default p-l-10 p-r-10"><i class="fa fa-trash"></i> Trash</a>
                            </div>
                        </td>
                        <td class="text-center"><div class="m-b-5">2015/06/20</div> <span class="text-success-light">Published</span></td>
                   </tr>
                   <tr>
                        <td>
                            <div class="thumbnail width-xs">
                                <img src="../assets/img/media-10.jpg" alt="" />
                            </div>
                        </td>
                        <td>Duis erat orci, malesuada nec vulputate eu, tincidunt sed tortor.</td>
                        <td>
                            Pellentesque mauris est, tincidunt quis vestibulum in, porttitor vel risus. Nunc venenatis odio ut ex tincidunt rhoncus. Sed congue lacus mattis ornare fringilla. Vivamus vitae feugiat neque. Fusce eu metus vel odio ultricies dignissim et at libero. Nam euismod posuere augue, ut congue nibh consequat nec.
                            <div class="m-t-10">
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default m-r-3 p-l-10 p-r-10"><i class="fa fa-eye"></i> View Post</a>
                                <a href="#" class="btn btn-xs btn-rounded btn-default p-l-10 p-r-10"><i class="fa fa-trash"></i> Trash</a>
                            </div>
                        </td>
                        <td class="text-center"><div class="m-b-5">2015/06/20</div> <span class="text-success-light">Published</span></td>
                   </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- end search-result-content -->
</div>
<!-- end search-result-container -->

<!-- begin pagination -->
<div class="text-center">
    <ul class="pagination pagination-inverse m-t-0">
        <li class="disabled"><a href="javascript:;">«</a></li>
        <li class="active"><a href="javascript:;">1</a></li>
        <li><a href="javascript:;">2</a></li>
        <li><a href="javascript:;">3</a></li>
        <li><a href="javascript:;">4</a></li>
        <li><a href="javascript:;">5</a></li>
        <li><a href="javascript:;">»</a></li>
    </ul>
</div>
<!-- end pagination -->

<!-- begin #footer -->
<div id="footer" class="footer">
    <span class="pull-right">
        <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
            <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
        </a>
    </span>
    &copy; 2015 <b>Source Admin</b> All Right Reserved
</div>
<!-- end #footer -->