<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">Extra</a></li>
    <li class="breadcrumb-item active">Gallery</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Gallery <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-9 -->
        <div class="col-lg-9">
            <!-- begin gallery-list -->
            <ul class="gallery-list">
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-1.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Quisque a eleifend est, quis accumsan metus.</h5>
                            <small class="text-muted">24/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-2.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Nunc posuere augue vitae mi egestas, in suscipit risus aliquet.</h5>
                            <small class="text-muted">24/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-3.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Mauris erat odio, ullamcorper non lacus ac, pulvinar aliquet eros.</h5>
                            <small class="text-muted">25/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-4.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Maecenas ornare, purus nec egestas dapibus, sem erat dapibus tellus.</h5>
                            <small class="text-muted">25/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-5.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Sed nec justo condimentum, gravida massa id, elementum mauris.</h5>
                            <small class="text-muted">27/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-6.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Donec eget velit quis libero congue blandit.</h5>
                            <small class="text-muted">28/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-7.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Fusce suscipit suscipit nisi eu tempus.</h5>
                            <small class="text-muted">28/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-8.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Cras interdum nisl ut lacus accumsan varius.</h5>
                            <small class="text-muted">28/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-9.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Praesent quis porta sapien.</h5>
                            <small class="text-muted">28/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-10.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Duis pulvinar est ac sem tincidunt dictum.</h5>
                            <small class="text-muted">28/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-11.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Praesent tempor iaculis dolor.</h5>
                            <small class="text-muted">28/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-12.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Pellentesque feugiat varius magna at rutrum.</h5>
                            <small class="text-muted">28/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-13.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Fusce dictum nulla in nunc finibus.</h5>
                            <small class="text-muted">28/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-14.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Duis pulvinar est ac sem tincidunt dictum.</h5>
                            <small class="text-muted">28/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-15.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Phasellus consequat tortor vitae magna iaculis.</h5>
                            <small class="text-muted">29/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-16.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Praesent pretium tempor ante sit amet finibus.</h5>
                            <small class="text-muted">29/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-17.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Vestibulum egestas placerat purus.</h5>
                            <small class="text-muted">30/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-18.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Aliquam consequat blandit purus quis sodales.</h5>
                            <small class="text-muted">31/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-19.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Lorem ipsum dolor sit amet.</h5>
                            <small class="text-muted">31/08/2015</small>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="image-container">
                        <div class="image">
                            <img src="../assets/img/media-20.jpg" alt="" />
                        </div>
                        <div class="btn-list">
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
                        </div>
                        <div class="info">
                            <h5>Suspendisse varius est dui.</h5>
                            <small class="text-muted">31/08/2015</small>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- end gallery-list -->
        </div>
        <!-- end col-9 -->
        <!-- begin col-3 -->
        <div class="col-lg-3">
            <!-- begin panel -->
            <div class="panel p-20">
                <h5 class="m-t-0">Search Images</h5>
                <form class="form-input-flat">
                    <div class="input-group m-b-15">
                        <input type="text" class="form-control" placeholder="Enter keywords..." />
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <div class="horizontal-divider m-0 m-b-15"></div>
                <h5 class="m-t-0">Filter By Category</h5>
                <form class="form-input-flat">
                    <div class="form-group m-b-15">
                        <select class="form-control"> 
                            <option value="">All Category</option>
                            <option value="">Nature</option>
                            <option value="">Car</option>
                            <option value="">People</option>
                            <option value="">Food</option>
                        </select>
                    </div>
                </form>
                <div class="horizontal-divider m-0 m-b-15"></div>
                <h5 class="m-t-0">Tags</h5>
                <ul class="tag-list m-b-10">
                    <li><a href="#">Forest</a></li>
                    <li><a href="#">Animals</a></li>
                    <li><a href="#">People</a></li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">iPhone</a></li>
                    <li><a href="#">Food</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Building</a></li>
                    <li><a href="#">Camera</a></li>
                    <li><a href="#">Insect</a></li>
                    <li><a href="#">Food & Drink</a></li>
                    <li><a href="#">Nature</a></li>
                    <li><a href="#">Objects</a></li>
                    <li><a href="#">Car</a></li>
                </ul>
                <div class="horizontal-divider m-0 m-b-15"></div>
                <div class="text-center">
                    <a href="#" class="btn btn-rounded btn-default btn-sm"><i class="fa fa-plus"></i> Upload New Images</a>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin #footer -->
<div id="footer" class="footer">
    <span class="pull-right">
        <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
            <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
        </a>
    </span>
    &copy; 2015 <b>Source Admin</b> All Right Reserved
</div>
<!-- end #footer -->