<div ng-controller="formWysiwygController">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Form Stuff</a></li>
        <li class="breadcrumb-item active">Form WYSIWYG</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Form WYSIWYG <small>header small text goes here...</small></h1>
    <!-- end page-header -->
    
    <!-- begin panel -->
    <div class="panel panel-inverse m-b-25">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse" data-original-title="" title=""><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-remove" data-original-title="" title=""><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Summernote <span class="label label-danger m-l-5">HTML5</span></h4>
        </div>
        <form action="/" name="summernote" method="POST">
            <textarea class="textarea form-control" id="summernote" placeholder="Enter text ..." rows="15" data-height="500">
                <h3 class="m-t-0">Lorem ipsum dolor sit amet adipiscing elit.</h3>
                <p class="m-b-0">
                    Lorem ipsum dolor sit amet, <b>consectetur</b> adipiscing elit. Nulla non enim sed felis laoreet sodales commodo vitae lorem.<br />
                    Proin interdum porta purus, a mattis nisi pharetra ut. Curabitur tempus, massa non <u>mollis elementum</u>, nunc lectus commodo nulla, sit amet cursus tortor sem commodo ante. <br />
                    Vestibulum nec est bibendum, mattis dolor in, dignissim dolor. Nunc hendrerit dignissim augue.<br /><br />
                </p>
                <img src="../assets/img/media-1.jpg" alt="" />
                <img src="../assets/img/media-2.jpg" alt="" />
                <br /><br />
                Nunc tempus lorem in nisl rhoncus, in efficitur ligula auctor. Curabitur malesuada tellus id eros pulvinar, eu aliquam odio lobortis. <br />
                Nulla facilisi. Morbi sagittis sit amet justo nec semper. Ut tincidunt lorem eros, nec condimentum diam iaculis in. <br />
                Sed nec orci at mi sagittis placerat sit amet id ligula. Aliquam vitae sodales felis, ut tempor ante. Morbi ut eros iaculis nibh euismod interdum.
                <br /><br />
                <img src="../assets/img/media-3.jpg" alt="" />
                <img src="../assets/img/media-4.jpg" alt="" />
                <br /><br />
                Maecenas rhoncus fringilla leo, ut auctor sapien tincidunt non. Suspendisse nec est eu augue sollicitudin ultrices. <br />
                Pellentesque gravida tortor ac felis tempor suscipit. Fusce at ultricies felis, in mollis ex. Maecenas at felis arcu. <br />
                Pellentesque turpis est, convallis non risus et, malesuada vehicula ipsum. Ut lacinia accumsan justo eu efficitur.<br />
                Mauris accumsan ipsum ut lorem aliquet auctor.
                <br /><br />
            </textarea>
        </form>
    </div>
    <!-- end panel -->
    
    <!-- begin #footer -->
    <div id="footer" class="footer">
        <span class="pull-right">
            <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
                <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
            </a>
        </span>
        &copy; 2015 <b>Source Admin</b> All Right Reserved
    </div>
    <!-- end #footer -->
</div>