<div ng-controller="formValidationController">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Form Stuff</a></li>
        <li class="breadcrumb-item active">Form Validation</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Form Validation <small>header small text goes here...</small></h1>
    <!-- end page-header -->

    <!-- begin section-container -->
    <div class="section-container section-with-top-border">
        <h5 class="m-t-0">Angular JS Validation</h5>
        <p class="m-b-15">
            Form and controls provide validation services, so that the user can be notified of invalid input before submitting a form. This provides a better user experience than server-side validation alone because the user gets instant feedback on how to correct the error.
        </p>
        <form class="form-horizontal" name="validationForm" ng-submit="submitForm(validationForm)" novalidate>
            <div class="form-group">
                <label class="col-form-label col-sm-3" for="fullname">Full Name <span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="form.fullname" name="fullname" placeholder="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label col-sm-3">Required Select Box <span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <select class="form-control" name="selectBox" ng-model="form.selectBox" required>
                        <option value="">Please choose</option>
                        <option value="foo">Foo</option>
                        <option value="bar">Bar</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label col-sm-3">Required Radio Button <span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <div class="radio">
                        <label>
                            <input type="radio" name="radioRequired" ng-model="form.radioRequired" value="foo" required /> Radio Button 1
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="radioRequired" ng-model="form.radioRequired" value="bar" required /> Radio Button 2
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label col-sm-3">Required Checkbox <span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="requiredCheckbox" ng-model="form.requiredCheckbox" value="foo" required /> Checkbox
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label col-sm-3" for="message">Message (20 chars min, 200 max) <span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <textarea class="form-control" name="message" rows="4" ng-minlength="20" ng-maxlength="200" ng-model="form.message" placeholder="Range from 20 - 200" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label col-sm-3" for="email">Email Address</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" name="email" placeholder="Email" ng-model="form.email" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label col-sm-3" for="website">Website</label>
                <div class="col-sm-6">
                    <input type="url" class="form-control" name="website" placeholder="url" ng-model="form.url" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label col-sm-3" for="message">Number</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" name="number" placeholder="Number" ng-model="form.number" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label col-sm-3" for="message">Regular Expression</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="alphabets" placeholder="Alphabets" ng-model="form.alphabets" ng-pattern="/^[A-z]+$/" />
                </div>
            </div>
            <div class="form-group m-b-0">
                <label class="col-form-label col-sm-3"></label>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-success width-xs">Validate</button>
                </div>
            </div>
        </form>
    </div>
    <!-- end section-container -->

    <!-- begin #footer -->
    <div id="footer" class="footer">
        <span class="pull-right">
            <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
                <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
            </a>
        </span>
        &copy; 2015 <b>Source Admin</b> All Right Reserved
    </div>
    <!-- end #footer -->
</div>
