<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
	<li class="breadcrumb-item"><a href="javascript:;">Form Stuff</a></li>
	<li class="breadcrumb-item active">Form Elements</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Form Elements <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-10">
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<h5 class="m-t-0">Inputs & Select & Textarea</h5>
			<p>
				Most common form control, text-based input fields. Text Inputs also includes support for all HTML5 types.
			</p>
			<form class="form-horizontal">
				<div class="form-group m-b-10">
					<label class="col-lg-3 col-form-label">Default Input</label>
					<div class="col-lg-7">
						<input type="text" class="form-control" placeholder="Default input" />
					</div>
				</div>
				<div class="form-group m-b-10">
					<label class="col-lg-3 col-form-label">Disabled Input</label>
					<div class="col-lg-7">
						<input type="text" class="form-control" placeholder="Disabled input" disabled />
					</div>
				</div>
				<div class="form-group m-b-10">
					<label class="col-lg-3 col-form-label">Readonly State</label>
					<div class="col-lg-7">
						<input class="form-control" type="text" placeholder="Readonly input here…" readonly />
					</div>
				</div>
				<div class="form-group m-b-10">
					<label class="col-sm-3 col-form-label">Static Control</label>
					<div class="col-sm-7">
						<p class="form-control-plaintext">email@example.com</p>
					</div>
				</div>
				<div class="form-group m-b-10">
					<label class="col-lg-3 col-form-label">Selects</label>
					<div class="col-lg-7">
						<select class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="form-group m-b-10">
					<label class="col-lg-3 col-form-label">Multiple Selects</label>
					<div class="col-lg-7">
						<select class="form-control" multiple>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 col-form-label">Textarea</label>
					<div class="col-lg-7">
						<textarea class="form-control" rows="3" placeholder="Textarea"></textarea>
					</div>
				</div>
			</form>
		</div>
		<!-- end col-6 -->
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<h5 class="m-t-0">Checkboxes & Radios</h5>
			<p>
				Checkboxes are for selecting one or several options in a list, while radios are for selecting one option from many.
			</p>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="" />
					Option one is this and that&mdash;be sure to include why it's great
				</label>
			</div>
			<div class="checkbox disabled m-b-25">
				<label>
					<input type="checkbox" value="" disabled />
					Option two is disabled
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" value="option1" checked />
					Option one is this and that&mdash;be sure to include why it's great
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" value="option2" />
					Option two can be something else and selecting it will deselect option one
				</label>
			</div>
			<div class="radio disabled m-b-25">
				<label>
					<input type="radio" name="optionsRadios" value="option3" disabled />
					Option three is disabled
				</label>
			</div>
			
			<h5 class="m-t-0">Inline Checkboxes & Radios</h5>
			<div class="clearfix m-b-10">
				<label class="checkbox-inline">
					<input type="checkbox" value="option1"> 1
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="option2"> 2
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="option3"> 3
				</label>
			</div>
			<div class="clearfix m-b-25">
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" value="option1"> 1
				</label>
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" value="option2"> 2
				</label>
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" value="option3"> 3
				</label>
			</div>
		
			<h5 class="m-t-0">Checkboxes and radios without label text</h5>
			<p>
				Should you have no text within the <code>&lt;label&gt;</code>, the input is positioned as you'd expect. 
				Currently only works on non-inline checkboxes and radios. 
			</p>
			<div class="checkbox m-b-0 m-t-0">
				<label>
					<input type="checkbox" id="blankCheckbox" value="option1" checked />
				</label>
			</div>
			<div class="radio m-b-15 m-t-0">
				<label>
					<input type="radio" name="blankRadio" id="blankRadio1" value="option1" checked />
				</label>
			</div>
		</div>
		<!-- end col-6 -->
	</div>
	<!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-10">
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<h5 class="m-t-0">Control sizing</h5>
			<p>
				Set heights using classes like <code>.form-control-lg</code>, and set widths using grid column classes like <code>.col-lg-*</code>.
			</p>
			<div class="row">
				<div class="col-lg-5">
					<div class="clearfix m-b-15">
						<input class="form-control form-control-lg" type="text" placeholder=".input-lg" />
						<p></p>
						<input class="form-control" type="text" placeholder="Default input" />
						<p></p>
						<input class="form-control form-control-sm" type="text" placeholder=".input-sm" />
					</div>
				</div>
				<div class="col-lg-5">
					<div class="clearfix m-b-15">
						<select class="form-control form-control-lg">
							<option>.input-lg</option>
						</select>
						<p></p>
						<select class="form-control">
							<option>default input</option>
						</select>
						<p></p>
						<select class="form-control form-control-sm">
							<option>.input-sm</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<!-- end col-6 -->
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<h5 class="m-t-0">Horizontal form group sizes</h5>
			<p>
				Quickly size labels and form controls within <code>.form-horizontal</code> by adding <code>.form-group-lg</code> or <code>.form-group-sm.</code>
			</p>
			<form class="form-horizontal">
				<div class="form-group form-group-lg m-b-10">
					<label class="col-lg-3 col-form-label">Large label</label>
					<div class="col-lg-7">
						<input class="form-control" type="text" placeholder="Large input">
					</div>
				</div>
				<div class="form-group m-b-10">
					<label class="col-lg-3 col-form-label">Default label</label>
					<div class="col-lg-7">
						<input class="form-control" type="text" placeholder="Default input">
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="col-lg-3 col-form-label">Small label</label>
					<div class="col-lg-7">
						<input class="form-control" type="text" placeholder="Small input">
					</div>
				</div>
			</form>
		</div>
		<!-- end col-6 -->
	</div>
	<!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-10">
	<h5 class="m-t-0">Validation states</h5>
	<p class="m-b-15">
		Bootstrap includes validation styles for error, warning, and success states on form controls. 
		To use, add <code>.has-warning</code>, <code>.has-error</code>, or <code>.has-success</code> to the parent element. 
	</p>
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<!-- begin row -->
			<div class="row">
				<!-- begin col-10 -->
				<div class="col-lg-10">
					<div class="form-group has-success has-feedback m-b-10">
						<label class="col-form-label">Input with success</label>
						<input type="text" class="form-control" />
						<span class="fa fa-check form-control-feedback"></span>
					</div>
					<div class="form-group has-warning has-feedback m-b-10">
						<label class="col-form-label">Input with warning</label>
						<input type="text" class="form-control" />
						<span class="fa fa-warning form-control-feedback"></span>
					</div>
					<div class="form-group has-error has-feedback m-b-10">
						<label class="col-form-label">Input with error</label>
						<input type="text" class="form-control" />
						<span class="fa fa-times form-control-feedback"></span>
					</div>
					<div class="form-group has-success has-feedback">
						<label class="col-form-label">Input group with success</label>
						<div class="input-group">
							<div class="input-group-prepend"><span class="input-group-text">@</span></div>
							<input type="text" class="form-control" />
						</div>
						<span class="fa fa-check form-control-feedback"></span>
					</div>
				</div>
				<!-- end col-10 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end col-6 -->
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<h5 class="m-t-5">Checkbox Validation States</h5>
			<div class="has-success">
				<div class="checkbox">
					<label>
						<input type="checkbox" value="option1"> Checkbox with success
					</label>
				</div>
			</div>
			<div class="has-warning">
				<div class="checkbox">
					<label>
						<input type="checkbox" value="option1"> Checkbox with warning
					</label>
				</div>
			</div>
			<div class="has-error">
				<div class="checkbox">
					<label>
						<input type="checkbox" value="option1"> Checkbox with error
					</label>
				</div>
			</div>
			<h5 class="m-t-20">Radio Button Validation States</h5>
			<div class="has-success">
				<div class="radio">
					<label>
						<input type="radio" name="radio_validation_states" value="option1"> Radio button with success
					</label>
				</div>
			</div>
			<div class="has-warning">
				<div class="radio">
					<label>
						<input type="radio" name="radio_validation_states" value="option1"> Radio button with warning
					</label>
				</div>
			</div>
			<div class="has-error">
				<div class="radio">
					<label>
						<input type="radio" name="radio_validation_states" value="option1"> Radio button with error
					</label>
				</div>
			</div>
		</div>
		<!-- end col-6 -->
	</div>
	<!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-10">
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<h5 class="m-t-0">Input Groups</h5>
			<p class="m-b-15">
				Extend form controls by adding text or buttons before, after, or on both sides of any text-based 
				<code>&lt;input&gt;</code>. Use <code>.input-group</code> with an <code>.input-group-prepend</code>, <code>.input-group-append</code> 
				to prepend or append elements to a single <code>.form-control</code>.
			</p>
			<!-- begin row -->
			<div class="row">
				<!-- begin col-10 -->
				<div class="col-lg-10">
					<div class="input-group m-b-15">
						<div class="input-group-prepend">
							<button type="button" class="btn btn-inverse">Action</button>
							<button type="button" class="btn btn-inverse" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
						<input type="text" class="form-control" />
						<div class="input-group-append">
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
							<button type="button" class="btn btn-primary" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<button type="button" class="btn btn-primary">Action</button>
						</div>
					</div>
					<div class="input-group m-b-15">
						<div class="input-group-prepend" id="basic-addon1"><span class="input-group-text">@</span></div>
						<input type="text" class="form-control" placeholder="Username" />
					</div>
					<div class="input-group m-b-15">
						<input type="text" class="form-control" placeholder="Recipient's username" />
						<div class="input-group-append" id="basic-addon2"><span class="input-group-text">@example.com</span></div>
					</div>
					<div class="input-group m-b-15">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<input type="checkbox" checked />
							</span>
						</div>
						<input type="text" class="form-control" placeholder="Checkbox & Radio Button Addon" />
						<div class="input-group-append">
							<span class="input-group-text">
								<input type="radio" checked />
							</span>
						</div>
					</div>
				</div>
				<!-- end col-10 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end col-6 -->
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<h5 class="m-t-0">Input Groups Sizing</h5>
			<p class="m-b-15">
				Add the relative form sizing classes <code>.input-group-lg</code>, <code>.input-group-sm</code> to the <code>.input-group</code> itself 
				and contents within will automatically resize
			</p>
			<!-- begin row -->
			<div class="row">
				<!-- begin col-10 -->
				<div class="col-lg-10">
					<div class="input-group input-group-lg m-b-15">
						<div class="input-group-prepend" id="sizing-addon1"><span class="input-group-text">@</span></div>
						<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
					</div>

					<div class="input-group m-b-15">
						<div class="input-group-prepend" id="sizing-addon2"><span class="input-group-text">@</span></div>
						<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
					</div>

					<div class="input-group input-group-sm m-b-15">
						<div class="input-group-prepend" id="sizing-addon3"><span class="input-group-text">@</span></div>
						<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
					</div>
				</div>
				<!-- end col-10 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end col-6 -->
	</div>
	<!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-10">
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<h5 class="m-t-0">Basic Example</h5>
			<p class="m-b-15">
				Individual form controls automatically receive some global styling. 
				All form elements with <code>.form-control</code> are set to <code>width: 100%;</code> by default.
			</p>
			<!-- begin row -->
			<div class="row m-b-15">
				<!-- begin col-7 -->
				<div class="col-lg-7">
					<form>
						<div class="form-group">
							<label>Email</label>
							<input type="email" class="form-control" placeholder="Email" />
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" class="form-control" placeholder="Password" />
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" /> Remember Me
							</label>
						</div>
						<button type="submit" class="btn btn-success width-100 m-r-5">Submit</button>
						<button class="btn btn-default width-100">Cancel</button>
					</form>
				</div>
				<!-- end col-7 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end col-6 -->
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<h5 class="m-t-0">Horizontal Form Form</h5>
			<p class="m-b-25">
				Use Bootstrap's predefined grid classes to align labels and groups 
				of form controls in a horizontal layout by adding <code>.form-horizontal</code> 
				to the form.
			</p>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-lg-3 col-form-label">Email</label>
					<div class="col-lg-7">
						<input type="email" class="form-control" placeholder="Email" />
					</div>
				</div>
				<div class="form-group m-b-10">
					<label class="col-lg-3 col-form-label">Password</label>
					<div class="col-lg-7">
						<input type="password" class="form-control" placeholder="Password" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">
						&nbsp;
					</div>
					<div class="col-lg-7">
						<div class="checkbox">
							<label>
								<input type="checkbox" /> Remember Me
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-3">
						&nbsp;
					</div>
					<div class="col-lg-9">
						<button type="submit" class="btn btn-purple m-r-5 width-100">Login</button>
						<button type="submit" class="btn btn-default width-100">Cancel</button>
					</div>
				</div>
			</form>
		</div>
		<!-- end col-6 -->
	</div>
	<!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-10">
	<!-- begin row -->
	<h5 class="m-t-0">Inline Form</h5>
	<p class="m-b-15">
		Add <code>.form-inline</code> to your form (which doesn't have to be a <code>&lt;form&gt;</code>) 
		for left-aligned and inline-block controls. <b>This only applies to forms within viewports that are at least 768px wide.</b>
	</p>
	<div class="row">
		<div class="col-lg-6 m-b-15">
			<div class="m-b-5"><b>Example 1:</b></div>
			<form class="form-inline">
				<div class="form-group mr-sm-2">
					<input type="email" class="form-control" placeholder="Enter email">
				</div>
				<div class="form-group mr-sm-2">
					<input type="password" class="form-control" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-inverse">Sign in</button>
			</form>
		</div>
		<div class="col-lg-6 m-b-15">
			<div class="m-b-5"><b>Example 2:</b></div>
			<form class="form-inline">
				<div class="input-group mr-sm-2">
					<div class="input-group-prepend"><span class="input-group-text">$</span></div>
					<input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
					<div class="input-group-append"><span class="input-group-text">.00</span></div>
				</div>
				<button type="submit" class="btn btn-inverse">Transfer cash</button>
			</form>
		</div>
	</div>
	<!-- end row -->
</div>
<!-- end section-container -->

<!-- begin #footer -->
<div id="footer" class="footer">
	<span class="pull-right">
		<a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
			<i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
		</a>
	</span>
	&copy; 2018 <b>Source Admin</b> All Right Reserved
</div>
<!-- end #footer -->
