<div ng-controller="formPluginsController">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item"><a href="javascript:;">Form Stuff</a></li>
		<li class="breadcrumb-item active">Form Plugins</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">Form Plugins <small>header small text goes here...</small></h1>
	<!-- end page-header -->
	
	<!-- begin section-container -->
	<div class="section-container section-with-top-border p-b-5">
		<!-- begin row -->
		<div class="row">
			<!-- begin col-4 -->
			<div class="col-lg-4">
				<!-- begin panel -->
				<div class="panel p-20">
					<h4 class="form-header"><span class="icon text-primary">1</span> Bootstrap DateTime Picker</h4>
					<form class="form-input-flat">
						<div class="form-group">
							<label class="col-form-label">Default Date Time</label>
							<div class="input-group date" id="datetimepicker1">
								<input type="text" class="form-control" placeholder="dd/mm/yyyy hh:mm a" />
								<div class="input-group-addon">
									<i class="fa fa-calendar"></i>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-form-label">Custom Format</label>
							<div class="input-group date" id="datetimepicker2">
								<input type="text" class="form-control" placeholder="hh:mm a"  />
								<div class="input-group-addon">
									<i class="fa fa-clock"></i>
								</div>
							</div>
						</div>
						<div class="form-group m-b-0">
							<label class="col-form-label">Linked Pickers</label>
							<div class="row row-space-10">
								<div class="col-6">
									<input type="text" class="form-control"  id="datetimepicker3" placeholder="Min Date" />
								</div>
								<div class="col-6">
									<input type="text" class="form-control" id="datetimepicker4" placeholder="Max Date" />
								</div>
							</div>
						</div>
					</form>
				</div>
				<!-- end panel -->
			</div>
			<!-- end col-4 -->
			<!-- begin col-4 -->
			<div class="col-lg-4">
				<!-- begin panel -->
				<div class="panel p-20">
					<h4 class="form-header"><span class="icon text-primary">2</span> Bootstrap Date Range Picker</h4>
					<form class="form-input-flat">
						<div class="form-group">
							<label class="col-form-label">Default Date Ranges</label>
							<div class="input-group" id="default-daterange">
								<input type="text" name="default-daterange" class="form-control" value="" placeholder="click to select the date range" />
								<span class="input-group-btn">
									<button class="btn btn-primary" type="button"><i class="fa fa-calendar"></i></button>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-form-label">Single Date</label>
							<div class="input-group" id="daterange-singledate">
								<input type="text" name="default-daterange" class="form-control" value="" placeholder="click to select your birthdate" />
								<span class="input-group-btn">
									<button class="btn btn-primary" type="button"><i class="fa fa-gift"></i></button>
								</span>
							</div>
						</div>
						<div class="form-group m-b-1">
							<label class="col-form-label">Advance Date Ranges</label>
							<div id="advance-daterange" class="btn btn-inverse btn-block">
								<span></span>
								<i class="fa fa-angle-down fa-fw"></i>
							</div>
						</div>
					</form>
				</div>
				<!-- end panel -->
			</div>
			<!-- end col-4 -->
			<!-- begin col-4 -->
			<div class="col-lg-4">
				<!-- begin panel -->
				<div class="panel p-20">
					<h4 class="form-header"><span class="icon text-primary">3</span> Colorpicker</h4>
					<form class="form-input-flat">
						<div class="form-group">
							<label class="col-form-label">Default Color Picker</label>
							<input type="text" value="#2184DA" class="form-control" id="colorpicker" />
						</div>
						<div class="form-group">
							<label class="col-form-label">Prepend Color Picker</label>
							<div class="input-group colorpicker-component" data-color="#2184DA" data-color-format="rgb"  id="colorpicker-prepend">
								<span class="input-group-addon"><i></i></span>
								<input type="text" value="#2184DA" readonly="" class="form-control" />
							</div>
						</div>
						<div class="form-group m-b-0">
							<label class="col-form-label">RGBA Color format</label>
							<input type="text" class="form-control" value="rgba(33, 132, 218, 0.8)" id="colorpicker-rgba" data-color-format="rgba" />
						</div>
					</form>
				</div>
				<!-- end panel -->
			</div>
			<!-- end col-4 -->
		</div>
		<!-- end row -->
	</div>
	<!-- end section-container -->
	
	<!-- begin section-container -->
	<div class="section-container section-with-top-border p-b-5">
		<!-- begin row -->
		<div class="row">
			<!-- begin col-4 -->
			<div class="col-lg-4">
				<!-- begin panel -->
				<div class="panel p-20">
					<h4 class="form-header"><span class="icon text-purple">4</span> Timepicker</h4>
					<form class="form-input-flat">
						<div class="form-group m-b-0">
							<label class="col-form-label">Default timepicker</label>
							<div class="input-group bootstrap-timepicker">
								<input id="timepicker" type="text" class="form-control" />
								<span class="input-group-addon"><i class="fa fa-clock"></i></span>
							</div>
						</div>
					</form>
				</div>
				<!-- end panel -->
				<!-- begin panel -->
				<div class="panel p-20">
					<h4 class="form-header"><span class="icon text-purple">5</span> Select 2</h4>
					<form class="form-input-flat">
						<div class="form-group">
							<label class="col-form-label">Basic Select2</label>
							<select class="default-select2 form-control">
								<optgroup label="Alaskan/Hawaiian Time Zone">
									<option value="AK">Alaska</option>
									<option value="HI">Hawaii</option>
								</optgroup>
								<optgroup label="Pacific Time Zone">
									<option value="CA">California</option>
									<option value="NV">Nevada</option>
									<option value="OR">Oregon</option>
									<option value="WA">Washington</option>
								</optgroup>
								<optgroup label="Mountain Time Zone">
									<option value="AZ">Arizona</option>
									<option value="CO">Colorado</option>
									<option value="ID">Idaho</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NM">New Mexico</option>
									<option value="ND">North Dakota</option>
									<option value="UT">Utah</option>
									<option value="WY">Wyoming</option>
								</optgroup>
								<optgroup label="Central Time Zone">
									<option value="AL">Alabama</option>
									<option value="AR">Arkansas</option>
									<option value="IL">Illinois</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="OK">Oklahoma</option>
									<option value="SD">South Dakota</option>
									<option value="TX">Texas</option>
									<option value="TN">Tennessee</option>
									<option value="WI">Wisconsin</option>
								</optgroup>
								<optgroup label="Eastern Time Zone">
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="IN">Indiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="OH">Ohio</option>
									<option value="PA">Pennsylvania</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WV">West Virginia</option>
								</optgroup>
							</select>
						</div>
						<div class="form-group m-b-0">
							<label class="col-form-label">Multiple Selection</label>
							<select class="multiple-select2 form-control" multiple="multiple">
								<optgroup label="Alaskan/Hawaiian Time Zone">
									<option value="AK">Alaska</option>
									<option value="HI">Hawaii</option>
								</optgroup>
								<optgroup label="Pacific Time Zone">
									<option value="CA">California</option>
									<option value="NV">Nevada</option>
									<option value="OR">Oregon</option>
									<option value="WA">Washington</option>
								</optgroup>
								<optgroup label="Mountain Time Zone">
									<option value="AZ">Arizona</option>
									<option value="CO">Colorado</option>
									<option value="ID">Idaho</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NM">New Mexico</option>
									<option value="ND">North Dakota</option>
									<option value="UT">Utah</option>
									<option value="WY">Wyoming</option>
								</optgroup>
								<optgroup label="Central Time Zone">
									<option value="AL">Alabama</option>
									<option value="AR">Arkansas</option>
									<option value="IL">Illinois</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="OK">Oklahoma</option>
									<option value="SD">South Dakota</option>
									<option value="TX">Texas</option>
									<option value="TN">Tennessee</option>
									<option value="WI">Wisconsin</option>
								</optgroup>
								<optgroup label="Eastern Time Zone">
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="IN">Indiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="OH">Ohio</option>
									<option value="PA">Pennsylvania</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WV">West Virginia</option>
								</optgroup>
							</select>
						</div>
					</form>
				</div>
				<!-- end panel -->
			</div>
			<!-- end col-4 -->
			<!-- begin col-8 -->
			<div class="col-lg-8">
				<!-- begin panel -->
				<div class="panel p-20">
					<h4 class="form-header"><span class="icon text-purple">6</span> Datepicker</h4>
					<form class="form-input-flat">
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label class="col-form-label">Default Datepicker</label>
									<input type="text" class="form-control" id="datepicker-default" placeholder="Select Date" value="04/1/2014" />
								</div>
								<div class="form-group">
									<label class="col-form-label">Auto Close Datepicker</label>
									<input type="text" class="form-control" id="datepicker-autoClose" placeholder="Auto Close Datepicker" />
								</div>
								<div class="form-group">
									<label class="col-form-label">Disabled Past Date</label>
									<div class="input-group date" id="datepicker-disabled-past" data-date-format="dd-mm-yyyy" data-date-start-date="Date.default">
										<input type="text" class="form-control" placeholder="Select Date" />
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
								<div class="form-group m-b-10">
									<label class="col-form-label">Range Datepicker</label>
									<div class="input-group input-daterange">
										<input type="text" class="form-control" name="start" placeholder="Date Start" />
										<span class="input-group-addon">to</span>
										<input type="text" class="form-control" name="end" placeholder="Date End" />
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group m-b-0">
									<label class="col-form-label">Inline Datepicker</label>
									<div id="datepicker-inline"><div></div></div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<!-- end panel -->
			</div>
			<!-- end col-8 -->
		</div>
		<!-- end row -->
	</div>
	<!-- end section-container -->
	
	<!-- begin section-container -->
	<div class="section-container section-with-top-border p-b-5">
		<!-- begin panel -->
		<div class="panel p-20">
			<h4 class="form-header"><span class="icon text-success">7</span> Ion Range Slider</h4>
			<form class="form-input-flat">
				<div class="row">
					<div class="col-lg-4">
						<div class="form-group rangeSlider-success">
							<label class="col-form-label">Default</label>
							<input type="text" id="default_rangeSlider" name="default_rangeSlider" value="" />
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group rangeSlider-primary">
							<label class="col-form-label">Custom Range</label>
							<input type="text" id="customRange_rangeSlider" name="default_rangeSlider" value="" />
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<label class="col-form-label">Custom Values</label>
							<input type="text" id="customValue_rangeSlider" name="default_rangeSlider" value="" />
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- end panel -->
	</div>
	<!-- end section-container -->
	
	<!-- begin section-container -->
	<div class="section-container section-with-top-border p-b-5">
		<!-- begin row -->
		<div class="row">
			<!-- begin col-8 -->
			<div class="col-lg-8">
				<!-- begin panel -->
				<div class="panel p-20">
					<h4 class="form-header"><span class="icon text-danger">8</span> Masked Input</h4>
					<form class="form-input-flat">
						<!-- begin row -->
						<div class="row">
							<!-- begin col-6 -->
							<div class="col-lg-6">
								<div class="form-group">
									<label class="col-form-label">Date</label>
									<input type="text" class="form-control" id="masked-input-date" placeholder="dd/mm/yyyy" />
								</div>
								<div class="form-group">
									<label class="col-form-label">Phone</label>
									<input type="text" class="form-control" id="masked-input-phone" placeholder="(999) 999-9999" />
								</div>
								<div class="form-group">
									<label class="col-form-label">Tax ID</label>
									<input type="text" class="form-control" id="masked-input-tid" placeholder="99-9999999" />
								</div>
							</div>
							<!-- end col-6 -->
							<!-- begin col-6 -->
							<div class="col-lg-6">
								<div class="form-group">
									<label class="col-form-label">Product Key</label>
									<input type="text" class="form-control" id="masked-input-pkey" placeholder="a*-999-a999" />
								</div>
								<div class="form-group">
									<label class="col-form-label">SSN</label>
									<input type="text" class="form-control" id="masked-input-ssn" placeholder="999/99/9999" />
								</div>
								<div class="form-group">
									<label class="col-form-label">SSN</label>
									<input type="text" class="form-control" id="masked-input-pno" placeholder="AAA-9999-A" />
								</div>
							</div>
							<!-- end col-6 -->
						</div>
						<!-- end row -->
					</form>
				</div>
				<!-- end panel -->
			</div>
			<!-- end col-8 -->
			<!-- begin col-4 -->
			<div class="col-lg-4">
				<!-- begin panel -->
				<div class="panel p-20">
					<h4 class="form-header"><span class="icon text-danger">9</span> Autocomplete</h4>
					<form class="form-input-flat">
						<div class="form-group m-b-0">
							<label class="col-form-label">Autocomplete</label>
							<input type="text" name="jquery_autocomplete" id="jquery-autocomplete" class="form-control" placeholder="Try typing 'a' or 'b'." />
						</div>
					</form>
				</div>
				<!-- end panel -->
				<!-- begin panel -->
				<div class="panel p-20">
					<h4 class="form-header"><span class="icon text-danger">10</span> Bootstrap Combobox</h4>
					<form class="form-input-flat">
						<div class="form-group m-b-0">
							<label class="col-form-label">Bootstrap Combobox</label>
							<select class="combobox form-control">
								<option value="">Select Location</option>
								<option value="PA">Pennsylvania</option>
								<option value="CT">Connecticut</option>
								<option value="NY">New York</option>
								<option value="MD">Maryland</option>
								<option value="VA">Virginia</option>
							</select>
						</div>
					</form>
				</div>
				<!-- end panel -->
			</div>
			<!-- end col-4 -->
		</div>
		<!-- end row -->
	</div>
	<!-- end section-container -->
	
	<!-- begin section-container -->
	<div class="section-container section-with-top-border p-b-5">
		<!-- begin row -->
		<div class="row">
			<!-- begin col-4 -->
			<div class="col-lg-4">
				<!-- begin panel -->
				<div class="panel p-20">
					<h4 class="form-header"><span class="icon text-warning">11</span> Strength JS</h4>
					<form class="form-input-flat">
						<div class="form-group clearfix m-b-0">
							<label class="col-form-label">Type a text password</label>
							<input type="password" name="password" id="password-strength" class="form-control m-b-5" />
						</div>
					</form>
				</div>
				<!-- end panel -->
			</div>
			<!-- end col-4 -->
			<!-- begin col-4 -->
			<div class="col-lg-4">
				<!-- begin panel -->
				<div class="panel p-20">
					<h4 class="form-header"><span class="icon text-warning">12</span> Select with Search</h4>
					<form class="form-input-flat">
						<div class="form-group m-b-0">
							<label class="col-form-label">Default</label>
							<select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-warning">
								<option value="" selected>Select a Country</option>
								<option value="AF">Afghanistan</option>
								<option value="AL">Albania</option>
								<option value="DZ">Algeria</option>
								<option value="AS">American Samoa</option>
								<option value="AD">Andorra</option>
								<option value="AO">Angola</option>
								<option value="AI">Anguilla</option>
								<option value="AQ">Antarctica</option>
								<option value="AG">Antigua and Barbuda</option>
							</select>
							<p class="help-block m-b-0">use other button class to change the theme color</p>
						</div>
					</form>
				</div>
				<!-- end panel -->
			</div>
			<!-- end col-4 -->
			<!-- begin col-4 -->
			<div class="col-lg-4">
				<!-- begin panel -->
				<div class="panel p-20">
					<h4 class="form-header"><span class="icon text-warning">13</span> jQuery Tag It</h4>
					<form class="form-input-flat">
						<div class="form-group m-b-0">
							<label class="col-form-label">Tags Input with Autocomplete</label>
							<ul id="jquery-tagIt-default">
								<li>Tag1</li>
								<li>Tag2</li>
							</ul>
						</div>
						<p class="help-block m-b-0">Try to enter "c++, java, php" </p>
					</form>
				</div>
				<!-- end panel -->
			</div>
			<!-- end col-4 -->
		</div>
		<!-- end row -->
	</div>
	<!-- end section-container -->

	<!-- begin #footer -->
	<div id="footer" class="footer">
		<span class="pull-right">
			<a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
				<i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
			</a>
		</span>
		&copy; 2018 <b>Source Admin</b> All Right Reserved
	</div>
	<!-- end #footer -->
</div>
