<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
	<li class="breadcrumb-item"><a href="javascript:;">Helper</a></li>
	<li class="breadcrumb-item active">Predefined CSS Classes</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Predefined CSS Classes <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin nav-pills -->
<ul class="nav nav-pills nav-pills-danger">
	<li><a class="active" href="javascript:;" data-target="#general-tab" data-toggle="tab"><i class="fa fa-fw fa-cogs"></i> General</a></li>
	<li><a href="javascript:;" data-target="#text-font-tab" data-toggle="tab"><i class="fa fa-fw fa-font"></i> Text & Font</a></li>
	<li><a href="javascript:;" data-target="#margin-tab" data-toggle="tab"><i class="fa fa-fw fa-arrows-alt"></i> Margin</a></li>
	<li><a href="javascript:;" data-target="#padding-tab" data-toggle="tab"><i class="fa fa-fw fa-expand"></i> Padding</a></li>
	<li><a href="javascript:;" data-target="#background-tab" data-toggle="tab"><i class="fa fa-fw fa-paint-brush"></i> Background</a></li>
</ul>
<!-- end nav-pills -->
<!-- begin tab-content -->
<div class="tab-content p-0 overflow-hidden">
	<!-- begin tab-pane -->
	<div class="tab-pane fade active show" id="general-tab">
		<div class="p-20">
			<h4 class="m-t-0 m-b-5">General CSS Class</h4>
			<p class="m-b-0">
				All the predefined css classes will override the defined css styling in your classes, UNLESS the <code>!important</code> is declared in your defined css styling.
			</p>
		</div>
		<!-- begin table-responsive -->
		<div class="table-responsive">
			<table class="table table-condensed table-striped table-bordered text-center table-last-row-no-border-bottom m-b-0">
				<thead>
					<tr>
						<th colspan="8" class="text-center">General CSS Class Name</th>
					</tr>
					<tr>
						<th class="text-center">Row Space</th>
						<th class="text-center">Table</th>
						<th class="text-center">Float</th>
						<th class="text-center">Border Radius</th>
						<th class="text-center">Width</th>
						<th class="text-center">Height</th>
						<th class="text-center">Vertical Box</th>
						<th class="text-center">Overflow</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>.row.row-space-0</td>
						<td>.table-valign-middle</td>
						<td>.pull-left</td>
						<td>.no-rounded-corner</td>
						<td>.width-full (100%)</td>
						<td>.height-full (100%)</td>
						<td>.vertical-box</td>
						<td>.overflow-auto</td>
					</tr>
					<tr>
						<td>.row.row-space-2</td>
						<td>.table-th-valign-middle</td>
						<td>.pull-right</td>
						<td>.rounded-corner</td>
						<td>.width-lg (600px)</td>
						<td>.height-lg (600px)</td>
						<td>.vertical-box-column</td>
						<td>.overflow-visible</td>
					</tr>
					<tr>
						<td>.row.row-space-4</td>
						<td>.table-td-valign-middle</td>
						<td>.pull-none</td>
						<td></td>
						<td>.width-md (450px)</td>
						<td>.height-md (450px)</td>
						<td>.vertical-box-row</td>
						<td>.overflow-scroll</td>
					</tr>
					<tr>
						<td>.row.row-space-6</td>
						<td>.table-valign-top</td>
						<td></td>
						<td></td>
						<td>.width-sm (300px)</td>
						<td>.height-sm (300px)</td>
						<td>.vertical-box-cell</td>
						<td>.overflow-x-hidden</td>
					</tr>
					<tr>
						<td>.row.row-space-8</td>
						<td>.table-th-valign-top</td>
						<td></td>
						<td></td>
						<td>.width-xs (150px)</td>
						<td>.height-xs (150px)</td>
						<td>.vertical-box-inner-cell</td>
						<td>.overflow-x-visible</td>
					</tr>
					<tr>
						<td>.row.row-space-10</td>
						<td>.table-td-valign-top</td>
						<td></td>
						<td></td>
						<td>.width-50 (50px)</td>
						<td>.height-50 (50px)</td>
						<td></td>
						<td>.overflow-x-scroll</td>
					</tr>
					<tr>
						<td>.row.row-space-12</td>
						<td>.table-valign-bottom</td>
						<td></td>
						<td></td>
						<td>.width-100 (100px)</td>
						<td>.height-100 (100px)</td>
						<td></td>
						<td>.overflow-y-hidden</td>
					</tr>
					<tr>
						<td>.row.row-space-14</td>
						<td>.table-th-valign-bottom</td>
						<td></td>
						<td></td>
						<td>.width-150 (150px)</td>
						<td>.height-150 (150px)</td>
						<td></td>
						<td>.overflow-y-visible</td>
					</tr>
					<tr>
						<td>.row.row-space-16</td>
						<td>.table-td-valign-bottom</td>
						<td></td>
						<td></td>
						<td>.width-200 (200px)</td>
						<td>.height-200 (200px)</td>
						<td></td>
						<td>.overflow-y-scroll</td>
					</tr>
					<tr>
						<td>.row.row-space-18</td>
						<td>.table-last-row-no-border-bottom</td>
						<td></td>
						<td></td>
						<td>.width-250 (250px)</td>
						<td>.height-250 (250px)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.row.row-space-20</td>
						<td>.table-last-row-no-border-top</td>
						<td></td>
						<td></td>
						<td>.width-300 (300px)</td>
						<td>.height-300 (300px)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.row.row-space-22</td>
						<td></td>
						<td></td>
						<td></td>
						<td>.width-350 (350px)</td>
						<td>.height-350 (350px)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.row.row-space-24</td>
						<td></td>
						<td></td>
						<td></td>
						<td>.width-400 (400px)</td>
						<td>.height-400 (400px)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.row.row-space-26</td>
						<td></td>
						<td></td>
						<td></td>
						<td>.width-450 (450px)</td>
						<td>.height-450 (450px)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.row.row-space-28</td>
						<td></td>
						<td></td>
						<td></td>
						<td>.width-500 (500px)</td>
						<td>.height-500 (500px)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.row.row-space-30</td>
						<td></td>
						<td></td>
						<td></td>
						<td>.width-550 (550px)</td>
						<td>.height-550 (550px)</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>.width-600 (600px)</td>
						<td>.height-600 (600px)</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- end table-responsive -->
	</div>
	<!-- end tab-pane -->
	<!-- begin tab-pane -->
	<div class="tab-pane fade" id="text-font-tab">
		<div class="p-20">
			<h4 class="m-t-0 m-b-5">Text & Font - Align / Color / Size</h4>
			<p class="m-b-0">
				All the predefined css classes will override the defined css styling in your classes, UNLESS the <code>!important</code> is declared in your defined css styling.
			</p>
		</div>
		<!-- begin table-responsive -->
		<div class="table-responsive">
			<table class="table table-condensed table-striped table-bordered text-center table-last-row-no-border-bottom m-b-0">
				<thead>
					<tr>
						<th colspan="5" class="text-center">Text / Font Class Name</th>
					</tr>
					<tr>
						<th class="text-center">Font Size</th>
						<th class="text-center">Font Weight</th>
						<th class="text-center">Text Color</th>
						<th class="text-center">Text Align</th>
						<th class="text-center">Text Overflow</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>.f-s-8</td>
						<td>.f-w-100</td>
						<td>.text-inverse / .text-inverse-light</td>
						<td>.text-center</td>
						<td>.text-ellipsis</td>
					</tr>
					<tr>
						<td>.f-s-9</td>
						<td>.f-w-200</td>
						<td>.text-primary / .text-primary-light</td>
						<td>.text-left</td>
						<td>.text-nowrap</td>
					</tr>
					<tr>
						<td>.f-s-10</td>
						<td>.f-w-300</td>
						<td>.text-info / .text-info-light</td>
						<td>.text-right</td>
						<td></td>
					</tr>
					<tr>
						<td>.f-s-11</td>
						<td>.f-w-400</td>
						<td>.text-purple / .text-purple-light</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.f-s-12</td>
						<td>.f-w-500</td>
						<td>.text-success / .text-success-light</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.f-s-13</td>
						<td>.f-w-600</td>
						<td>.text-lime / .text-lime-light</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.f-s-14</td>
						<td>.f-w-700</td>
						<td>.text-warning / .text-warning-light</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.f-s-15</td>
						<td></td>
						<td>.text-danger / .text-danger-light</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.f-s-16</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.f-s-17</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.f-s-18</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.f-s-19</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.f-s-20</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.f-s-21</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.f-s-22</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.f-s-23</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>.f-s-24</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- end table-responsive -->
	</div>
	<!-- end tab-pane -->
	<!-- begin tab-pane -->
	<div class="tab-pane fade" id="margin-tab">
		<div class="p-20">
			<h4 class="m-t-0 m-b-5">Margin - All / Top / Right / Bottom / Left</h4>
			<p class="m-b-0">
				All the predefined css classes will override the defined css styling in your classes, UNLESS the <code>!important</code> is declared in your defined css styling.
			</p>
		</div>
		<!-- begin table-responsive -->
		<div class="table-responsive">
			<table class="table table-condensed table-striped table-bordered text-center table-last-row-no-border-bottom m-b-0">
				<thead>
					<tr>
						<th colspan="5" class="text-center">Margin Class Name</th>
					</tr>
					<tr>
						<th class="text-center">Margin</th>
						<th class="text-center">Margin Top</th>
						<th class="text-center">Margin Right</th>
						<th class="text-center">Margin Bottom</th>
						<th class="text-center">Margin Left</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>.m-0</td>
						<td>.m-t-0</td>
						<td>.m-r-0</td>
						<td>.m-b-0</td>
						<td>.m-l-0</td>
					</tr>
					<tr>
						<td>.m-1</td>
						<td>.m-t-1</td>
						<td>.m-r-1</td>
						<td>.m-b-1</td>
						<td>.m-l-1</td>
					</tr>
					<tr>
						<td>.m-2</td>
						<td>.m-t-2</td>
						<td>.m-r-2</td>
						<td>.m-b-2</td>
						<td>.m-l-2</td>
					</tr>
					<tr>
						<td>.m-3</td>
						<td>.m-t-3</td>
						<td>.m-r-3</td>
						<td>.m-b-3</td>
						<td>.m-l-3</td>
					</tr>
					<tr>
						<td>.m-4</td>
						<td>.m-t-4</td>
						<td>.m-r-4</td>
						<td>.m-b-4</td>
						<td>.m-l-4</td>
					</tr>
					<tr>
						<td>.m-5</td>
						<td>.m-t-5</td>
						<td>.m-r-5</td>
						<td>.m-b-5</td>
						<td>.m-l-5</td>
					</tr>
					<tr>
						<td>.m-10</td>
						<td>.m-t-10</td>
						<td>.m-r-10</td>
						<td>.m-b-10</td>
						<td>.m-l-10</td>
					</tr>
					<tr>
						<td>.m-15</td>
						<td>.m-t-15</td>
						<td>.m-r-15</td>
						<td>.m-b-15</td>
						<td>.m-l-15</td>
					</tr>
					<tr>
						<td>.m-20</td>
						<td>.m-t-20</td>
						<td>.m-r-20</td>
						<td>.m-b-20</td>
						<td>.m-l-20</td>
					</tr>
					<tr>
						<td>.m-25</td>
						<td>.m-t-25</td>
						<td>.m-r-25</td>
						<td>.m-b-25</td>
						<td>.m-l-25</td>
					</tr>
					<tr>
						<td>.m-30</td>
						<td>.m-t-30</td>
						<td>.m-r-30</td>
						<td>.m-b-30</td>
						<td>.m-l-30</td>
					</tr>
					<tr>
						<td>.m-35</td>
						<td>.m-t-35</td>
						<td>.m-r-35</td>
						<td>.m-b-35</td>
						<td>.m-l-35</td>
					</tr>
					<tr>
						<td>.m-40</td>
						<td>.m-t-40</td>
						<td>.m-r-40</td>
						<td>.m-b-40</td>
						<td>.m-l-40</td>
					</tr>
					<tr>
						<td>.m-auto</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- end table-responsive -->
	</div>
	<!-- end tab-pane -->
	<!-- begin tab-pane -->
	<div class="tab-pane fade" id="padding-tab">
		<div class="p-20">
			<h4 class="m-t-0 m-b-5">Padding - All / Top / Right / Bottom / Left</h4>
			<p class="m-b-0">
				All the predefined css classes will override the defined css styling in your classes, UNLESS the <code>!important</code> is declared in your defined css styling.
			</p>
		</div>
		<!-- begin table-responsive -->
		<div class="table-responsive">
			<table class="table table-condensed table-striped table-bordered text-center table-last-row-no-border-bottom m-b-0">
				<thead>
					<tr>
						<th colspan="5" class="text-center">Padding Class Name</th>
					</tr>
					<tr>
						<th class="text-center">Padding</th>
						<th class="text-center">Padding Top</th>
						<th class="text-center">Padding Right</th>
						<th class="text-center">Padding Bottom</th>
						<th class="text-center">Padding Left</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>.p-0</td>
						<td>.p-t-0</td>
						<td>.p-r-0</td>
						<td>.p-b-0</td>
						<td>.p-l-0</td>
					</tr>
					<tr>
						<td>.p-1</td>
						<td>.p-t-1</td>
						<td>.p-r-1</td>
						<td>.p-b-1</td>
						<td>.p-l-1</td>
					</tr>
					<tr>
						<td>.p-2</td>
						<td>.p-t-2</td>
						<td>.p-r-2</td>
						<td>.p-b-2</td>
						<td>.p-l-2</td>
					</tr>
					<tr>
						<td>.p-3</td>
						<td>.p-t-3</td>
						<td>.p-r-3</td>
						<td>.p-b-3</td>
						<td>.p-l-3</td>
					</tr>
					<tr>
						<td>.p-4</td>
						<td>.p-t-4</td>
						<td>.p-r-4</td>
						<td>.p-b-4</td>
						<td>.p-l-4</td>
					</tr>
					<tr>
						<td>.p-5</td>
						<td>.p-t-5</td>
						<td>.p-r-5</td>
						<td>.p-b-5</td>
						<td>.p-l-5</td>
					</tr>
					<tr>
						<td>.p-10</td>
						<td>.p-t-10</td>
						<td>.p-r-10</td>
						<td>.p-b-10</td>
						<td>.p-l-10</td>
					</tr>
					<tr>
						<td>.p-15 / .wrapper</td>
						<td>.p-t-15</td>
						<td>.p-r-15</td>
						<td>.p-b-15</td>
						<td>.p-l-15</td>
					</tr>
					<tr>
						<td>.p-20</td>
						<td>.p-t-20</td>
						<td>.p-r-20</td>
						<td>.p-b-20</td>
						<td>.p-l-20</td>
					</tr>
					<tr>
						<td>.p-25</td>
						<td>.p-t-25</td>
						<td>.p-r-25</td>
						<td>.p-b-25</td>
						<td>.p-l-25</td>
					</tr>
					<tr>
						<td>.p-30</td>
						<td>.p-t-30</td>
						<td>.p-r-30</td>
						<td>.p-b-30</td>
						<td>.p-l-30</td>
					</tr>
					<tr>
						<td>.p-35</td>
						<td>.p-t-35</td>
						<td>.p-r-35</td>
						<td>.p-b-35</td>
						<td>.p-l-35</td>
					</tr>
					<tr>
						<td>.p-40</td>
						<td>.p-t-40</td>
						<td>.p-r-40</td>
						<td>.p-b-40</td>
						<td>.p-l-40</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- end table-responsive -->
	</div>
	<!-- end tab-pane -->
	<!-- begin tab-pane -->
	<div class="tab-pane fade" id="background-tab">
		<div class="p-20">
			<h4 class="m-t-0 m-b-5">Background</h4>
			<p class="m-b-0">
				All the predefined css classes will override the defined css styling in your classes, UNLESS the <code>!important</code> is declared in your defined css styling.
			</p>
		</div>
		<!-- begin table-responsive -->
		<div class="table-responsive">
			<table class="table table-condensed table-striped table-bordered text-center table-last-row-no-border-bottom m-b-0">
				<thead>
					<tr>
						<th rowspan="2" class="text-center" width="25%">Color Name</th>
						<th colspan="3" class="text-center">Background Class Name</th>
					</tr>
					<tr>
						<th class="text-center">Lighter</th>
						<th class="text-center">Normal</th>
						<th class="text-center">Darker</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>No Background</td>
						<td> - </td>
						<td>.no-bg</td>
						<td> - </td>
					</tr>
					<tr>
						<td>White</td>
						<td> - </td>
						<td>.bg-white</td>
						<td> - </td>
					</tr>
					<tr>
						<td>Inverse</td>
						<td>.bg-inverse-light</td>
						<td>.bg-inverse</td>
						<td>.bg-inverse-dark</td>
					</tr>
					<tr>
						<td>Grey</td>
						<td>.bg-grey-light</td>
						<td>.bg-grey</td>
						<td>.bg-grey-dark</td>
					</tr>
					<tr>
						<td>Purple</td>
						<td>.bg-purple-light</td>
						<td>.bg-purple</td>
						<td>.bg-purple-dark</td>
					</tr>
					<tr>
						<td>Red</td>
						<td>.bg-red-lighter</td>
						<td>.bg-red</td>
						<td>.bg-red-darker</td>
					</tr>
					<tr>
						<td>Primary</td>
						<td>.bg-primary-light</td>
						<td>.bg-primary</td>
						<td>.bg-primary-dark</td>
					</tr>
					<tr>
						<td>Info</td>
						<td>.bg-info-light</td>
						<td>.bg-info</td>
						<td>.bg-info-dark</td>
					</tr>
					<tr>
						<td>Success</td>
						<td>.bg-success-light</td>
						<td>.bg-success</td>
						<td>.bg-success-dark</td>
					</tr>
					<tr>
						<td>Lime</td>
						<td>.bg-lime-light</td>
						<td>.bg-lime</td>
						<td>.bg-lime-dark</td>
					</tr>
					<tr>
						<td>Warning</td>
						<td>.bg-warning-light</td>
						<td>.bg-warning</td>
						<td>.bg-warning-dark</td>
					</tr>
					<tr>
						<td>Danger</td>
						<td>.bg-danger-light</td>
						<td>.bg-danger</td>
						<td>.bg-danger-dark</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- end table-responsive -->
	</div>
	<!-- end tab-pane -->
</div>
<!-- end tab-content -->

<!-- begin #footer -->
<div id="footer" class="footer">
	<span class="pull-right">
		<a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
			<i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
		</a>
	</span>
	&copy; 2018 <b>Source Admin</b> All Right Reserved
</div>
<!-- end #footer -->
