<div ng-controller="dashboardV4Controller">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
		<li class="breadcrumb-item active">Dashboard v4</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">Dashboard v4 <small>header small text goes here...</small></h1>
	<!-- end page-header -->
	
	<!-- begin row -->
	<div class="row">
		<!-- begin col-2 -->
		<div class="col-lg-2">
			<!-- begin widget -->
			<div class="widget widget-stat bg-white">
				<div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
				<div class="widget-stat-number">1,293 <i class="fa fa-caret-up text-muted"></i></div>
				<div class="widget-stat-text">Visitors</div>
			</div>
			<!-- end widget -->
			<!-- begin widget -->
			<div class="widget widget-stat bg-success text-white">
				<div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
				<div class="widget-stat-text">Revenue</div>
				<div class="widget-stat-number">$139K</div>
			</div>
			<!-- end widget -->
		</div>
		<!-- end col-2 -->
		<!-- begin col-2 -->
		<div class="col-lg-2">
			<!-- begin widget -->
			<div class="widget widget-stat bg-inverse text-white">
				<div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
				<div class="widget-stat-number">10.29%</div>
				<div class="widget-stat-text">Bounce Rate</div>
			</div>
			<!-- end widget -->
			<!-- begin widget -->
			<div class="widget widget-stat bg-warning text-white">
				<div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
				<div class="widget-stat-text">New Visitors</div>
				<div class="widget-stat-number">839 <i class="fa fa-caret-down"></i></div>
			</div>
			<!-- end widget -->
		</div>
		<!-- end col-2 -->
		<!-- begin col-4 -->
		<div class="col-lg-4">
			<!-- begin widget -->
			<div class="widget widget-stat text-white bg-purple">
				<div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
				<div class="widget-stat-content">
					<div class="widget-stat-title">Financial Results</div>
					<div class="widget-stat-text m-b-10">from 1st January 2015 - 31st September 2015</div>
					<div class="widget-stat-number m-b-10">1,302,493</div>
					<div class="widget-stat-chart">
						<div id="dashboard4-flot-visitor-chart" data-height="105px" style="margin: 0 -10px -10px"></div>
					</div>
				</div>
			</div>
			<!-- end widget -->
		</div>
		<!-- end col-4 -->
		<!-- begin col-4 -->
		<div class="col-lg-4">
			<!-- begin widget -->
			<div class="widget widget-stat text-white bg-primary-dark">
				<div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
				<div class="widget-stat-content">
					<div class="widget-stat-title">Total Item Sold</div>
					<div class="widget-stat-text m-b-10">from 1st January 2015 - 31st September 2015</div>
					<div class="widget-stat-number m-b-10">123,293</div>
					<div class="widget-stat-chart">
						<div id="dashboard4-sparkline-bar-chart"></div>
					</div>
				</div>
			</div>
			<!-- end widget -->
		</div>
		<!-- end col-4 -->
	</div>
	<!-- end row -->
	<!-- begin row -->
	<div class="row">
		<div class="col-lg-8">
			<div class="widget">
				<div class="widget-header">
					<span class="pull-right f-s-12 f-w-600"><i class="fa fa-fw fa-circle text-lime-light f-s-12"></i> realtime</span>
					<h4>Visitor Analytics Last 24 hours</h4>
				</div>
				<div class="widget-body p-t-15 p-b-15 bg-inverse-dark">
					<ul class="list-inline m-0 f-s-12 f-w-600">
						<li class="m-r-20 text-muted">Customize</li>
						<li class="dropdown m-r-10">
							<a href="#" data-toggle="dropdown" class="text-white">Last 24 hours <b class="caret text-lime-light"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Monthly</a></li>
								<li><a href="#">Weekly</a></li>
								<li><a href="#">Daily</a></li>
							</ul>
						</li>
						<li class="dropdown m-r-10">
							<a href="#" data-toggle="dropdown" class="text-white">Line Chart <b class="caret text-lime-light"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Pie Chart</a></li>
								<li><a href="#">Bar Chart</a></li>
								<li><a href="#">Line Chart</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" class="text-white">All Visitors <b class="caret text-lime-light"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">All Visitors</a></li>
								<li><a href="#">New Visitors</a></li>
								<li><a href="#">Returning Visitors</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="widget-body bg-muted">
					<div class="row">
						<div class="col-lg-9">
							<div id="dashboard4-flot-server-chart" data-height="260px"></div>
						</div>
						<div class="col-lg-3">
							<div class="row m-t-10">
								<div class="col-sm-12 col-xs-6">
									<p class="f-s-12 m-b-0">Total Visitors</p>
									<h3 class="m-t-0 m-b-20">394K <span class="f-s-12 text-lime">+1.29%</span></h3>
								</div>
								<div class="col-sm-12 col-xs-6">
									<p class="f-s-12 m-b-0">Bounce Rate</p>
									<h3 class="m-t-0 m-b-20">20.55% <span class="f-s-12 text-lime">-3.23%</span></h3>
								</div>
								<div class="col-sm-12 col-xs-6">
									<p class="f-s-12 m-b-0">Returning Visitor</p>
									<h3 class="m-t-0 m-b-20">45.23% <span class="f-s-12 text-lime">+9.11%</span></h3>
								</div>
								<div class="col-sm-12 col-xs-6">
									<p class="f-s-12 m-b-0">New Visitor</p>
									<h3 class="m-0">55.77% <span class="f-s-12 text-danger">-2.11%</span></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<!-- begin widget -->
			<div class="widget widget-image">
				<div class="widget-header">
					<a href="#" class="pull-right f-s-12">view more <i class="fa fa-angle-double-right"></i></a>
					<h4>Latest Reviews</h4>
				</div>
				<div class="widget-image-cover" style="padding-top: 326px">
					<img src="../assets/img/timeline-pic-2.jpg" alt="">
				</div>
				<div class="widget-image-info">
					<h5>Consectetur adipiscing elit. </h5>
					<p>
						Curabitur ullamcorper mi ut rutrum gravida commodo tellus.
					</p>
					<div class="row">
						<div class="col-lg-6">
							<div class="widget-image-user">
								<div class="widget-image-user-image">
									<img src="../assets/img/user_2.jpg" alt="">
								</div> 
								<div class="widget-image-user-info">
									<div>Haydar Juan</div>
									<span>45 minutes ago</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<ul class="widget-image-rating">
								<li class="active"><i class="fa fa-star"></i></li>
								<li class="active"><i class="fa fa-star"></i></li>
								<li class="active"><i class="fa fa-star"></i></li>
								<li class="active"><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star-o"></i></li>
							</ul>
							<div class="widget-image-rating-text">8,281 Reviews (4.0/5)</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end widget -->
		</div>
	</div>
	<!-- end row -->
	
	<!-- begin row -->
	<div class="row">
		<!-- begin col-4 -->
		<div class="col-lg-4">
			<!-- begin widget -->
			<div class="widget widget-gallery">
				<div class="widget-header m-b-3">
					<a href="#" class="pull-right f-s-12">view more <i class="fa fa-angle-double-right"></i></a>
					<h4>Latest Uploaded Image</h4>
				</div>
				<ul class="widget-gallery-list clearfix">
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-1.jpg);"></div></a></li>
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-2.jpg);"></div></a></li>
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-3.jpg);"></div></a></li>
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-4.jpg);"></div></a></li>
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-5.jpg);"></div></a></li>
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-6.jpg);"></div></a></li>
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-7.jpg);"></div></a></li>
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-8.jpg);"></div></a></li>
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-9.jpg);"></div></a></li>
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-10.jpg);"></div></a></li>
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-11.jpg);"></div></a></li>
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-12.jpg);"></div></a></li>
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-13.jpg);"></div></a></li>
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-14.jpg);"></div></a></li>
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-15.jpg);"></div></a></li>
					<li style="padding-top: 85px;"><a href="#"><div style="background-image:url(../assets/img/media-16.jpg);"></div></a></li>
				</ul>
			</div>
			<!-- end widget -->
		</div>
		<!-- end col-4 -->
		<!-- begin col-4 -->
		<div class="col-lg-4">
			<!-- begin widget -->
			<div class="widget widget-blog">
				<div class="widget-header m-0">
					<a href="#" class="pull-right f-s-12">view more <i class="fa fa-angle-double-right"></i></a>
					<h4>Latest Post</h4>
				</div>
				<div class="widget-blog-cover" style="padding-top: 185px">
					<img src="../assets/img/widget-gallery-cover.jpg" alt="">
				</div>
				<div class="widget-blog-author">
					<div class="widget-blog-author-image">
						<img src="../assets/img/user_3.jpg" alt="">
					</div>
					<div class="widget-blog-author-info">
						<h5 class="m-t-0 m-b-1">Serhiy Navin</h5>
						<p class="text-muted m-0 f-s-11">Front End Designer</p>
					</div>
				</div>
				<div class="widget-blog-content">
					<h5>Lorem ipsum dolor sit amec adipiscing elit.</h5>
					<p>
						Nulla condimentum sodales urna, at consequat urna laoreet non. Aenean id porttitor odio, id elementum augue. Donec rhoncus semper mi.
					</p>
				</div>
			</div>
			<!-- end widget -->
		</div>
		<!-- end col-4 -->
		<!-- begin col-4 -->
		<div class="col-lg-4">
			<!-- begin widget -->
			<div class="widget p-0">
				<div class="widget-header m-0">
					<a href="#" class="pull-right f-s-12">view more <i class="fa fa-angle-double-right"></i></a>
					<h4>Product Delivery</h4>
				</div>
				<div class="table-responsive">
					<table class="table table-td-valign-middle m-b-0">
						<thead>
							<tr>
								<th width="1%" nowrap>#ID</th>
								<th width="1%" class="text-center">Admin</th>
								<th width="1%" class="text-center">Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>43902112</td>
								<td class="text-center"><img src="../assets/img/user_1.jpg" width="20" class="rounded-corner" alt=""></td>
								<td class="text-center">RECEIVED</td>
								<td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
							</tr>
							<tr>
								<td>29012923</td>
								<td class="text-center"><img src="../assets/img/user_2.jpg" width="20" class="rounded-corner" alt=""></td>
								<td class="text-center">RECEIVED</td>
								<td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
							</tr>
							<tr>
								<td>38291034</td>
								<td class="text-center"><img src="../assets/img/user_3.jpg" width="20" class="rounded-corner" alt=""></td>
								<td class="text-center">RECEIVED</td>
								<td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
							</tr>
							<tr>
								<td>44399212</td>
								<td class="text-center"><img src="../assets/img/user_4.jpg" width="20" class="rounded-corner" alt=""></td>
								<td class="text-center">RECEIVED</td>
								<td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
							</tr>
							<tr>
								<td>44399212</td>
								<td class="text-center"><img src="../assets/img/user_5.jpg" width="20" class="rounded-corner" alt=""></td>
								<td class="text-center">RECEIVED</td>
								<td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
							</tr>
							<tr>
								<td>82918102</td>
								<td class="text-center"><img src="../assets/img/user_6.jpg" width="20" class="rounded-corner" alt=""></td>
								<td class="text-center">RECEIVED</td>
								<td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
							</tr>
							<tr>
								<td>92849301</td>
								<td class="text-center"><img src="../assets/img/user_7.jpg" width="20" class="rounded-corner" alt=""></td>
								<td class="text-center">RECEIVED</td>
								<td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
							</tr>
							<tr>
								<td>93900201</td>
								<td class="text-center"><img src="../assets/img/user_8.jpg" width="20" class="rounded-corner" alt=""></td>
								<td class="text-center">RECEIVED</td>
								<td class="text-center"><a href="#" class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10"><i class="fa fa-cog"></i> Edit</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- end widget -->
		</div>
		<!-- end col-4 -->
	</div>
	<!-- end row -->
	
	<!-- begin #footer -->
	<div id="footer" class="footer">
		<span class="pull-right">
			<a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
				<i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
			</a>
		</span>
		&copy; 2018 <b>Source Admin</b> All Right Reserved
	</div>
	<!-- end #footer -->
</div>
