<div ng-controller="vectorMapController">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Maps</a></li>
        <li class="breadcrumb-item active">Vector Map</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Vector Map <small>header small text goes here...</small></h1>
    <!-- end page-header -->
    
    <!-- begin #vector-map -->
    <div id="vector-map">
        <div class="map m-b-10"></div>
        <div class="row">
            <div class="col-lg-6 m-b-10">
                <div class="areaLegend"></div>
            </div>
            <div class="col-lg-6 m-b-10">
                <div class="plotLegend"></div>
            </div>
        </div>
    </div>
    <!-- end #vector-map -->

    <!-- begin #footer -->
    <div id="footer" class="footer">
        <span class="pull-right">
            <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
                <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
            </a>
        </span>
        &copy; 2015 <b>Source Admin</b> All Right Reserved
    </div>
    <!-- end #footer -->
</div>