<div ng-controller="googleMapController">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Maps</a></li>
        <li class="breadcrumb-item active">Google Map</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Google Map <small>header small text goes here...</small></h1>
    <!-- end page-header -->
    
    <!-- begin section-container -->
    <div class="section-container section-with-top-border">
        <h5 class="m-t-0">Google Map Themes</h5>
        <p class="m-b-15">
            You can customize / create your own google map theme via <a href="https://snazzymaps.com/" target="_blank">Snazzy Maps</a>. 
            Snazzy Maps is a community built around creating great looking styles for Google Maps.
        </p>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-lg-6">
                <div class="panel p-20">
                    <h5 class="m-t-0">Google Map - Default</h5>
                    <div id="google-map-default" class="height-sm"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-lg-6">
                <div class="panel p-20">
                    <h5 class="m-t-0">Google Map - Light Dream</h5>
                    <div id="google-map-light-dream" class="height-sm"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-lg-6">
                <div class="panel p-20">
                    <h5 class="m-t-0">Google Map - Esque</h5>
                    <div id="google-map-esque" class="height-sm"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-lg-6">
                <div class="panel p-20">
                    <h5 class="m-t-0">Google Map - Grey</h5>
                    <div id="google-map-grey" class="height-sm"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-lg-6">
                <div class="panel p-20">
                    <h5 class="m-t-0">Google Map - Cobalt</h5>
                    <div id="google-map-cobalt" class="height-sm"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-lg-6">
                <div class="panel p-20">
                    <h5 class="m-t-0">Google Map - Blue</h5>
                    <div id="google-map-blue" class="height-sm"></div>
                </div>
            </div>
            <!-- end col-6 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end section-container -->
    
    <!-- begin #footer -->
    <div id="footer" class="footer">
        <span class="pull-right">
            <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
                <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
            </a>
        </span>
        &copy; 2015 <b>Source Admin</b> All Right Reserved
    </div>
    <!-- end #footer -->
</div>