<div ng-controller="pageWithFixedFooterController">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Layout</a></li>
        <li class="breadcrumb-item active">Page with Fixed Footer</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Page with Fixed Footer <small>header small text goes here...</small></h1>
    <!-- end page-header -->
    
    <h4>Some Long Content Here</h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis augue placerat dui convallis pharetra vel nec ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam convallis eros augue, quis eleifend ex viverra sit amet. Pellentesque vitae turpis consectetur ipsum dictum consequat at nec nibh. Aenean gravida erat sit amet metus commodo venenatis. Quisque non congue lacus. Pellentesque tincidunt urna sem, et sagittis magna pellentesque nec. Fusce imperdiet dolor eget tristique maximus. Fusce nec metus ultrices nulla euismod ornare sit amet eu tellus. Etiam semper cursus velit, vitae porta ipsum varius congue. Proin aliquet vestibulum magna, non condimentum diam porta non. Aliquam malesuada id est vitae efficitur. Quisque quis aliquam risus. Suspendisse quis risus sed eros consectetur lobortis et eu odio. Maecenas mollis urna non nibh gravida, vel scelerisque elit auctor.
    </p>
    <p>
        Phasellus ornare molestie dictum. Fusce dapibus et eros quis tincidunt. Vestibulum non enim quis enim ultricies porta ac eu augue. Curabitur volutpat metus eros, at sodales quam aliquam nec. Integer nec turpis nec nunc sollicitudin efficitur ut porttitor mauris. Quisque sit amet porttitor leo. Praesent orci dui, luctus vitae massa quis, ullamcorper imperdiet odio.
    </p>
    <p>
        Morbi dignissim, augue ut convallis vulputate, tortor velit consectetur urna, scelerisque pellentesque orci nulla at neque. Sed non pulvinar lorem, vel eleifend diam. Suspendisse eu elit pretium, ultrices tortor vel, tincidunt arcu. Donec ullamcorper iaculis nibh et maximus. Praesent vel odio sed est efficitur viverra ac vel arcu. Nulla velit magna, ullamcorper non mi id, tempus aliquam arcu. Nulla viverra mattis odio ut cursus. Donec at nulla vitae libero volutpat euismod. Proin a vehicula erat. Morbi congue dui ut eros tincidunt, vitae condimentum ligula posuere. Sed hendrerit finibus libero eleifend suscipit. Sed finibus lacus ligula, sed tempor lectus interdum in. Sed congue quam at lacus condimentum vulputate.
    </p>
    <p>
        Aenean ullamcorper gravida sem in condimentum. Sed a tristique massa. Nunc scelerisque magna non dui vulputate, vitae gravida nulla hendrerit. Sed tristique porttitor nibh in rhoncus. Quisque in elit arcu. Proin id diam fermentum augue ultricies tempus. Phasellus a ornare turpis. Mauris faucibus sodales nunc, quis dignissim est auctor malesuada. Nulla a odio ex. Integer cursus accumsan risus ac egestas. Vivamus leo orci, feugiat eu viverra sit amet, cursus id ipsum. Pellentesque lobortis venenatis malesuada. Sed diam arcu, euismod vitae orci et, tincidunt euismod elit. Vestibulum dignissim quam mi, vel porttitor lorem pellentesque eget. Phasellus eleifend id mi et cursus.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis augue placerat dui convallis pharetra vel nec ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam convallis eros augue, quis eleifend ex viverra sit amet. Pellentesque vitae turpis consectetur ipsum dictum consequat at nec nibh. Aenean gravida erat sit amet metus commodo venenatis. Quisque non congue lacus. Pellentesque tincidunt urna sem, et sagittis magna pellentesque nec. Fusce imperdiet dolor eget tristique maximus. Fusce nec metus ultrices nulla euismod ornare sit amet eu tellus. Etiam semper cursus velit, vitae porta ipsum varius congue. Proin aliquet vestibulum magna, non condimentum diam porta non. Aliquam malesuada id est vitae efficitur. Quisque quis aliquam risus. Suspendisse quis risus sed eros consectetur lobortis et eu odio. Maecenas mollis urna non nibh gravida, vel scelerisque elit auctor.
    </p>
    <p>
        Phasellus ornare molestie dictum. Fusce dapibus et eros quis tincidunt. Vestibulum non enim quis enim ultricies porta ac eu augue. Curabitur volutpat metus eros, at sodales quam aliquam nec. Integer nec turpis nec nunc sollicitudin efficitur ut porttitor mauris. Quisque sit amet porttitor leo. Praesent orci dui, luctus vitae massa quis, ullamcorper imperdiet odio.
    </p>
    <p>
        Morbi dignissim, augue ut convallis vulputate, tortor velit consectetur urna, scelerisque pellentesque orci nulla at neque. Sed non pulvinar lorem, vel eleifend diam. Suspendisse eu elit pretium, ultrices tortor vel, tincidunt arcu. Donec ullamcorper iaculis nibh et maximus. Praesent vel odio sed est efficitur viverra ac vel arcu. Nulla velit magna, ullamcorper non mi id, tempus aliquam arcu. Nulla viverra mattis odio ut cursus. Donec at nulla vitae libero volutpat euismod. Proin a vehicula erat. Morbi congue dui ut eros tincidunt, vitae condimentum ligula posuere. Sed hendrerit finibus libero eleifend suscipit. Sed finibus lacus ligula, sed tempor lectus interdum in. Sed congue quam at lacus condimentum vulputate.
    </p>
    <p>
        Aenean ullamcorper gravida sem in condimentum. Sed a tristique massa. Nunc scelerisque magna non dui vulputate, vitae gravida nulla hendrerit. Sed tristique porttitor nibh in rhoncus. Quisque in elit arcu. Proin id diam fermentum augue ultricies tempus. Phasellus a ornare turpis. Mauris faucibus sodales nunc, quis dignissim est auctor malesuada. Nulla a odio ex. Integer cursus accumsan risus ac egestas. Vivamus leo orci, feugiat eu viverra sit amet, cursus id ipsum. Pellentesque lobortis venenatis malesuada. Sed diam arcu, euismod vitae orci et, tincidunt euismod elit. Vestibulum dignissim quam mi, vel porttitor lorem pellentesque eget. Phasellus eleifend id mi et cursus.
    </p>
    
    <!-- begin #footer -->
    <div id="footer" class="footer">
        <span class="pull-right">
            <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
                <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
            </a>
        </span>
        &copy; 2015 <b>Source Admin</b> All Right Reserved
    </div>
    <!-- end #footer -->
</div>
