<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">UI Elements</a></li>
    <li class="breadcrumb-item active">Buttons</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Buttons <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-10">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Buttons Options</h5>
            <p>
                <button type="button" class="btn btn-default m-b-5">Default</button>
                <button type="button" class="btn btn-danger m-b-5">Danger</button>
                <button type="button" class="btn btn-warning m-b-5">Warning</button>
                <button type="button" class="btn btn-lime m-b-5">Lime</button>
                <button type="button" class="btn btn-success m-b-5">Success</button>
                <button type="button" class="btn btn-info m-b-5">Info</button>
                <button type="button" class="btn btn-primary m-b-5">Primary</button>
                <button type="button" class="btn btn-purple m-b-5">Purple</button>
                <button type="button" class="btn btn-inverse m-b-5">Inverse</button>
                <button type="button" class="btn btn-grey m-b-5">Grey</button>
                <button type="button" class="btn btn-white m-b-5">White</button>
                <button type="button" class="btn btn-link m-b-5">Link</button>
            </p>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Rounded Button</h5>
            <p>
                <button type="button" class="btn btn-default btn-rounded m-b-5">Default</button>
                <button type="button" class="btn btn-danger btn-rounded m-b-5">Danger</button>
                <button type="button" class="btn btn-warning btn-rounded m-b-5">Warning</button>
                <button type="button" class="btn btn-lime btn-rounded m-b-5">Lime</button>
                <button type="button" class="btn btn-success btn-rounded m-b-5">Success</button>
                <button type="button" class="btn btn-info btn-rounded m-b-5">Info</button>
                <button type="button" class="btn btn-primary btn-rounded m-b-5">Primary</button>
                <button type="button" class="btn btn-purple btn-rounded m-b-5">Purple</button>
                <button type="button" class="btn btn-inverse btn-rounded m-b-5">Inverse</button>
                <button type="button" class="btn btn-grey btn-rounded m-b-5">Grey</button>
                <button type="button" class="btn btn-white btn-rounded m-b-5">White</button>
                <button type="button" class="btn btn-link btn-rounded m-b-5">Link</button>
            </p>
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->


<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-0">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Button State</h5>
            <div class="clearfix m-b-20">
                <a href="javascript:;" class="btn btn-success m-r-5 m-b-5">Default Button</a>
                <a href="javascript:;" class="btn btn-success m-r-5 m-b-5 disabled">Disabled Button</a>
                <a href="javascript:;" class="btn btn-success m-r-5 m-b-5 active">Active Button</a>
            </div>
        
            <h5>Button Dropdowns</h5>
            <div class="clearfix m-b-20">
                <div class="btn-group m-b-5 m-r-5">
                    <a href="javascript:;" data-toggle="dropdown" class="btn btn-white dropdown-toggle">Action <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:;">Action 1</a></li>
                        <li><a href="javascript:;">Action 2</a></li>
                        <li><a href="javascript:;">Action 3</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;">Action 4</a></li>
                    </ul>
                </div>
                <div class="btn-group m-b-5 m-r-5">
                    <a href="javascript:;" class="btn btn-success">Default</a>
                    <a href="javascript:;" data-toggle="dropdown" class="btn btn-success dropdown-toggle">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:;">Action 1</a></li>
                        <li><a href="javascript:;">Action 2</a></li>
                        <li><a href="javascript:;">Action 3</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;">Action 4</a></li>
                    </ul>
                </div>
                <div class="btn-group m-b-5 m-r-5 dropup">
                    <a href="javascript:;" class="btn btn-primary">Dropup</a>
                    <a href="javascript:;" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:;">Action 1</a></li>
                        <li><a href="javascript:;">Action 2</a></li>
                        <li><a href="javascript:;">Action 3</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;">Action 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Block Button</h5>
            <div class="row m-b-25">
                <div class="col-lg-6">
                    <a href="javascript:;" class="btn btn-success btn-block">Block Button</a>
                </div>
            </div>
        
            <h5>Block Button with Icon</h5>
            <div class="row m-b-25">
                <div class="col-lg-6">
                    <a href="javascript:;" class="btn btn-inverse btn-block"><i class="fa fa-windows pull-right m-t-3"></i> Block Button with icon</a>
                </div>
            </div>
        </div>
        <!-- end col-6 -->
    </div>
</div>
<!-- end section-container -->


<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-0">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Button Sizes</h5>
            <p class="m-b-5">
                <a href="javascript:;" class="btn btn-primary btn-lg">Large Button</a>
                <a href="javascript:;" class="btn btn-white btn-lg">Large Button</a>
            </p>
            <p class="m-b-5">
                <a href="javascript:;" class="btn btn-primary">Default Button</a>
                <a href="javascript:;" class="btn btn-white ">Default Button</a>
            </p>
            <p class="m-b-5">
                <a href="javascript:;" class="btn btn-primary btn-sm">Small Button</a>
                <a href="javascript:;" class="btn btn-white btn-sm">Small Button</a>
            </p>
            <p class="m-b-25">
                <a href="javascript:;" class="btn btn-primary btn-xs">Extra Small</a>
                <a href="javascript:;" class="btn btn-white btn-xs">Extra Small</a>
            </p>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Button Groups</h5>
            <div class="clearfix m-b-20">
                <div class="btn-group m-r-5 m-b-5">
                    <button class="btn btn-white">Left</button>
                    <button class="btn btn-white">Middle</button>
                    <button class="btn btn-white">Right</button>
                </div>
                <div class="btn-group m-r-5 m-b-5">
                    <a class="btn btn-white" href="javascript:;"><i class="fa fa-align-left"></i></a>
                    <a class="btn btn-white" href="javascript:;"><i class="fa fa-align-center"></i></a>
                    <a class="btn btn-white" href="javascript:;"><i class="fa fa-align-right"></i></a>
                    <a class="btn btn-white" href="javascript:;"><i class="fa fa-align-justify"></i></a>
                </div>
            </div>
        
            <h5>Multiple Button Groups</h5>
            <div class="clearfix m-b-20">
                <div class="btn-group m-r-5 m-b-5">
                    <button type="button" class="btn btn-white">1</button>
                    <button type="button" class="btn btn-white">2</button>
                    <button type="button" class="btn btn-white">3</button>
                    <button type="button" class="btn btn-white">4</button>
                </div>
                <div class="btn-group m-r-5 m-b-5">
                    <button type="button" class="btn btn-white">5</button>
                    <button type="button" class="btn btn-white">6</button>
                    <button type="button" class="btn btn-white">7</button>
                </div>
                <div class="btn-group m-b-5">
                    <button type="button" class="btn btn-white">8</button>
                    <button type="button" class="btn btn-white">9</button>
                </div>
            </div>
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-0">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="m-t-0">Button Icon</h5>
                    <div class="clearfix m-b-25">
                        <a class="btn btn-danger btn-icon"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-primary btn-icon"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-success btn-icon"><i class="fa fa-github"></i></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5 class="m-t-0">Rounded Button Icon</h5>
                    <div class="clearfix m-b-25">
                        <a class="btn btn-white btn-icon btn-circle btn-xs"><i class="fa fa-apple"></i></a>
                        <a class="btn btn-white btn-icon btn-circle btn-sm"><i class="fa fa-apple"></i></a>
                        <a class="btn btn-white btn-icon btn-circle"><i class="fa fa-apple"></i></a>
                        <a class="btn btn-white btn-icon btn-circle btn-lg"><i class="fa fa-apple"></i></a>
                    </div>
                </div>
            </div>
        
            <h5 class="m-t-0">Button with Icon</h5>
            <div class="clearfix m-b-25">
                <p>
                    <a href="javascript:;" class="btn btn-lg btn-primary">
                        <i class="fa fa-twitter fa-2x pull-left"></i>
                        Twitter Bootstrap<br />
                        <small>Version 3.3.4</small>
                    </a>
                </p>
                <p class="m-b-0">
                    <a href="javascript:;" class="btn btn-white m-r-5"><i class="fa fa-comment"></i> Comment</a>
                    <a href="javascript:;" class="btn btn-white m-r-5"><i class="fa fa-cogs"></i> Setting</a>
                    <a href="javascript:;" class="btn btn-white"><i class="fa fa-cog"></i></a>
                </p>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Vertical Button Groups</h5>
            <div class="clearfix m-b-25">
                <div class="btn-group-vertical m-r-5">
                    <button type="button" class="btn btn-white">Top</button>
                    <button type="button" class="btn btn-white">Middle</button>
                    <button type="button" class="btn btn-white">Bottom</button>
                </div>
                <div class="btn-group-vertical m-r-5">
                    <button type="button" class="btn btn-purple">Top</button>
                    <button type="button" class="btn btn-purple">Middle</button>
                    <button type="button" class="btn btn-purple">Bottom</button>
                </div>
                <div class="btn-group-vertical m-r-5">
                    <button type="button" class="btn btn-primary">Top</button>
                    <button type="button" class="btn btn-primary">Middle</button>
                    <button type="button" class="btn btn-primary">Bottom</button>
                </div>
            </div>
        
        
            <h5>Justified Button Groups</h5>
            <div class="clearfix m-b-25">
                <div class="btn-group btn-group-justified m-b-10">
                    <a class="btn btn-success">Left</a>
                    <a class="btn btn-success">Middle</a>
                    <a class="btn btn-success">Right</a>
                </div>
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-inverse">Left</a>
                    <a class="btn btn-inverse">Middle</a>
                    <a class="btn btn-inverse">Right</a>
                </div>
            </div>
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin #footer -->
<div id="footer" class="footer">
    <span class="pull-right">
        <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
            <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
        </a>
    </span>
    &copy; 2015 <b>Source Admin</b> All Right Reserved
</div>
<!-- end #footer -->
