<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">UI Elements</a></li>
    <li class="breadcrumb-item active">General</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">General UI Element <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Labels</h5>
            <div class="clearfix m-b-15">
                <span class="label label-white m-b-5">White</span>
                <span class="label label-default m-b-5">Default</span>
                <span class="label label-grey m-b-5">Grey</span>
                <span class="label label-inverse m-b-5">Inverse</span>
                <span class="label label-purple m-b-5">Purple</span>
                <span class="label label-primary m-b-5">Primary</span>
                <span class="label label-info m-b-5">Info</span>
                <span class="label label-success m-b-5">Success</span>
                <span class="label label-lime m-b-5">Lime</span>
                <span class="label label-warning m-b-5">Warning</span>
                <span class="label label-danger m-b-5">Danger</span>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Badges</h5>
            <div class="clearfix m-b-15">
                <span class="badge badge-white m-b-5">White</span>
                <span class="badge badge-default m-b-5">Default</span>
                <span class="badge badge-grey m-b-5">Grey</span>
                <span class="badge badge-inverse m-b-5">Inverse</span>
                <span class="badge badge-purple m-b-5">Purple</span>
                <span class="badge badge-primary m-b-5">Primary</span>
                <span class="badge badge-info m-b-5">Info</span>
                <span class="badge badge-success m-b-5">Success</span>
                <span class="badge badge-lime m-b-5">Lime</span>
                <span class="badge badge-warning m-b-5">Warning</span>
                <span class="badge badge-danger m-b-5">Danger</span>
            </div>
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Progress Bar</h5>
            <!-- begin row -->
            <div class="row">
                <!-- begin col-6 -->
                <div class="col-lg-6">
                    <div class="progress m-b-10">
                        <div class="progress-bar progress-bar-grey" style="width: 80%">Grey</div>
                    </div>
                    <div class="progress m-b-10">
                        <div class="progress-bar progress-bar-inverse" style="width: 80%">Inverse</div>
                    </div>
                    <div class="progress m-b-10">
                        <div class="progress-bar progress-bar-purple" style="width: 70%">Purple</div>
                    </div>
                    <div class="progress progress-striped m-b-10">
                        <div class="progress-bar" style="width: 60%">Default</div>
                    </div>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-info" style="width: 50%">Info</div>
                    </div>
                </div>
                <!-- end col-6 -->
                <!-- begin col-6 -->
                <div class="col-lg-6">
                    <div class="progress progress-striped m-b-10">
                        <div class="progress-bar progress-bar-success" style="width: 40%">Success</div>
                    </div>
                    <div class="progress progress-striped active m-b-10">
                        <div class="progress-bar progress-bar-lime" style="width: 50%">Lime</div>
                    </div>
                    <div class="progress progress-striped active m-b-10">
                        <div class="progress-bar progress-bar-warning" style="width: 60%">Warning</div>
                    </div>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-danger" style="width: 70%">Danger</div>
                    </div>
                </div>
                <!-- end col-6 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <!-- begin row -->
            <div class="row">
                <!-- begin col-6 -->
                <div class="col-lg-6">
                    <h5 class="m-t-0">Progress Bar Sizes</h5>
                    <div class="progress progress-striped progress-xs m-b-10">
                        <div class="progress-bar" style="width: 40%"></div>
                    </div>
                    <div class="progress progress-striped progress-sm m-b-10">
                        <div class="progress-bar" style="width: 50%">progress-sm</div>
                    </div>
                    <div class="progress progress-striped m-b-10">
                        <div class="progress-bar" style="width: 60%">default</div>
                    </div>
                    <div class="progress progress-striped progress-lg m-b-10">
                        <div class="progress-bar" style="width: 70%">progress-lg</div>
                    </div>
                    <div class="progress progress-striped progress-rounded">
                        <div class="progress-bar" style="width: 80%">progress-rounded</div>
                    </div>
                </div>
                <!-- end col-6 -->
                <!-- begin col-6 -->
                <div class="col-lg-6">
                    <h5 class="m-t-0">Stacked Progress Bar</h5>
                    <div class="progress progress-striped progress-rounded">
                        <div class="progress-bar progress-bar-inverse" style="width: 15%">15%</div>
                        <div class="progress-bar" style="width: 20%">20%</div>
                        <div class="progress-bar progress-bar-success" style="width: 30%">30%</div>
                    </div>
                </div>
                <!-- end col-6 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->
        
<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-lg-3">
            <h5 class="m-t-0">List Group</h5>
            <ul class="list-group">
                <li class="list-group-item"><span class="badge badge-primary">14</span>Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item disabled">Disabled Item</li>
            </ul>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3">
            <h5 class="m-t-0">List Group with Linked Items</h5>
            <div class="list-group">
                <a href="#" class="list-group-item active">Cras justo odio</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3">
            <h5 class="m-t-0">List Group with Contextual classes</h5>
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
                <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
                <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
                <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
            </ul>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-lg-3">
            <h5 class="m-t-0">Linked Items with Contextual classes</h5>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
                <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Thumbnails</h5>
            <!-- begin row -->
            <div class="row">
                <!-- begin col-lg-6 -->
                <div class="col-lg-6">
                    <a href="javascript:;" class="thumbnail m-b-15">
                        <img src="../assets/img/media-1.jpg" alt="" />
                    </a>
                    <a href="javascript:;" class="thumbnail">
                        <img src="../assets/img/media-3.jpg" alt="" />
                    </a>
                </div>
                <!-- end col-lg-6 -->
                <!-- begin col-lg-6 -->
                <div class="col-lg-6">
                    <a href="javascript:;" class="thumbnail m-b-15">
                        <img src="../assets/img/media-2.jpg" alt="" />
                    </a>
                    <a href="javascript:;" class="thumbnail">
                        <img src="../assets/img/media-4.jpg" alt="" />
                    </a>
                </div>
                <!-- end col-lg-6 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Thumbnails with Contents</h5>
            <!-- begin row -->
            <div class="row">
                <!-- begin col-lg-6 -->
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="../assets/img/media-5.jpg" alt="" />
                        <div class="caption">
                            <h3 class="m-t-10 m-b-5">Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p class="m-b-0">
                                <a href="#" class="btn btn-primary">Button</a>
                                <a href="#" class="btn btn-default">Button</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end col-lg-6 -->
                <!-- begin col-lg-6 -->
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="../assets/img/media-6.jpg" alt="" />
                        <div class="caption">
                            <h3 class="m-t-10 m-b-5">Thumbnail label</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p class="m-b-0">
                                <a href="#" class="btn btn-purple">Button</a>
                                <a href="#" class="btn btn-default">Button</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end col-lg-6 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->


<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Pagination</h5>
            <div>
                <ul class="pagination pagination-lg m-t-0 m-b-10">
                    <li class="disabled"><a href="javascript:;">«</a></li>
                    <li class="active"><a href="javascript:;">1</a></li>
                    <li><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;">3</a></li>
                    <li><a href="javascript:;">4</a></li>
                    <li><a href="javascript:;">5</a></li>
                    <li><a href="javascript:;">»</a></li>
                </ul>
            </div>
            <div>
                <ul class="pagination m-t-0 pagination-purple m-b-10">
                    <li class="disabled"><a href="javascript:;">«</a></li>
                    <li class="active"><a href="javascript:;">1</a></li>
                    <li><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;">3</a></li>
                    <li><a href="javascript:;">4</a></li>
                    <li><a href="javascript:;">5</a></li>
                    <li><a href="javascript:;">»</a></li>
                </ul>
            </div>
            <div>
                <ul class="pagination pagination-sm pagination-inverse m-t-0">
                    <li class="disabled"><a href="javascript:;">«</a></li>
                    <li class="active"><a href="javascript:;">1</a></li>
                    <li><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;">3</a></li>
                    <li><a href="javascript:;">4</a></li>
                    <li><a href="javascript:;">5</a></li>
                    <li><a href="javascript:;">»</a></li>
                </ul>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5>Pagination & Pager</h5>
            <ul class="pager">
                <li><a href="javascript:;">Previous</a></li>
                <li><a href="javascript:;">Next</a></li>
            </ul>
            <ul class="pager">
                <li class="previous disabled"><a href="javascript:;">&larr; Older</a></li>
                <li class="next"><a href="javascript:;">Newer &rarr;</a></li>
            </ul>
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-8 -->
        <div class="col-lg-8">
            <h5 class="m-t-0">Bootstrap Jumbotron</h5>
            <div class="jumbotron bg-white m-b-20">
                <h1>Hello, world!</h1>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <p><a class="btn btn-primary btn-lg" href="#">Learn more</a></p>
            </div>
        </div>
        <!-- end col-8 -->
        <!-- begin col-4 -->
        <div class="col-lg-4">
            <h5 class="m-t-0">Well</h5>
            <div class="well m-b-10">
                Look, I'm in a well!
            </div>
            <div class="well m-b-10 well-lg">
                Look, I'm in a large well!
            </div>
            <div class="well well-sm">
                Look, I'm in a small well!
            </div>
        </div>
        <!-- end col-4 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin #footer -->
<div id="footer" class="footer">
    <span class="pull-right">
        <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
            <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
        </a>
    </span>
    &copy; 2015 <b>Source Admin</b> All Right Reserved
</div>
<!-- end #footer -->
