<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">UI Elements</a></li>
    <li class="breadcrumb-item active">Media Object</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Media object <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Default media</h5>
            <p>
                The default media displays a media object (images, video, audio) to the left or right of a content block.
            </p>
            <!-- begin panel -->
            <div class="panel p-20">
                <div class="media">
                    <a class="media-left" href="javascript:;">
                        <img src="../assets/img/media-1.jpg" alt="" class="media-object img-rounded" width="96" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                    </div>
                </div>
                <div class="media">
                    <a class="media-left" href="javascript:;">
                        <img src="../assets/img/media-2.jpg" alt="" class="media-object img-rounded" width="96" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                    </div>
                </div>    
                <div class="media">
                    <a class="media-left" href="javascript:;">
                        <img src="../assets/img/media-3.jpg" alt="" class="media-object img-rounded" width="96" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p class="m-b-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                    </div>
                    <a class="media-right" href="javascript:;">
                        <img src="../assets/img/media-4.jpg" alt="" class="media-object img-rounded" width="96" />
                    </a>
                </div>
                <div class="media">
                    <a class="media-left" href="javascript:;">
                        <img src="../assets/img/media-5.jpg" alt="" class="media-object img-rounded" width="96" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p class="m-b-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.</p>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Media list</h5>
            <p>With a bit of extra markup, you can use media inside list (useful for comment threads or articles lists).</p>
            <!-- begin panel -->
            <div class="panel p-20">
                <ul class="media-list">
                    <li class="media media-sm">
                        <a class="media-left" href="javascript:;">
                            <img src="../assets/img/user_1.jpg" alt="" class="media-object img-circle" width="64" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                            <div class="media media-sm">
                                <a class="media-left" href="javascript:;">
                                    <img src="../assets/img/user_2.jpg" alt="" class="media-object img-circle" width="64" />
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Nested media heading</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                    <div class="media">
                                        <a class="media-left" href="javascript:;">
                                            <img src="../assets/img/user_3.jpg" alt="" class="media-object img-circle" width="64" />
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">Nested media heading</h4>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <a class="media-left" href="javascript:;">
                                    <img src="../assets/img/user_4.jpg" alt="" class="media-object img-circle" width="64" />
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Nested media heading</h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="media media-sm">
                        <a class="media-left" href="javascript:;">
                            <img src="../assets/img/user_5.jpg" alt="" class="media-object img-circle" width="64" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            <p class="m-b-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin #footer -->
<div id="footer" class="footer">
    <span class="pull-right">
        <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
            <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
        </a>
    </span>
    &copy; 2015 <b>Source Admin</b> All Right Reserved
</div>
<!-- end #footer -->

