<div ng-controller="modalNotificationController">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item"><a href="javascript:;">UI Elements</a></li>
		<li class="breadcrumb-item active">Modal & Notification</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">Modal & Notification <small>header small text goes here...</small></h1>
	<!-- end page-header -->
	
	<!-- begin section-container -->
	<div class="section-container section-with-top-border p-b-5">
		<h5 class="m-t-0">Alerts & Bordered Alerts</h5>
		<p class="m-b-15">
			Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.
		</p>
		<!-- begin row -->
		<div class="row">
			<!-- begin col-6 -->
			<div class="col-lg-6">
				<div class="alert alert-success fade show m-b-10">
					<strong>Success!</strong>
					Vivamus vestibulum posuere est eu tincidunt.
					<span class="close" data-dismiss="alert">&times;</span>
				</div>
				<div class="alert alert-info fade show m-b-10">
					<strong>Info!</strong>
					Morbi sed nibh ac tortor laoreet blandit sed eu ligula.
					<span class="close" data-dismiss="alert">&times;</span>
				</div>
				<div class="alert alert-warning fade show m-b-10">
					<strong>Warning!</strong>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					<span class="close" data-dismiss="alert">&times;</span>
				</div>
				<div class="alert alert-danger fade show">
					<strong>Error!</strong>
					Morbi vitae arcu in neque luctus elementum.
					<span class="close" data-dismiss="alert">&times;</span>
				</div>
			</div>
			<!-- end col-6 -->
			<!-- begin col-6 -->
			<div class="col-lg-6">
				<div class="alert alert-success alert-bordered fade show m-b-10">
					<strong>Success!</strong>
					Vivamus vestibulum posuere est eu tincidunt.
					<span class="close" data-dismiss="alert">&times;</span>
				</div>
				<div class="alert alert-info alert-bordered fade show m-b-10">
					<strong>Info!</strong>
					Morbi sed nibh ac tortor laoreet blandit sed eu ligula.
					<span class="close" data-dismiss="alert">&times;</span>
				</div>
				<div class="alert alert-warning alert-bordered fade show m-b-10">
					<strong>Warning!</strong>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					<span class="close" data-dismiss="alert">&times;</span>
				</div>
				<div class="alert alert-danger alert-bordered fade show">
					<strong>Error!</strong>
					Morbi vitae arcu in neque luctus elementum.
					<span class="close" data-dismiss="alert">&times;</span>
				</div>
			</div>
			<!-- end col-6 -->
		</div>
		<!-- end row -->
	</div>
	<!-- end section-container -->
	
	<!-- begin section-container -->
	<div class="section-container section-with-top-border p-b-5">
		<h5 class="m-t-0">Bootstrap Modal</h5>
		<p class="m-b-15">
			Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.
		</p>
		<!-- begin row -->
		<div class="row">
			<div class="col-sm-6">
				<div class="clearfix m-b-25">
					<div class="panel p-20 m-b-20">
						<div class="row">
							<div class="col-lg-8">
								<h5 class="m-t-0">
									Default Modal
								</h5>
								<p>
									Default Bootstrap Modal is comes with the <b>fade animation</b> & the <b>backrop cover</b>.
								</p>
							</div>
							<div class="col-lg-4">
								<a href="javascript:;" data-target="#modal-dialog" class="btn btn-block btn-primary" data-toggle="modal">DEMO</a>
							</div>
						</div>
					</div>
					<!-- #modal-dialog -->
					<div class="modal fade" id="modal-dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title">Modal Dialog</h4>
								</div>
								<div class="modal-body">
									<h4>Text in a modal</h4>
									<p class="m-b-20">
										Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
									</p>
						
									<h4>Popover in a modal</h4>
									<p class="m-b-20">
										This <a href="#" class="btn btn-sm btn-success" data-toggle="popover" title="A Title" data-content="And here's some amazing content. It's very engaging. right?">button</a> should trigger a popover on click.
									</p>
						
									<h4>Tooltips in a modal</h4>
									<p class="m-b-20">
										This <a href="#" data-toggle="tooltip" title="Tooltip">link</a> and that <a href="#" data-toggle="tooltip" title="Tooltip">link</a> should have tooltips on hover.
									</p>
								</div>
								<div class="modal-footer">
									<a href="javascript:;" class="btn width-100 btn-default" data-dismiss="modal">Close</a>
									<a href="javascript:;" class="btn width-100 btn-primary">Action</a>
								</div>
							</div>
						</div>
					</div>
				
					<div class="panel p-20 m-b-0">
						<div class="row">
							<div class="col-lg-8">
								<h5 class="m-t-0">
									Modal without Animation
								</h5>
								<p>
									You just need to remove the css class <code>.fade</code> in order to disable the animation effect.
								</p>
							</div>
							<div class="col-lg-4">
								<a href="javascript:;" data-target="#modal-without-animation" class="btn btn-block btn-success" data-toggle="modal">DEMO</a>
							</div>
						</div>
					</div>
					<!-- #modal-without-animation -->
					<div class="modal" id="modal-without-animation">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title">Modal Without Animation</h4>
								</div>
								<div class="modal-body">
									<p>Modal body content here...</p>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta lectus a consequat laoreet. 
										Integer id aliquet sapien. Fusce et pretium nulla. Ut consectetur at lacus eget scelerisque. 
										Mauris purus mi, tincidunt quis risus sit amet, placerat consequat dolor.
									</p>
								</div>
								<div class="modal-footer">
									<a href="javascript:;" class="btn btn-default width-100" data-dismiss="modal">Close</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="clearfix m-b-25">
					<div class="panel p-20 m-b-20">
						<div class="row">
							<div class="col-lg-8">
								<h5 class="m-t-0">
									Modal Message
								</h5>
								<p>
									Modal Message comes with the <b>full width white background</b> and centered content.
								</p>
							</div>
							<div class="col-lg-4">
								<a href="javascript:;" data-target="#modal-message" class="btn btn-block btn-inverse" data-toggle="modal">DEMO</a>
							</div>
						</div>
					</div>
					<!-- #modal-message -->
					<div class="modal modal-message fade" id="modal-message">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title">Modal Message Header</h4>
								</div>
								<div class="modal-body">
									<h4><i class="fa fa-map-marker text-primary fa-fw"></i> GPS Navigation</h4>
									<p>Do you want to turn on location services so GPS can use your location ?</p>
								</div>
								<div class="modal-footer">
									<a href="javascript:;" class="btn width-100 btn-default" data-dismiss="modal">Close</a>
									<a href="javascript:;" class="btn width-100 btn-primary">Save</a>
								</div>
							</div>
						</div>
					</div>
				
					<div class="panel p-20 m-b-0">
						<div class="row">
							<div class="col-lg-8">
								<h5 class="m-t-0">
									Modal with Alert
								</h5>
								<p>
									You can put the alert elements into the modal dialog in order to make it look like a confirmation dialog box.
								</p>
							</div>
							<div class="col-lg-4">
								<a href="javascript:;" data-target="#modal-alert" class="btn btn-block btn-danger" data-toggle="modal">DEMO</a>
							</div>
						</div>
					</div>
					<!-- #modal-alert -->
					<div class="modal fade" id="modal-alert">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title">Alert Header</h4>
								</div>
								<div class="modal-body">
									<div class="alert alert-danger m-b-0">
										<p><b>Confirmation:</b> Are you sure you want to delete this data?</p>
									</div>
								</div>
								<div class="modal-footer">
									<a href="javascript:;" class="btn width-100 btn-default" data-dismiss="modal">Close</a>
									<a href="javascript:;" class="btn width-100 btn-danger" data-dismiss="modal">Action</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end section-container -->
	
	<!-- begin section-container -->
	<div class="section-container section-with-top-border p-b-5">
		<div class="row">
			<!-- begin col-4 -->
			<div class="col-lg-4">
				<h3 class="m-t-0">Gritter Notification</h3>
				<p class="m-b-20">
					Gritter is a small growl-like notification plugin for jQuery. Gritter Notification is compatible with 
					FF 3+, Opera 9, IE7, IE8, Safari 4+.
				</p>
			</div>
			<!-- end col-4 -->
			<!-- begin col-4 -->
			<div class="col-lg-4">
				<table class="m-b-20">
					<tbody>
						<tr>
							<td class="width-full"><p>1. Add default notification</p></td>
							<td><p><a href="javascript:;" id="add-regular" class="btn btn-inverse btn-sm m-l-5">Show</a></p></td>
						</tr>
						<tr>
							<td><p>2. Add sticky notification</p></td>
							<td><p><a href="javascript:;" id="add-sticky" class="btn btn-inverse btn-sm m-l-5">Show</a></p></td>
						</tr>
						<tr>
							<td><p>3. Add notification without image</p></td>
							<td><p><a href="javascript:;" id="add-without-image" class="btn btn-inverse btn-sm m-l-5">Show</a></p></td>
						</tr>
						<tr>
							<td><p>4. Add a white notification</p></td>
							<td><p><a href="javascript:;" id="add-gritter-light" class="btn btn-white btn-sm m-l-5">Show</a></p></td>
						</tr>
						<tr>
							<td><p>5. Add notification (with callbacks)</p></td>
							<td><p><a href="javascript:;" id="add-with-callbacks" class="btn btn-inverse btn-sm m-l-5">Show</a></p></td>
						</tr>
						<tr>
							<td><p>6. Add a sticky notification (with callbacks)</p></td>
							<td><p><a href="javascript:;" id="add-sticky-with-callbacks" class="btn btn-inverse btn-sm m-l-5">Show</a></p></td>
						</tr>
						<tr>
							<td><p class="m-b-0">7. Add notification with max of 3</p></td>
							<td><p class="m-b-0"><a href="javascript:;" id="add-max" class="btn btn-inverse btn-sm m-l-5">Show</a></p></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- end col-4 -->
			<!-- begin col-4 -->
			<div class="col-lg-4">
				<table class="m-b-20">
					<tbody>
						<tr>
							<td class="width-full"><p>8. Remove all notifications</p></td>
							<td><p><a href="javascript:;" id="remove-all" class="btn btn-danger btn-sm m-l-5">Remove</a></p></td>
						</tr>
						<tr>
							<td><p class="m-b-0">9. Remove all notifications (with callbacks)</p></td>
							<td><p class="m-b-0"><a href="javascript:;" id="remove-all-with-callbacks" class="btn btn-danger btn-sm m-l-5">Remove</a></p></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- end col-4 -->
		</div>
		<!-- end row -->
	</div>
	<!-- end section-container -->
	
	<!-- begin #footer -->
	<div id="footer" class="footer">
		<span class="pull-right">
			<a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
				<i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
			</a>
		</span>
		&copy; 2018 <b>Source Admin</b> All Right Reserved
	</div>
	<!-- end #footer -->
</div>
