<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">UI Elements</a></li>
    <li class="breadcrumb-item active">Simple Line Icons</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Simple Line Icons <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-15">
    <h5 class="m-t-0">Simple Line Icons Webfont</h5>
    <p class="m-b-15">
        All 160 simple line icons are now embedded in a webfont for more convenient use on the web or in a native application. 
    </p>
    <!-- begin row -->
    <div class="row m-b-15">
        <!-- begin col-2 -->
        <div class="col-lg-2">
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-user"></i> icon-user</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-user-female"></i> icon-user-female</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-users"></i> icon-users</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-user-follow"></i> icon-user-follow</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-user-following"></i> icon-user-following</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-user-unfollow"></i> icon-user-unfollow</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-trophy"></i> icon-trophy</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-speedometer"></i> icon-speedometer</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-social-youtube"></i> icon-social-youtube</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-social-twitter"></i> icon-social-twitter</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-social-tumblr"></i> icon-social-tumblr</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-social-facebook"></i> icon-social-facebook</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-social-dropbox"></i> icon-social-dropbox</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-social-dribbble"></i> icon-social-dribbble</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-shield"></i> icon-shield</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-screen-tablet"></i> icon-screen-tablet</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-screen-smartphone"></i> icon-screen-smartphone</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-screen-desktop"></i> icon-screen-desktop</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-plane"></i> icon-plane</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-notebook"></i> icon-notebook</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-moustache"></i> icon-moustache</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-mouse"></i> icon-mouse</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-magnet"></i> icon-magnet</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-magic-wand"></i> icon-magic-wand</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-hourglass"></i> icon-hourglass</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-graduation"></i> icon-graduation</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-ghost"></i> icon-ghost</p>
        </div>
        <!-- end col-2 -->
        <!-- begin col-2 -->
        <div class="col-lg-2">
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-game-controller"></i> icon-game-controller</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-fire"></i> icon-fire</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-eyeglasses"></i> icon-eyeglasses</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-envelope-open"></i> icon-envelope-open</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-envelope-letter"></i> icon-envelope-letter</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-energy"></i> icon-energy</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-emoticon-smile"></i> icon-emoticon-smile</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-disc"></i> icon-disc</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-cursor-move"></i> icon-cursor-move</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-crop"></i> icon-crop</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-credit-card"></i> icon-credit-card</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-chemistry"></i> icon-chemistry</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-bell"></i> icon-bell</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-badge"></i> icon-badge</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-anchor"></i> icon-anchor</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-action-redo"></i> icon-action-redo</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-action-undo"></i> icon-action-undo</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-bag"></i> icon-bag</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-basket"></i> icon-basket</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-basket-loaded"></i> icon-basket-loaded</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-book-open"></i> icon-book-open</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-briefcase"></i> icon-briefcase</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-bubbles"></i> icon-bubbles</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-calculator"></i> icon-calculator</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-call-end"></i> icon-call-end</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-call-in"></i> icon-call-in</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-call-out"></i> icon-call-out</p>
        </div>
        <!-- end col-2 -->
        <!-- begin col-2 -->
        <div class="col-lg-2">
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-compass"></i> icon-compass</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-cup"></i> icon-cup</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-diamond"></i> icon-diamond</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-direction"></i> icon-direction</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-directions"></i> icon-directions</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-docs"></i> icon-docs</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-drawer"></i> icon-drawer</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-drop"></i> icon-drop</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-earphones"></i> icon-earphones</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-earphones-alt"></i> icon-earphones-alt</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-feed"></i> icon-feed</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-film"></i> icon-film</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-folder-alt"></i> icon-folder-alt</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-frame"></i> icon-frame</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-globe"></i> icon-globe</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-globe-alt"></i> icon-globe-alt</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-handbag"></i> icon-handbag</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-layers"></i> icon-layers</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-map"></i> icon-map</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-picture"></i> icon-picture</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-pin"></i> icon-pin</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-playlist"></i> icon-playlist</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-present"></i> icon-present</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-printer"></i> icon-printer</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-puzzle"></i> icon-puzzle</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-speech"></i> icon-speech</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-vector"></i> icon-vector</p>
        </div>
        <!-- end col-2 -->
        <!-- begin col-2 -->
        <div class="col-lg-2">
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-wallet"></i> icon-wallet</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-arrow-down"></i> icon-arrow-down</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-arrow-left"></i> icon-arrow-left</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-arrow-right"></i> icon-arrow-right</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-arrow-up"></i> icon-arrow-up</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-bar-chart"></i> icon-bar-chart</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-bulb"></i> icon-bulb</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-calendar"></i> icon-calendar</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-control-end"></i> icon-control-end</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-control-forward"></i> icon-control-forward</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-control-pause"></i> icon-control-pause</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-control-play"></i> icon-control-play</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-control-rewind"></i> icon-control-rewind</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-control-start"></i> icon-control-start</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-cursor"></i> icon-cursor</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-dislike"></i> icon-dislike</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-equalizer"></i> icon-equalizer</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-graph"></i> icon-graph</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-grid"></i> icon-grid</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-home"></i> icon-home</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-like"></i> icon-like</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-list"></i> icon-list</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-login"></i> icon-login</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-logout"></i> icon-logout</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-loop"></i> icon-loop</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-microphone"></i> icon-microphone</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-music-tone"></i> icon-music-tone</p>
        </div>
        <!-- end col-2 -->
        <!-- begin col-2 -->
        <div class="col-lg-2">
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-music-tone-alt"></i> icon-music-tone-alt</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-note"></i> icon-note</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-pencil"></i> icon-pencil</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-pie-chart"></i> icon-pie-chart</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-question"></i> icon-question</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-rocket"></i> icon-rocket</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-share"></i> icon-share</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-share-alt"></i> icon-share-alt</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-shuffle"></i> icon-shuffle</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-size-actual"></i> icon-size-actual</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-size-fullscreen"></i> icon-size-fullscreen</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-support"></i> icon-support</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-tag"></i> icon-tag</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-trash"></i> icon-trash</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-umbrella"></i> icon-umbrella</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-wrench"></i> icon-wrench</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-ban"></i> icon-ban</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-bubble"></i> icon-bubble</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-camcorder"></i> icon-camcorder</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-camera"></i> icon-camera</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-check"></i> icon-check</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-clock"></i> icon-clock</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-close"></i> icon-close</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-cloud-download"></i> icon-cloud-download</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-cloud-upload"></i> icon-cloud-upload</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-doc"></i> icon-doc</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-envelope"></i> icon-envelope</p>
        </div>
        <!-- end col-2 -->
        <!-- begin col-2 -->
        <div class="col-lg-2">
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-eye"></i> icon-eye</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-flag"></i> icon-flag</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-folder"></i> icon-folder</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-heart"></i> icon-heart</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-info"></i> icon-info</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-key"></i> icon-key</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-link"></i> icon-link</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-lock"></i> icon-lock</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-lock-open"></i> icon-lock-open</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-magnifier"></i> icon-magnifier</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-magnifier-add"></i> icon-magnifier-add</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-magnifier-remove"></i> icon-magnifier-remove</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-paper-clip"></i> icon-paper-clip</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-paper-plane"></i> icon-paper-plane</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-plus"></i> icon-plus</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-pointer"></i> icon-pointer</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-power"></i> icon-power</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-refresh"></i> icon-refresh</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-reload"></i> icon-reload</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-settings"></i> icon-settings</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-star"></i> icon-star</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-symbol-female"></i> icon-symbol-female</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-symbol-male"></i> icon-symbol-male</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-target"></i> icon-target</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-volume-1"></i> icon-volume-1</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-volume-2"></i> icon-volume-2</p>
            <p class="text-ellipsis"><i class="f-s-18 m-r-10 icon-volume-off"></i> icon-volume-off</p>
        </div>
        <!-- end col-2 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin #footer -->
<div id="footer" class="footer">
    <span class="pull-right">
        <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
            <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
        </a>
    </span>
    &copy; 2015 <b>Source Admin</b> All Right Reserved
</div>
<!-- end #footer -->

