<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">UI Elements</a></li>
    <li class="breadcrumb-item active">Typography</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Typography <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Bootstrap Headings</h5>
            <h1>h1. Bootstrap Heading</h1>
            <h2>h2. Bootstrap Heading</h2>
            <h3>h3. Bootstrap Heading</h3>
            <h4>h4. Bootstrap Heading</h4>
            <h5>h5. Bootstrap Heading</h5>
            <h6 class="m-b-20">h6. Bootstrap Heading</h6>
        </div>
        <!-- end col-lg-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Normal Text</h5>
            <p class="m-b-25">
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus
                auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
                Donec ullamcorper nulla non metus auctor fringilla.
            </p>
            <h5>Font Weight & Style</h5>
            <p>This line of text is meant to be treated as fine print.</p>
            <p class="f-w-normal">rendered as semi bold text</p>
            <p><strong>rendered as bold text</strong></p>
            <p class="m-b-20"><em>rendered as italicized text</em></p>
        </div>
        <!-- end col-lg-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Emphasis classes</h5>
            <p class="text-muted">Text Muted - Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
            <p class="text-white">Text White - In elementum dui nec dapibus lacinia.</p>
            <p class="text-inverse">Text Inverse - Vestibulum consequat neque eget arcu hendrerit.</p>
            <p class="text-purple">Text Purple - Proin eu mollis purus, eu malesuada libero.</p>
            <p class="text-primary">Text Primary - Praesent sed ex ut risus fermentum faucibus.</p>
            <p class="text-info">Text Info - Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.</p>
            <p class="text-success">Text Success - Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
            <p class="text-lime">Text Lime - In lobortis iaculis dui commodo lobortis.</p>
            <p class="text-warning">Text Warning - Etiam porta sem malesuada magna mollis euismod.</p>
            <p class="text-danger m-b-20">Text Danger - Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Abbreviation</h5>
            <p>An abbreviation of the word attribute is  <abbr title="attribute">attr</abbr></p>
            <p class="m-b-25"><abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the best thing since sliced bread.</p>
        
            <h5>Address</h5>
            <address>
                <strong>Twitter, Inc.</strong><br />
                795 Folsom Ave, Suite 600<br />
                San Francisco, CA 94107<br />
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
            <address class="m-b-20">
                <strong>Full Name</strong><br />
                <a href="mailto:#">first.last@example.com</a>
            </address>
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Lead Text</h5>
            <p class="lead m-b-20">
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
            </p>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Text Alignment Classes</h5>
            <p class="text-left">Left aligned text.</p>
            <p class="text-center">Center aligned text.</p>
            <p class="text-right m-b-20">Right aligned text.</p>
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
    <h5 class="m-t-0">Blockquote</h5>
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <blockquote class="m-b-20">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Someone famous <cite title="Source Title">Source Title</cite></small>
            </blockquote>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <blockquote class="pull-right m-b-20">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Someone famous <cite title="Source Title">Source Title</cite></small>
            </blockquote>
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Unordered List</h5>
            <ul class="m-b-20">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Nulla volutpat aliquam velit
                    <ul>
                        <li>Phasellus iaculis neque</li>
                        <li>Purus sodales ultricies</li>
                    </ul>
                </li>
                <li>Aenean sit amet erat nunc</li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Eget porttitor lorem</li>
            </ul>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Ordered List</h5>
            <ol class="m-b-20">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Nulla volutpat aliquam velit
                    <ul>
                        <li>Phasellus iaculis neque</li>
                        <li>Purus sodales ultricies</li>
                    </ul>
                </li>
                <li>Aenean sit amet erat nunc</li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Eget porttitor lorem</li>
            </ol>
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Unstyled List</h5>
            <ul class="list-unstyled m-b-20">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Nulla volutpat aliquam velit
                    <ul>
                        <li>Phasellus iaculis neque</li>
                        <li>Purus sodales ultricies</li>
                    </ul>
                </li>
                <li>Aenean sit amet erat nunc</li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Eget porttitor lorem</li>
            </ul>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Inline List</h5>
            <ul class="list-inline m-b-20">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Nulla volutpat aliquam velit
                <li>Phasellus iaculis neque</li>
                <li>Purus sodales ultricies</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Eget porttitor lorem</li>
            </ul>
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Description List</h5>
            <dl class="m-b-20">
                <dt>Description lists</dt>
                <dd>A description list is perfect for defining terms.</dd>
                <dt>Euismod</dt>
                <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                <dt>Malesuada porta</dt>
                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
            </dl>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-lg-6">
            <h5 class="m-t-0">Horizontal Description List</h5>
            <dl class="dl-horizontal m-b-20">
                <dt>Description lists</dt>
                <dd>A description list is perfect for defining terms.</dd>
                <dt>Euismod</dt>
                <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                <dt>Malesuada porta</dt>
                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
            </dl>
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end section-container -->

<!-- begin #footer -->
<div id="footer" class="footer">
    <span class="pull-right">
        <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
            <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
        </a>
    </span>
    &copy; 2015 <b>Source Admin</b> All Right Reserved
</div>
<!-- end #footer -->
