<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
	<li class="breadcrumb-item"><a href="javascript:;">UI Elements</a></li>
	<li class="breadcrumb-item active">Tabs & Accordions</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Tabs & Accordions <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
	<h5 class="m-t-0">Default Tabs & Justified Tabs</h5>
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<!-- begin panel -->
			<div class="panel">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link active" href="javascript:;" data-target="#default-tab-1" data-toggle="tab">Bootstrap Tab</a></li>
					<li class="nav-item"><a class="nav-link" href="javascript:;" data-target="#default-tab-2" data-toggle="tab">Bootstrap Tab Two</a></li>
					<li class="nav-item"><a class="nav-link" href="javascript:;" data-target="#default-tab-3" data-toggle="tab">Bootstrap Tab Three</a></li>
				</ul>
				<div class="tab-content m-b-0">
					<div class="tab-pane fade show active" id="default-tab-1">
						<p class="lead m-b-10">
							"A perfect blend of creativity, energy, communication, clarity and restraint."
						</p>
						<p class="m-b-20">
							Nullam ac sapien justo. Nam augue mauris, malesuada non magna sed, feugiat blandit ligula. 
							In tristique tincidunt purus id iaculis. 
						</p>
						<div class="text-right">
							<a href="#" class="btn btn-default width-100">Default</a>
							<a href="#" class="btn btn-inverse width-100">Inverse</a>
						</div>
					</div>
					<div class="tab-pane fade" id="default-tab-2">
						<div class="row">
							<div class="col-lg-6">
								<p class="lead">
									Crafting visually stunning memorable experiences for web and interfaces.
								</p>
							</div>
							<div class="col-lg-6">
								<h4>Tabs 1</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
									est diam sagittis orci, a ornare nisi quam elementum tortor. 
								</p>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="default-tab-3">
						<h4>Subscribe with us & get updated News!</h4>
						<p>
							Phasellus elementum, nibh eget adipiscing porttitor, est diam sagittis orci, a ornare nisi quam elementum tortor. 
						</p>
					</div>
				</div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-6 -->
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<!-- begin panel -->
			<div class="panel">
				<ul class="nav nav-tabs nav-tabs-primary nav-justified">
					<li class="nav-item"><a class="nav-link active" href="javascript:;" data-target="#justified-tab-1" data-toggle="tab">Bootstrap Tab</a></li>
					<li class="nav-item"><a class="nav-link" href="javascript:;" data-target="#justified-tab-2" data-toggle="tab">Bootstrap Tab Two</a></li>
					<li class="nav-item"><a class="nav-link" href="javascript:;" data-target="#justified-tab-3" data-toggle="tab">Bootstrap Tab Three</a></li>
				</ul>
				<div class="tab-content m-b-0">
					<div class="tab-pane fade active show" id="justified-tab-1">
						<p class="lead m-b-10">
							"A perfect blend of creativity, energy, communication, clarity and restraint."
						</p>
						<p class="m-b-20">
							Nullam ac sapien justo. Nam augue mauris, malesuada non magna sed, feugiat blandit ligula. 
							In tristique tincidunt purus id iaculis. 
						</p>
						<div class="text-right">
							<a href="#" class="btn btn-default width-100">Default</a>
							<a href="#" class="btn btn-primary width-100">Primary</a>
						</div>
					</div>
					<div class="tab-pane fade" id="justified-tab-2">
						<div class="row">
							<div class="col-lg-6">
								<p class="lead">
									Crafting visually stunning memorable experiences for web and interfaces.
								</p>
							</div>
							<div class="col-lg-6">
								<h4>Tabs 1</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
									Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
									est diam sagittis orci, a ornare nisi quam elementum tortor. 
								</p>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="justified-tab-3">
						<h4>Subscribe with us & get updated News!</h4>
						<p>
							Phasellus elementum, nibh eget adipiscing porttitor, est diam sagittis orci, a ornare nisi quam elementum tortor. 
						</p>
					</div>
				</div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-6 -->
	</div>
	<!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
	<h5 class="m-t-0">Default Nav Pills & Justified Pills</h5>
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<!-- begin nav-pills -->
			<ul class="nav nav-pills nav-pills-success">
				<li class="nav-item"><a class="nav-link active" href="javascript:;" data-target="#nav-pills-tab-1" data-toggle="tab">Pills One</a></li>
				<li class="nav-item"><a class="nav-link" href="javascript:;" data-target="#nav-pills-tab-2" data-toggle="tab">Pills Two</a></li>
				<li class="nav-item"><a class="nav-link" href="javascript:;" data-target="#nav-pills-tab-3" data-toggle="tab">Pills Three</a></li>
			</ul>
			<!-- end nav-pills -->
			<!-- begin tab-content -->
			<div class="tab-content panel">
				<div class="tab-pane fade active show" id="nav-pills-tab-1">
					<h4>Affordable solutions for all your creativity needs.</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
						est diam sagittis orci, a ornare nisi quam elementum tortor. 
						Proin interdum ante porta est convallis dapibus dictum in nibh. 
					</p>
				</div>
				<div class="tab-pane fade" id="nav-pills-tab-2">
					<h4>Accessible. Affordable. Design.</h4>
					<p>
						Proin interdum ante porta est convallis dapibus dictum in nibh. 
						Aenean quis massa congue metus mollis fermentum eget et tellus. 
						Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
						nec eleifend orci eros id lectus.
					</p>
				</div>
				<div class="tab-pane fade" id="nav-pills-tab-3">
					<h4>Engaging Purposeful and Creative.</h4>
					<p>
						Aenean quis massa congue metus mollis fermentum eget et tellus. 
						Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
						nec eleifend orci eros id lectus.
						Proin interdum ante porta est convallis dapibus dictum in nibh. 
					</p>
				</div>
			</div>
			<!-- end tab-content -->
		</div>
		<!-- end col-6 -->
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<!-- begin nav-pills -->
			<ul class="nav nav-pills nav-pills-danger nav-justified">
				<li class="nav-item"><a class="nav-link active" href="javascript:;" data-target="#nav-pills-justified-1" data-toggle="tab">Pills One</a></li>
				<li class="nav-item"><a class="nav-item" href="javascript:;" data-target="#nav-pills-justified-2" data-toggle="tab">Pills Two</a></li>
				<li class="nav-item"><a class="nav-item" href="javascript:;" data-target="#nav-pills-justified-3" data-toggle="tab">Pills Three</a></li>
			</ul>
			<!-- end nav-pills -->
			<!-- begin tab-content -->
			<div class="tab-content panel">
				<div class="tab-pane fade active show" id="nav-pills-justified-1">
					<h4>Affordable solutions for all your creativity needs.</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
						est diam sagittis orci, a ornare nisi quam elementum tortor. 
						Proin interdum ante porta est convallis dapibus dictum in nibh. 
					</p>
				</div>
				<div class="tab-pane fade" id="nav-pills-justified-2">
					<h4>Accessible. Affordable. Design.</h4>
					<p>
						Proin interdum ante porta est convallis dapibus dictum in nibh. 
						Aenean quis massa congue metus mollis fermentum eget et tellus. 
						Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
						nec eleifend orci eros id lectus.
					</p>
				</div>
				<div class="tab-pane fade" id="nav-pills-justified-3">
					<h4>Engaging Purposeful and Creative.</h4>
					<p>
						Aenean quis massa congue metus mollis fermentum eget et tellus. 
						Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
						nec eleifend orci eros id lectus.
						Proin interdum ante porta est convallis dapibus dictum in nibh. 
					</p>
				</div>
			</div>
			<!-- end tab-content -->
		</div>
		<!-- end col-6 -->
	</div>
	<!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
	<h5 class="m-t-0">Default Accordions & Theme Options </h5>
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<!-- begin panel-group -->
			<div class="panel-group" id="accordion">
				<!-- begin panel -->
				<div class="panel panel-inverse overflow-hidden">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseOne">
								<i class="fa fa-plus-circle pull-right"></i> 
								Collapsible Group Item One
							</a>
						</h3>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							<h4>A mint of creativity.</h4>
							<p>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
							</p>
						</div>
					</div>
				</div>
				<!-- end panel -->
				<!-- begin panel -->
				<div class="panel panel-inverse overflow-hidden">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseTwo">
								<i class="fa fa-plus-circle pull-right"></i> 
								Collapsible Group Item Two
							</a>
						</h3>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<!-- end panel -->
				<!-- begin panel -->
				<div class="panel panel-inverse overflow-hidden">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseThree">
								<i class="fa fa-plus-circle pull-right"></i> 
								Collapsible Group Item Three
							</a>
						</h3>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<!-- end panel -->
			</div>
			<!-- end panel-group -->
		</div>
		<!-- end col-6 -->
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<!-- begin panel-group -->
			<div class="panel-group" id="theme-accordion">
				<!-- begin panel -->
				<div class="panel panel-success overflow-hidden">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#theme-accordion" href="javascript:;" data-target="#theme-collapse-one">
								<i class="fa fa-plus-circle pull-right"></i> 
								Collapsible Success Item One
							</a>
						</h3>
					</div>
					<div id="theme-collapse-one" class="panel-collapse collapse in">
						<div class="panel-body">
							<h4>A mint of creativity.</h4>
							<p>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
							</p>
						</div>
					</div>
				</div>
				<!-- end panel -->
				<!-- begin panel -->
				<div class="panel panel-purple overflow-hidden">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#theme-accordion" href="javascript:;" data-target="#theme-collapse-two">
								<i class="fa fa-plus-circle pull-right"></i> 
								Collapsible Purple Item Two
							</a>
						</h3>
					</div>
					<div id="theme-collapse-two" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<!-- end panel -->
				<!-- begin panel -->
				<div class="panel panel-primary overflow-hidden">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#theme-accordion" href="javascript:;" data-target="#theme-collapse-three">
								<i class="fa fa-plus-circle pull-right"></i> 
								Collapsible Primary Item Three
							</a>
						</h3>
					</div>
					<div id="theme-collapse-three" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<!-- end panel -->
			</div>
			<!-- end panel-group -->
		</div>
		<!-- end col-6 -->
	</div>
	<!-- end row -->
</div>
<!-- end section-container -->

<!-- begin #footer -->
<div id="footer" class="footer">
	<span class="pull-right">
		<a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
			<i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
		</a>
	</span>
	&copy; 2018 <b>Source Admin</b> All Right Reserved
</div>
<!-- end #footer -->
