<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
	<li class="breadcrumb-item"><a href="javascript:;">UI Elements</a></li>
	<li class="breadcrumb-item active">Widget Boxes</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Widget Boxes <small>header small text goes here...</small></h1>
<!-- end page-header -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<h5 class="m-t-0">Bootstrap Panel</h5>
			<p>
				While not always necessary, sometimes you need to put your DOM in a box. For those situations, try the panel component.
			</p>
			<!-- begin panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-inverse" data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-inverse" data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-inverse" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-inverse" data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
					<h4 class="panel-title">Default Panel</h4>
				</div>
				<div class="panel-body">
					<h3 class="m-t-0">Content Header</h3>
					<p>
						Donec pretium laoreet nulla, sit amet pulvinar diam imperdiet id. 
						Phasellus diam lorem, tempor vel ipsum id, fringilla consequat nibh. 
						Mauris ut ligula nec nisl elementum luctus nec vitae nibh. 
					</p>
					<p>
						Donec viverra eros nec turpis mattis, sed viverra eros maximus. Cras mauris diam, elementum vitae fermentum in, elementum sed purus. Donec posuere venenatis neque, aliquam porttitor arcu ornare in.
					</p>
				</div>
				<div class="panel-footer text-right">
					<a href="#" class="btn btn-white width-100 m-r-5">Cancel</a>
					<a href="#" class="btn btn-inverse width-100">Action</a>
				</div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-6 -->
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<h5 class="m-t-0">Panel with Slimscroll</h5>
			<p>
				You are able to add a scrollbar & fixed height to a panel content with <code>data-scrollbar="true"</code> and <code>data-height="200px"</code>
			</p>
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
					<h4 class="panel-title">Panel with Slimscroll</h4>
				</div>
				<div class="panel-body">
					<div data-scrollbar="true" data-height="218px">
						<p>
							<span class="fa-stack fa-4x pull-left m-r-10 text-inverse">
								<i class="far fa-square fa-stack-2x"></i>
								<i class="fa fa-twitter fa-stack-1x"></i>
							</span>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed enim arcu. 
							Ut posuere in ligula quis ultricies. In in justo turpis. Donec ut dui at massa gravida 
							interdum nec vitae justo. Quisque ullamcorper vehicula dictum. Nullam hendrerit interdum eleifend. 
							Aenean luctus sed arcu laoreet scelerisque. Vivamus non ullamcorper mauris, id sagittis lorem. 
							Proin tincidunt mauris et dolor mattis imperdiet. Sed facilisis mattis diam elementum adipiscing. 
						</p>
						<p>
							<span class="fa-stack fa-4x pull-right m-l-10 text-inverse">
								<i class="far fa-square fa-stack-2x"></i>
								<i class="fa fa-google-plus fa-stack-1x"></i>
							</span>
							Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
							Ut ante velit, pretium non nisi a, egestas placerat diam. Nullam aliquet iaculis ultricies. 
							Aliquam volutpat, sapien quis volutpat elementum, ligula purus auctor diam, at vestibulum nulla augue 
							vel purus. Praesent ac nisl a magna tincidunt interdum sed in turpis. Maecenas nec condimentum risus. 
							In congue pretium est, eget euismod tortor ornare quis.
						</p>
						<p>
							<span class="fa-stack fa-4x pull-left m-r-10 text-inverse">
								<i class="far fa-square fa-stack-2x"></i>
								<i class="fa fa-facebook fa-stack-1x"></i>
							</span>
							Praesent eu ultrices justo. Vestibulum ante 
							ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
							Cras mattis ipsum quis sapien consectetur fringilla. 
							Etiam sagittis sem tempus purus elementum, vitae pretium sapien porta. Curabitur iaculis ante ut aliquam luctus. 
							Vivamus ullamcorper blandit imperdiet. Ut egestas, orci id rhoncus cursus, orci risus scelerisque enim, eget mattis eros lacus quis ligula. 
							Vivamus ullamcorper urna eget hendrerit laoreet.
						</p>
						<p>
							<span class="fa-stack fa-4x pull-right m-l-10 text-inverse">
								<i class="far fa-square fa-stack-2x"></i>
								<i class="fa fa-apple fa-stack-1x"></i>
							</span>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
							Morbi accumsan velit dolor. Donec convallis eleifend magna, at euismod tellus convallis a. 
							Curabitur in nisi dolor. Cras viverra scelerisque orci, sed interdum ligula volutpat non. 
							Nunc eu enim ac neque tempor feugiat. Duis posuere lacus non magna eleifend, 
							non dictum sem feugiat. Duis eleifend condimentum pulvinar.
						</p>
					</div>
				</div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-6 -->
	</div>
	<!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
	<h5 class="m-t-0">Panel Header with UI / Form Element</h5>
	<p>
		You are able to add the element like label, progress bar, radio button, button dropdown and etc.
	</p>
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<!-- begin panel -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-white btn-xs">Action</button>
						<button type="button" class="btn btn-white btn-xs dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div>
					<h4 class="panel-title">Panel Header with Dropdown</h4>
				</div>
				<div class="panel-body">
					<p>Panel Content Here</p>
				</div>
			</div>
			<!-- end panel -->
			<!-- begin panel -->
			<div class="panel panel-purple">
				<div class="panel-heading">
					<div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
						<label class="btn btn-white btn-xs active">
							<input type="radio" name="options" id="option1" checked /> Option 1
						</label>
						<label class="btn btn-white btn-xs">
							<input type="radio" name="options" id="option2" /> Option 2
						</label>
					</div>
					<h4 class="panel-title">Panel Header with Radio Button</h4>
				</div>
				<div class="panel-body">
					<p>Panel Content Here</p>
				</div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-6 -->
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<!-- begin panel -->
			<div class="panel panel-success">
				<div class="panel-heading">
					<div class="progress progress-striped progress-sm active pull-right m-t-5 width-150">
						<div class="progress-bar progress-bar-inverse" style="width: 60%">60%</div>
					</div>
					<h4 class="panel-title">Panel Header with Progress Bar</h4>
				</div>
				<div class="panel-body">
					<p>Panel Content Here</p>
				</div>
			</div>
			<!-- end panel -->
			<!-- begin panel -->
			<div class="panel panel-lime" data-sortable-id="ui-widget-5">
				<div class="panel-heading">
					<h4 class="panel-title"><span class="label label-inverse m-r-10 pull-left">NEW</span> Panel Header with Label</h4>
				</div>
				<div class="panel-body">
					<p>Panel Content Here</p>
				</div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-6 -->
	</div>
	<!-- end row -->
</div>
<!-- end section-container -->


<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
	<h5 class="m-t-0">Panel with UI / Form Element Combination</h5>
	<p>
		Bootstrap alert, toolbar, textarea, tabs and etc are able to use together with the bootstrap panel. 
	</p>
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<!-- begin panel -->
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4 class="panel-title">
						Panel with Alert Box
					</h4>
				</div>
				<div class="alert alert-success fade show">
					<span class="close" data-dismiss="alert">×</span>
					<div><b>Success!</b> Vivamus vestibulum posuere est eu tincidunt.</div>
				</div>
				<div class="panel-body">
					<p>Panel Content Here</p>
				</div>
			</div>
			<!-- end panel -->
			<!-- begin panel -->
			<div class="panel panel-default panel-with-tabs">
				<div class="panel-heading">
					<ul id="panel-tab" class="nav nav-tabs nav-tabs-inverse pull-right">
						<li class="nav-item"><a class="active" href="javascript:;" data-target="#panel-tab-1" data-toggle="tab"><i class="fa fa-home"></i> <span class="hidden-xs">Home</span></a></li>
						<li class="nav-item"><a class="" href="javascript:;" data-target="#panel-tab-2" data-toggle="tab"><i class="fa fa-user"></i> <span class="hidden-xs">Profile</span></a></li>
					</ul>
					<h4 class="panel-title">Panel with Tabs</h4>
				</div>
				<div id="panel-tab-content" class="tab-content">
					<div class="tab-pane fade show active" id="panel-tab-1">
						<p>Tab Content 1.</p>
					</div>
					<div class="tab-pane fade" id="panel-tab-2">
						<p>Tab Content 2.</p>
					</div>
				</div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-6 -->
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<!-- begin panel -->
			<div class="panel panel-info" data-sortable-id="ui-widget-8">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-white" data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-white" data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-white" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-white" data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
					<h4 class="panel-title">Panel with Toolbar & Footer</h4>
				</div>
				<div class="panel-toolbar p-b-5">
					<div class="btn-group m-r-5 m-b-5">
						<a class="btn btn-white" href="javascript:;"><i class="fa fa-bold"></i></a>
						<a class="btn btn-white" href="javascript:;"><i class="fa fa-italic"></i></a>
						<a class="btn btn-white" href="javascript:;"><i class="fa fa-underline"></i></a>
					</div>
					<div class="btn-group m-b-5">
						<a class="btn btn-white" href="javascript:;"><i class="fa fa-align-left"></i></a>
						<a class="btn btn-white" href="javascript:;"><i class="fa fa-align-center"></i></a>
						<a class="btn btn-white" href="javascript:;"><i class="fa fa-align-right"></i></a>
						<a class="btn btn-white" href="javascript:;"><i class="fa fa-align-justify"></i></a>
					</div>
				</div>
				<textarea class="form-control no-rounded-corner" rows="6">This is a form textarea.</textarea>
				<div class="panel-footer text-right">
					<a href="javascript:;" class="btn btn-white width-100">Cancel</a>
					<a href="javascript:;" class="btn btn-inverse width-100 m-l-5">Action</a>
				</div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-6 -->
	</div>
	<!-- end row -->
</div>
<!-- end section-container -->

<!-- begin section-container -->
<div class="section-container section-with-top-border p-b-5">
	<h5 class="m-t-0">Panel Header Theme</h5>
	<p>
		There have 10 panel header theme that you may choose to fulfil your needs.
	</p>
	<!-- begin row -->
	<div class="row">
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<!-- begin panel -->
			<div class="panel panel-default overflow-hidden m-b-10">
				<div class="panel-heading">
					<h4 class="panel-title">Panel Default</h4>
				</div>
			</div>
			<!-- end panel -->
			<!-- begin panel -->
			<div class="panel panel-white overflow-hidden m-b-10">
				<div class="panel-heading">
					<h4 class="panel-title">Panel White</h4>
				</div>
			</div>
			<!-- end panel -->
			<!-- begin panel -->
			<div class="panel panel-inverse overflow-hidden m-b-10">
				<div class="panel-heading">
					<h4 class="panel-title">Panel Inverse</h4>
				</div>
			</div>
			<!-- end panel -->
			<!-- begin panel -->
			<div class="panel panel-purple overflow-hidden m-b-10">
				<div class="panel-heading">
					<h4 class="panel-title">Panel Purple</h4>
				</div>
			</div>
			<!-- end panel -->
			<!-- begin panel -->
			<div class="panel panel-primary overflow-hidden">
				<div class="panel-heading">
					<h4 class="panel-title">Panel Primary</h4>
				</div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-6 -->
		<!-- begin col-6 -->
		<div class="col-lg-6">
			<!-- begin panel -->
			<div class="panel panel-info overflow-hidden m-b-10">
				<div class="panel-heading">
					<h4 class="panel-title">Panel Info</h4>
				</div>
			</div>
			<!-- end panel -->
			<!-- begin panel -->
			<div class="panel panel-success overflow-hidden m-b-10">
				<div class="panel-heading">
					<h4 class="panel-title">Panel Success</h4>
				</div>
			</div>
			<!-- end panel -->
			<!-- begin panel -->
			<div class="panel panel-lime overflow-hidden m-b-10">
				<div class="panel-heading">
					<h4 class="panel-title">Panel Lime</h4>
				</div>
			</div>
			<!-- end panel -->
			<!-- begin panel -->
			<div class="panel panel-warning overflow-hidden m-b-10">
				<div class="panel-heading">
					<h4 class="panel-title">Panel Warning</h4>
				</div>
			</div>
			<!-- end panel -->
			<!-- begin panel -->
			<div class="panel panel-danger overflow-hidden">
				<div class="panel-heading">
					<h4 class="panel-title">Panel Danger</h4>
				</div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-6 -->
	</div>
	<!-- end row -->
</div>
<!-- end section-container -->

<!-- begin #footer -->
<div id="footer" class="footer">
	<span class="pull-right">
		<a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
			<i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
		</a>
	</span>
	&copy; 2018 <b>Source Admin</b> All Right Reserved
</div>
<!-- end #footer -->
