<div ng-controller="widgetsController as widgets">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item active">Widgets</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Widgets <small>header small text goes here...</small></h1>
    <!-- end page-header -->

    <!-- begin section-container -->
    <div class="section-container section-with-top-border p-b-5">
        <h5 class="m-t-0">Widget Analytics</h5>
        <p class="m-b-15">
            Widget Analytics is used to show the summary of the statistic and yet styled with beautiful css. 
            There have 5 different elements of widget that allow you to customize the widget in order to fulfil your needs.
        </p>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-2 -->
            <div class="col-lg-2">
                <!-- begin widget -->
                <div class="widget widget-stat bg-white">
                    <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                    <div class="widget-stat-number">1,293 <i class="fa fa-caret-up text-success"></i></div>
                    <div class="widget-stat-text">Visitors</div>
                </div>
                <!-- end widget -->
                <!-- begin widget -->
                <div class="widget widget-stat bg-primary text-white">
                    <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                    <div class="widget-stat-text">Revenue</div>
                    <div class="widget-stat-number">$139K</div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-2 -->
            <!-- begin col-2 -->
            <div class="col-lg-2">
                <!-- begin widget -->
                <div class="widget widget-stat bg-inverse text-white">
                    <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                    <div class="widget-stat-number">10.29%</div>
                    <div class="widget-stat-text">Bounce Rate</div>
                </div>
                <!-- end widget -->
                <!-- begin widget -->
                <div class="widget widget-stat bg-white">
                    <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                    <div class="widget-stat-text">New Visitors</div>
                    <div class="widget-stat-number">839 <i class="fa fa-caret-down text-danger"></i></div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-2 -->
            <!-- begin col-4 -->
            <div class="col-lg-4">
                <!-- begin widget -->
                <div class="widget widget-stat text-white bg-purple">
                    <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                    <div class="widget-stat-content">
                        <div class="widget-stat-title"><i class="fa fa-trophy fa-fw"></i> Financial Results</div>
                        <div class="widget-stat-text m-b-10">from 1st January 2015 - 31st September 2015</div>
                        <div class="widget-stat-number m-b-10">1,302,493</div>
                        <div class="widget-stat-chart">
                            <div id="sparkline-line-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-lg-4">
                <!-- begin widget -->
                <div class="widget widget-stat text-white bg-primary">
                    <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                    <div class="widget-stat-content">
                        <div class="widget-stat-title"><i class="fab fa-dropbox fa-fw"></i> Total Item Sold</div>
                        <div class="widget-stat-text m-b-10">from 1st January 2015 - 31st September 2015</div>
                        <div class="widget-stat-number m-b-10">123,293</div>
                        <div class="widget-stat-chart">
                            <div id="sparkline-bar-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
        <!--begin row -->
        <div class="row">
            <!-- begin col-3 -->
            <div class="col-lg-3">
                <!-- begin widget -->
                <div class="widget widget-stat bg-inverse text-white">
                    <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                    <div class="widget-stat-icon"><i class="fa fa-users"></i></div>
                    <div class="widget-stat-info">
                        <div class="widget-stat-title">New Visitors</div>
                        <div class="widget-stat-number">839</div>
                        <div class="widget-stat-text">(3.10% better than last week)</div>
                    </div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-3 -->
            <!-- begin col-3 -->
            <div class="col-lg-3">
                <!-- begin widget -->
                <div class="widget widget-stat bg-success text-white">
                    <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                    <div class="widget-stat-icon"><i class="fa fa-gem"></i></div>
                    <div class="widget-stat-info">
                        <div class="widget-stat-title">New Registered VIP</div>
                        <div class="widget-stat-number">2,291</div>
                        <div class="widget-stat-text">(10.2% better than last week)</div>
                    </div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-3 -->
            <!-- begin col-3 -->
            <div class="col-lg-3">
                <!-- begin widget -->
                <div class="widget widget-stat bg-primary text-white">
                    <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                    <div class="widget-stat-icon"><i class="fa fa-hdd"></i></div>
                    <div class="widget-stat-info">
                        <div class="widget-stat-title">Total Bandwidth Used</div>
                        <div class="widget-stat-number">982Gb</div>
                        <div class="widget-stat-text">(1,239Gb Left)</div>
                    </div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-3 -->
            <!-- begin col-3 -->
            <div class="col-lg-3">
                <!-- begin widget -->
                <div class="widget widget-stat bg-info text-white">
                    <div class="widget-stat-btn"><a href="#" data-click="widget-reload"><i class="fa fa-redo"></i></a></div>
                    <div class="widget-stat-icon"><i class="fa fa-file"></i></div>
                    <div class="widget-stat-info">
                        <div class="widget-stat-title">Pending Invoice</div>
                        <div class="widget-stat-number">29</div>
                        <div class="widget-stat-text">(3 new transaction)</div>
                    </div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-3 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end section-container -->

    <!-- begin section-container -->
    <div class="section-container section-with-top-border p-b-5">
        <h5 class="m-t-0">Blog  / Gallery Widget</h5>
        <p class="m-b-15">
            Blog  / Gallery Widget allow you to display the summary of the latest post & image in beautiful way.  
        </p>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-lg-4">
                <!-- begin widget -->
                <div class="widget widget-blog">
                    <div class="widget-blog-cover">
                        <img src="../assets/img/widget-blog-cover.jpg" alt="" />
                    </div>
                    <div class="widget-blog-author">
                        <div class="widget-blog-author-image">
                            <img src="../assets/img/user_3.jpg" alt="" />
                        </div>
                        <div class="widget-blog-author-info">
                            <h5 class="m-t-0 m-b-1">Serhiy Navin</h5>
                            <p class="text-muted m-0 f-s-11">Front End Designer</p>
                        </div>
                    </div>
                    <div class="widget-blog-content">
                        <h5>Lorem ipsum dolor sit amec adipiscing elit.</h5>
                        <p>
                            Nulla condimentum sodales urna, at consequat urna laoreet non. Aenean id porttitor odio, id elementum augue. Donec rhoncus semper mi.
                        </p>
                    </div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-lg-4">
                <!-- begin widget -->
                <div class="widget widget-gallery">
                    <div class="widget-gallery-header">
                        <h5>Latest Uploaded Image</h5>
                        <p class="text-muted m-t-3">
                            last updated on 29 November 2015
                        </p>
                    </div>
                    <ul class="widget-gallery-list clearfix">
                        <li><a href="#"><img src="../assets/img/media-1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/img/media-2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/img/media-3.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/img/media-4.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/img/media-5.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/img/media-6.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/img/media-7.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/img/media-8.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/img/media-9.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/img/media-10.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/img/media-11.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="../assets/img/media-12.jpg" alt="" /></a></li>
                    </ul>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-lg-4">
                <!-- begin widget -->
                <a href="javascript:;" class="widget widget-image">
                    <div class="widget-image-cover">
                        <img src="../assets/img/widget-gallery-cover.jpg" alt="" />
                    </div>
                    <div class="widget-image-info">
                        <h5>Consectetur adipiscing elit. </h5>
                        <p>
                            Curabitur ullamcorper mi ut rutrum gravida commodo tellus.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="widget-image-user">
                                    <div class="widget-image-user-image">
                                        <img src="../assets/img/user_2.jpg" alt="" />
                                    </div> 
                                    <div class="widget-image-user-info">
                                        <div>Haydar Juan</div>
                                        <span>45 minutes ago</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ul class="widget-image-rating">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                                <div class="widget-image-rating-text">8,281 Reviews (4.0/5)</div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- end widget -->
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end section-container -->

    <!-- begin section-container -->
    <div class="section-container section-with-top-border p-b-5">
        <h5 class="m-t-0">Widget Chart</h5>
        <p class="m-b-15">
            Widget Chart allows you to show the chart in organize & beautiful way.
        </p>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-8 -->
            <div class="col-lg-8">
                <!-- begin widget -->
                <div class="widget widget-chart">
                    <div class="widget-header p-t-10">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4 class="m-b-5 m-t-10">Visitor Analytics</h4>
                                <p class="f-s-11">
                                    1 November 2015 - 31 November 2015 <a href="#" class="m-l-5"><i class="fa fa-cog"></i> Edit</a>
                                </p>
                            </div>
                            <div class="col-lg-6 text-right-md">
                                <h4 class="m-b-5 m-t-10">3,192,489</h4>
                                <p class="f-s-11">
                                    Total Visitors
                                </p>
                            </div>
                        </div>
                    </div>
                    <div flot dataset="widgets.visitorChartData" options="widgets.visitorChartOptions" height="250"></div>
                    <ul class="widget-chart-placeholder text-center inline m-t-10">
                        <li><span class="legend-circle bg-primary"></span> Total Visitors</li>
                        <li><span class="legend-circle bg-info"></span> New Visitors</li>
                        <li><span class="legend-circle bg-inverse"></span> Returned Visitors</li>
                    </ul>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-8 -->
            <!-- begin col-4 -->
            <div class="col-lg-4">
                <!-- begin widget -->
                <div class="widget">
                    <div class="widget-header">
                        <h4 class="m-b-5 m-t-5">Browser Visitors</h4>
                        <p class="f-s-11 m-b-10">
                            1 November 2015 - 31 November 2015 <a href="#" class="m-l-5"><i class="fa fa-cog"></i> Edit</a>
                        </p>
                    </div>
                    <div flot dataset="widgets.browserChartData" options="widgets.browserChartOptions" height="270"></div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-lg-4">
                <!-- begin widget -->
                <div class="widget widget-stat">
                    <div class="widget-stat-header bg-primary">
                        <h5 class="text-center text-white m-t-0">Annual Report 2015</h5>
                        <div flot dataset="widgets.flotLineChartData" options="widgets.flotLineChartOptions" height="150"></div>
                    </div>
                    <div class="widget-stat-content">
                        <div class="row text-center">
                            <div class="col-xs-6">
                                <div class="text-muted text-ellipsis">Gross Revenue</div>
                                <h4 class="m-t-5 m-b-0">8,293,291</h4>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-muted text-ellipsis">Net Revenue</div>
                                <h4 class="m-t-5 m-b-0">4,112,775</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-lg-4">
                <!-- begin widget -->
                <div class="widget widget-stat">
                    <div class="widget-stat-header bg-inverse">
                        <h5 class="text-center text-white m-t-0">Customer Analytics</h5>
                        <div flot dataset="widgets.flotBarChartData" options="widgets.flotBarChartOptions" height="150"></div>
                    </div>
                    <div class="widget-stat-content">
                        <div class="row text-center">
                            <div class="col-xs-6">
                                <div class="text-muted text-ellipsis">New Customer</div>
                                <h4 class="m-t-5 m-b-0">92,912</h4>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-muted text-ellipsis">Returned Customer</div>
                                <h4 class="m-t-5 m-b-0">728,212</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-lg-4">
                <!-- begin widget -->
                <div class="widget widget-stat">
                    <div class="widget-stat-header bg-lime">
                        <h5 class="text-center text-white m-t-0">Customer Age Analytics</h5>
                        <div flot dataset="widgets.flotPieChartData" options="widgets.flotPieChartOptions" height="150"></div>
                    </div>
                    <div class="widget-stat-content">
                        <div class="row text-center">
                            <div class="col-xs-3">
                                <div class="text-muted text-ellipsis">Age 10+</div>
                                <h4 class="m-t-5 m-b-0">2,312</h4>
                            </div>
                            <div class="col-xs-3">
                                <div class="text-muted text-ellipsis">Age 20+</div>
                                <h4 class="m-t-5 m-b-0">8,992</h4>
                            </div>
                            <div class="col-xs-3">
                                <div class="text-muted text-ellipsis">Age 30+</div>
                                <h4 class="m-t-5 m-b-0">3,402</h4>
                            </div>
                            <div class="col-xs-3">
                                <div class="text-muted text-ellipsis">Age 40+</div>
                                <h4 class="m-t-5 m-b-0">4,293</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end section-container -->

    <!-- begin section-container -->
    <div class="section-container section-with-top-border p-b-5">
        <h5 class="m-t-0">Widget Chat / Map</h5>
        <p class="m-b-15">
            Widget Chat allows you to have a quick overview on the latest message that you have received. Widget Map Allow you to have a quick overview on   
        </p>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-lg-4">
                <!-- begin widget -->
                <div class="widget widget-chat">
                    <div class="widget-header bg-inverse">
                        <h4 class="text-white">Chat History</h4>
                    </div>
                    <div class="widget-body">
                        <ul class="widget-chat-list">
                            <li>
                                <a href="#" data-toggle="chat-detail">
                                    <div class="chat-image">
                                        <img src="../assets/img/user_1.jpg" alt="" />
                                    </div>
                                    <div class="chat-info has-new">
                                        <h4>Jengo Chima (1)</h4>
                                        <p>
                                            Aliquam erat volutpat. Etiam vulputate arcu feugiat ante imperdiet, ut bibendum ipsum rhoncus.
                                        </p>
                                        <span class="chat-time">08:41</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="chat-detail">
                                    <div class="chat-image">
                                        <img src="../assets/img/user_2.jpg" alt="" />
                                    </div>
                                    <div class="chat-info">
                                        <h4>Pontus Dragomir</h4>
                                        <p>
                                            <i class="fa fa-check send-icon text-success-light"></i> Sed quis ante rutrum, cursus enim sit amet, placerat turpis.
                                        </p>
                                        <span class="chat-time">YESTERDAY</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="chat-detail">
                                    <div class="chat-image">
                                        <img src="../assets/img/user_3.jpg" alt="" />
                                    </div>
                                    <div class="chat-info">
                                        <h4>Lovro Étienne</h4>
                                        <p>
                                            <i class="fa fa-check send-icon text-success-light"></i> Morbi ultrices diam vitae placerat suscipit. Morbi consectetur ante et ex mollis eleifend.
                                        </p>
                                        <span class="chat-time">YESTERDAY</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="chat-detail">
                                    <div class="chat-image">
                                        <img src="../assets/img/user_4.jpg" alt="" />
                                    </div>
                                    <div class="chat-info">
                                        <h4>Kendal Matheus</h4>
                                        <p>
                                            <i class="fa fa-check send-icon text-success-light"></i> Aenean consectetur in velit vitae faucibus. Fusce libero est, euismod eu erat eu, luctus rutrum nunc.
                                        </p>
                                        <span class="chat-time">YESTERDAY</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="chat-detail">
                                    <div class="chat-image">
                                        <img src="../assets/img/user_5.jpg" alt="" />
                                    </div>
                                    <div class="chat-info">
                                        <h4>Eivind Andrew</h4>
                                        <p>
                                            <i class="fa fa-check send-icon text-success-light"></i> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                        </p>
                                        <span class="chat-time">YESTERDAY</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="widget-chat-detail">
                            <div class="widget-header bg-inverse">
                                <h4 class="text-white"><a href="#" data-dismiss="chat-detail" class="m-r-5 text-white"><i class="fa fa-arrow-left"></i> Group Chat</a></h4>
                            </div>
                            <div class="widget-chat-detail-container">
                                <div data-scrollbar="true" data-height="100%">
                                    <ul class="widget-chat-detail-list">
                                        <li>
                                            <a href="javascript:;" class="image"><img src="../assets/img/user_7.jpg" alt="" /></a>
                                            <div class="chat-info">
                                                <span class="time">04:15 am</span>
                                                <a href="#" class="name">Neck Jolly</a>
                                                <div class="message">
                                                    Euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                                </div>
                                            </div>
                                        </li>
                                        <li class="right highlight">
                                            <a href="javascript:;" class="image"><img src="../assets/img/user_6.jpg" alt="" /></a>
                                            <div class="chat-info">
                                                <span class="time">05:21 am</span>
                                                <a href="#" class="name">Sean Ngu</a>
                                                <div class="message">
                                                    Nullam posuere, nisl a varius rhoncus, risus tellus hendrerit neque.
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="image"><img src="../assets/img/user_1.jpg" alt="" /></a>
                                            <div class="chat-info">
                                                <span class="time">12:20pm</span>
                                                <a href="#" class="name">Shag Strap</a>
                                                <div class="message">
                                                    Nullam iaculis pharetra pharetra. Proin sodales tristique sapien mattis placerat.
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="image"><img src="../assets/img/user_5.jpg" alt="" /></a>
                                            <div class="chat-info">
                                                <span class="time">Just Now</span>
                                                <a href="javascript:;" class="name">Sowse Bawdy</a>
                                                <div class="message">
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit volutpat. Praesent mattis interdum arcu eu feugiat.
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget-chat-input">
                                <form method="POST" name="widget_chat_form" class="form-input-flat">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Type a message" />
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-inverse">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-8 -->
            <div class="col-lg-8">
                <!-- begin widget -->
                <div class="widget p-0">
                    <div class="row row-space-0">
                        <div class="col-lg-7">
                            <div id="vector-map" data-height="387px" class="widget-map-left"></div>
                        </div>
                        <div class="col-lg-5">
                            <h5 class="p-l-20 p-t-3">World Population</h5>
                            <div class="table-responsive m-b-0">
                                <table class="table table-bordered table-hover table-last-row-no-border-bottom m-b-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Country</th>
                                            <th class="text-nowrap">Total (millions)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>China</td>
                                            <td>1,458</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>India</td>
                                            <td>1,398</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>United States</td>
                                            <td>352</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Indonesia</td>
                                            <td>273</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Brazil</td>
                                            <td>223</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Pakistan</td>
                                            <td>226</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Bangladesh</td>
                                            <td>198</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Nigeria</td>
                                            <td>151</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-8 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end section-container -->

    <!-- begin section-container -->
    <div class="section-container section-with-top-border p-b-5">
        <h5 class="m-t-0">Todo List / Simple Form / Task List Widget</h5>
        <p class="m-b-15">
            To-do List & Task List Widget allow you to have a quick overview / summary about the pending task & progress that you have.
        </p>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-4 -->
            <div class="col-lg-6 col-lg-4">
                <!-- begin widget -->
                <div class="widget">
                    <div class="widget-header bg-inverse">
                        <ul class="widget-header-btn">
                            <li><a href="javascript:;" class="btn btn-white"><i class="fa fa-plus"></i></a></li>
                        </ul>
                        <h4 class="text-white">Todo List</h4>
                    </div>
                    <ul class="widget-todolist">
                        <li class="widget-todolist-title">Today</li>
                        <li class="completed">
                            <div class="checkbox">
                                <label>
                                    <i class="far fa-square" data-click="todolist-checkbox"></i>
                                    <input type="checkbox" name="todolist_checkbox" checked />
                                </label>
                            </div>
                            <div class="info">
                                <h4>Mobile Apps Development Discussion</h4>
                                <p>Today 11:15pm</p>
                            </div>
                            <div class="action">
                                <a href="#" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:;">Edit</a></li>
                                    <li><a href="javascript:;">Archive</a></li>
                                    <li><a href="javascript:;">Delete</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <i class="far fa-square" data-click="todolist-checkbox"></i>
                                    <input type="checkbox" name="todolist_checkbox" />
                                </label>
                            </div>
                            <div class="info">
                                <h4>Meet with Client <span class="label label-danger">URGENT</span></h4>
                                <p>Today 3:15pm</p>
                            </div>
                            <div class="action">
                                <a href="#" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:;">Edit</a></li>
                                    <li><a href="javascript:;">Archive</a></li>
                                    <li><a href="javascript:;">Delete</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="widget-todolist-title">Tomorrow</li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <i class="far fa-square" data-click="todolist-checkbox"></i>
                                    <input type="checkbox" name="todolist_checkbox" />
                                </label>
                            </div>
                            <div class="info">
                                <h4>Business Proposal Presentation</h4>
                                <p>Tomorrow 12:45pm</p>
                            </div>
                            <div class="action">
                                <a href="#" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:;">Edit</a></li>
                                    <li><a href="javascript:;">Archive</a></li>
                                    <li><a href="javascript:;">Delete</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <i class="far fa-square" data-click="todolist-checkbox"></i>
                                    <input type="checkbox" name="todolist_checkbox" />
                                </label>
                            </div>
                            <div class="info">
                                <h4>New Idea Brainstorming</h4>
                                <p>Tomorrow 5:30pm</p>
                            </div>
                            <div class="action">
                                <a href="#" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:;">Edit</a></li>
                                    <li><a href="javascript:;">Archive</a></li>
                                    <li><a href="javascript:;">Delete</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <i class="far fa-square" data-click="todolist-checkbox"></i>
                                    <input type="checkbox" name="todolist_checkbox" />
                                </label>
                            </div>
                            <div class="info">
                                <h4>Annual Dinner Preparation</h4>
                                <p>Tomorrow 6:30pm</p>
                            </div>
                            <div class="action">
                                <a href="#" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:;">Edit</a></li>
                                    <li><a href="javascript:;">Archive</a></li>
                                    <li><a href="javascript:;">Delete</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    <i class="far fa-square" data-click="todolist-checkbox"></i>
                                    <input type="checkbox" name="todolist_checkbox" />
                                </label>
                            </div>
                            <div class="info">
                                <h4>Annual Dinner</h4>
                                <p>Tomorrow 8:30pm</p>
                            </div>
                            <div class="action">
                                <a href="#" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:;">Edit</a></li>
                                    <li><a href="javascript:;">Archive</a></li>
                                    <li><a href="javascript:;">Delete</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-lg-6 col-lg-4">
                <!-- begin widget -->
                <div class="widget widget-form">
                    <div class="widget-header bg-inverse">
                        <h4 class="text-white">Widget Simple Form</h4>
                    </div>
                    <div class="widget-body">
                        <form class="form-input-flat" method="POST" name="sample_form">
                            <div class="form-group">
                                <label class="col-form-label">Title</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Content</label>
                                <textarea class="form-control" rows="7"></textarea>
                            </div>
                            <div class="m-b-15">
                                <button type="submit" class="btn btn-lime btn-block btn-lg">Quick Post</button>
                            </div>
                            <p class="help-block text-muted f-s-11 m-b-0">
                                <span class="text-danger">*</span> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            </p>
                        </form>
                    </div>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-4 -->
            <!-- begin col-4 -->
            <div class="col-lg-6 col-lg-4">
                <!-- begin widget -->
                <div class="widget">
                    <div class="widget-header bg-inverse">
                        <h4 class="text-white">Task Lists</h4>
                    </div>
                    <ul class="widget-task-list">
                        <li>
                            <h4>Mobile App Development</h4>
                            <p>Due: 12 November 2015</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-success" style="width: 80%">80%</div>
                            </div>
                        </li>
                        <li>
                            <h4>UI Element Improvement</h4>
                            <p>Due: 06 December 2015</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-warning" style="width: 50%">50%</div>
                            </div>
                        </li>
                        <li>
                            <h4>New Server Installation</h4>
                            <p>Due: 10 December 2015</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-danger" style="width: 20%">20%</div>
                            </div>
                        </li>
                        <li>
                            <h4>Windows 10 Installation</h4>
                            <p>Due: 12 December 2015</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-grey" style="width: 10%">10%</div>
                            </div>
                        </li>
                        <li>
                            <h4>Business Proposal Preparation</h4>
                            <p>Due: 15 December 2015</p>
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-primary" style="width: 90%">90%</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end widget -->
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end section-container -->

    <!-- begin #footer -->
    <div id="footer" class="footer">
        <span class="pull-right">
            <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
                <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
            </a>
        </span>
        &copy; 2015 <b>Source Admin</b> All Right Reserved
    </div>
    <!-- end #footer -->
</div>